<a href="https://colab.research.google.com/github/jofmorenore/CE/blob/main/Parcial1_CE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install rpy2==3.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rpy2==3.5.1
  Downloading rpy2-3.5.1.tar.gz (201 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.7/201.7 KB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (1.15.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (3.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (2022.7.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (4.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.10.0->rpy2==3.5.1) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->rpy2==3.5.1) (2.1.2)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal->rpy2==3.5.1) (0.1.0.post0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal->rpy2==3.5.1) (2022.7)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... done
  Created wheel for rpy2: filename=rpy2-3.5.1-cp39-cp39-linux_x86_64.whl size=317901 sha256=be61034edb74bc00bcc4d2643330a4df45609d71a819714c1f7346d4a5e751f0
  Stored in directory: /root/.cache/pip/wheels/09/e7/bc/33685b60ab54dba969596dd87244ee9f4c2e83dff9a53d4f20
Successfully built rpy2
Installing collected packages: rpy2
  Attempting uninstall: rpy2
    Found existing installation: rpy2 3.5.5
    Uninstalling rpy2-3.5.5:
      Successfully uninstalled rpy2-3.5.5
Successfully installed rpy2-3.5.1

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
getwd()
#setwd("C:/Nano/Docencia/Curso")
setwd('/content/drive/MyDrive/Curso')
getwd()

[1] "/content/drive/.shortcut-targets-by-id/1SmBErdxXLyp_NCHsJPGVjQdlO7wg9I8T/Curso"

In [ ]:
%%R
list.files()

 [1] "admin00.dbf"               "admin00.prj"
 [3] "admin00.shp"               "admin00.shx"
 [5] "Advertising.xlsx"          "airrpm.txt"
 [7] "anime00s.csv"              "anime00s.pkl"
 [9] "anime10s.csv"              "anime10s.pkl"
[11] "anime80s.csv"              "anime80s.pkl"
[13] "anime90s.csv"              "anime90s.pkl"
[15] "animeratings.csv"          "counties.xlsx"
[17] "cursos.txt"                "docentes.csv"
[19] "elections.xlsx"            "Estaciones.xlsx"
[21] "exportaciones.xlsx"        "mcycle.xlsx"
[23] "MGN_DPTO_POLITICO.CPG"     "MGN_DPTO_POLITICO.dbf"
[25] "MGN_DPTO_POLITICO.prj"     "MGN_DPTO_POLITICO.sbn"
[27] "MGN_DPTO_POLITICO.sbx"     "MGN_DPTO_POLITICO.shp"
[29] "MGN_DPTO_POLITICO.shp.xml" "MGN_DPTO_POLITICO.shx"
[31] "MGN_MPIO_POLITICO.CPG"     "MGN_MPIO_POLITICO.dbf"
[33] "MGN_MPIO_POLITICO.prj"     "MGN_MPIO_POLITICO.sbn"
[35] "MGN_MPIO_POLITICO.sbx"     "MGN_MPIO_POLITICO.shp"
[37] "MGN_MPIO_POLITICO.shp.xml" "MGN_MPIO_POLITICO.shx"
[39] "mismacros.sas"             "mismacros.txt"
[41] "mismacrospython.py"        "mismacrospython.txt"
[43] "Municipios.xlsx"           "namebasics.rar"
[45] "ofrecidos.xlsx"            "ratings.pkl"
[47] "sample.xlsx"               "season-1415.xlsx"
[49] "season-1516.xlsx"          "season-1617.xlsx"
[51] "season-1718.xlsx"          "season-1819.xlsx"
[53] "species.xlsx"              "spruce.txt"
[55] "states.xlsx"               "stocks.dlm"
[57] "titlebasics.rar"           "titleprincipals.rar"
[59] "titleratings.rar"

In [ ]:
%%R
library(readr)
library(dplyr)
library(stringr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
%%R
install.packages("sqldf")
library(sqldf)

In [ ]:
%%R
amenhorrea = read_delim("/content/drive/MyDrive/amenhorrea.dat", delim = "\t")
str(amenhorrea)

Rows: 4604 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
dbl (4): ID, Dose, Time, amenhorrea

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
spc_tbl_ [4,604 × 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ ID        : num [1:4604] 1 1 1 1 2 2 2 2 3 3 ...
 $ Dose      : num [1:4604] 0 0 0 0 0 0 0 0 0 0 ...
 $ Time      : num [1:4604] 0 1 2 3 0 1 2 3 0 1 ...
 $ amenhorrea: num [1:4604] 0 NA NA NA 0 NA NA NA 0 NA ...
 - attr(*, "spec")=
  .. cols(
  ..   ID = col_double(),
  ..   Dose = col_double(),
  ..   Time = col_double(),
  ..   amenhorrea = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [ ]:
%%R
summary(amenhorrea)

       ID            Dose             Time        amenhorrea
 Min.   :   1   Min.   :0.0000   Min.   :0.00   Min.   :0.0000
 1st Qu.: 288   1st Qu.:0.0000   1st Qu.:0.75   1st Qu.:0.0000
 Median : 576   Median :0.0000   Median :1.50   Median :0.0000
 Mean   : 576   Mean   :0.4996   Mean   :1.50   Mean   :0.3404
 3rd Qu.: 864   3rd Qu.:1.0000   3rd Qu.:2.25   3rd Qu.:1.0000
 Max.   :1151   Max.   :1.0000   Max.   :3.00   Max.   :1.0000
                                                NA's   :988

# 1. Cuantas mujeres hicieron parte del experimento?

In [ ]:
%%R
dplyr::n_distinct(amenhorrea$ID) # 1151 mujeres
#distinct(amenhorrea, ID, Time) %>% dim()

[1] 1151

In [ ]:
%%R
##### Solución 1
print(sqldf("select count(distinct ID) as mujeres
       from amenhorrea"))
##### Solución 2
print(amenhorrea %>% summarise(mujeres=n_distinct(ID)))
##### Solución 3
print(with(amenhorrea,length(unique(ID))))

  mujeres
1    1151
# A tibble: 1 × 1
  mujeres
    <int>
1    1151
[1] 1151

# 2. Cuantas mujeres recibieron 150 mg de acetato de medroxiprogesterona?

In [ ]:
%%R
amenhorrea %>% group_by(Dose) %>% summarise(n_150mg = n_distinct(ID)) %>% filter(Dose ==1)
#amenhorrea %>% filter(Dose ==1) %>% distinct(ID) %>% dim()

[1] 575   1

In [ ]:
%%R
##### Solución 1
print(sqldf("select count(distinct ID) as mujeres
       from amenhorrea
	   where Dose=1"))
##### Solución 2
print(amenhorrea %>% filter(Dose==1) %>% summarise(mujeres=n_distinct(ID)))
##### Solución 3
print(with(subset(amenhorrea,Dose==1),length(unique(ID))))

  mujeres
1     575
# A tibble: 1 × 1
  mujeres
    <int>
1     575
[1] 575

# 3. En el grupo tratado con 100 mg de acetato de medroxiprogesterona.

In [ ]:
%%R
# 3.1 Cuantas mujeres tienen información completa (es decir, 0 valores perdidos) sobre la presencia o ausencia de amenorrea?
grupo_100mg = amenhorrea %>% filter(Dose == 0 & !is.na(amenhorrea)) %>% 
              group_by(ID) %>% summarise(n = n_distinct(Time)) 

grupo_100mg %>% group_by(n) %>% summarise(n = n())

# A tibble: 4 × 1
      n
  <int>
1    99
2    68
3    48
4   361

In [ ]:
%%R
amenhorrea <- within(amenhorrea,perdido <- ifelse(is.na(amenhorrea),1,0))

##### Solución 1
A3 <- sqldf("select ID, sum(perdido) as perdidos
             from amenhorrea
	         where Dose=0
	         group by ID")
print(with(A3,table(perdidos)))

##### Solución 2
a3 <- amenhorrea %>%
      filter(Dose==0) %>%
	  group_by(ID) %>%
	  summarise(perdidos=sum(perdido)) %>% as.data.frame()
print(with(a3,table(perdidos)))

##### Solución 3
#Aa3 <- mytable(perdido ~ ID,data=amenhorrea,subset={Dose==0},cum=FALSE,percent = FALSE)
#print(with(Aa3,table(Frequency)))

##### Solución 4
aA3 <- aggregate(perdido ~ ID,sum,data=subset(amenhorrea,Dose==0))
print(with(aA3,table(perdido)))

perdidos
  0   1   2   3
361  48  68  99
perdidos
  0   1   2   3
361  48  68  99
perdido
  0   1   2   3
361  48  68  99

# 4. En el grupo de mujeres tratadas con 150 mg de acetato de medroxipro-gesterona y que no tienen valores faltantes sobre la presencia o ausencia de amenorrea.

In [ ]:
%%R
# Cuantas mujeres siempre presentaron amenorrea?
grupo_150mg = amenhorrea %>% filter(Dose == 1, !is.na(amenhorrea)) %>% 
              group_by(ID) %>% summarise(prop = sum(amenhorrea)/n_distinct(Time)) %>%
              group_by(prop) %>% summarise(n = n())

filter(grupo_150mg, prop %in% c(0,1))

# A tibble: 2 × 2
   prop     n
  <dbl> <int>
1     0   237
2     1    80

In [ ]:
%%R
amenhorrea %>% filter(Dose == 1) %>% 
              group_by(ID) %>% summarise(prop = sum(amenhorrea)/n_distinct(Time)) %>%
              group_by(prop) %>% summarise(n = n())%>% 
              filter(prop %in% c(0,1))

# A tibble: 2 × 2
   prop     n
  <dbl> <int>
1     0   119
2     1    28

In [ ]:
%%R
##### Solución 2
a4a <- amenhorrea %>%
       filter(Dose==1) %>%
	   group_by(ID) %>%
	   summarise(perdidos=sum(perdido),mina=min(amenhorrea),maxa=max(amenhorrea)) %>%
	   filter(perdidos==0 & mina==1 & maxa==1) #%>% as.data.frame()
print(nrow(a4a))
a4b <- amenhorrea %>%
       filter(Dose==1) %>%
	   group_by(ID) %>%
	   summarise(perdidos=sum(perdido),mina=min(amenhorrea),maxa=max(amenhorrea)) %>%
	   filter(perdidos==0 & mina==0 & maxa==0) %>% as.data.frame()
print(nrow(a4b))

[1] 28
[1] 119

In [ ]:
%%R
##### Solución 1
A4a <- sqldf("select ID
              from amenhorrea
	          where Dose=1
	          group by ID
			  having sum(perdido)=0 and min(amenhorrea)=1 and max(amenhorrea)=1")
print(nrow(A4a))
A4b <- sqldf("select ID
              from amenhorrea
	          where Dose=1
	          group by ID
			  having sum(perdido)=0 and min(amenhorrea)=0 and max(amenhorrea)=0")
print(nrow(A4b))

[1] 28
[1] 119

# 5. La proporción de mujeres que presentaron amenorrea en el grupo tratado con 150 mg de acetato de medroxiprogesterona fue, a en cada punto del tiempo, menor que en el grupo tratado con 100 mg de este mismo medicamento?

In [ ]:
%%R
amenhorrea %>% group_by(Dose, Time) %>% summarise(prop = sum(amenhorrea, na.rm =T)/n())
#amenhorrea %>% group_by(Dose, Time) %>% summarise(prop = cumsum(amenhorrea, na.rm =T)/n())

`summarise()` has grouped output by 'Dose'. You can override using the
`.groups` argument.
# A tibble: 8 × 3
# Groups:   Dose [2]
   Dose  Time  prop
  <dbl> <dbl> <dbl>
1     0     0 0.186
2     0     1 0.217
3     0     2 0.276
4     0     3 0.314
5     1     0 0.205
6     1     1 0.278
7     1     2 0.334
8     1     3 0.329

In [ ]:
%%R
amenhorrea %>% filter(!is.na(amenhorrea)) %>% group_by(Dose, Time) %>% summarise(prop = sum(amenhorrea)/n())

`summarise()` has grouped output by 'Dose'. You can override using the
`.groups` argument.
# A tibble: 8 × 3
# Groups:   Dose [2]
   Dose  Time  prop
  <dbl> <dbl> <dbl>
1     0     1 0.186
2     0     2 0.262
3     0     3 0.389
4     0     4 0.501
5     1     1 0.205
6     1     2 0.336
7     1     3 0.494
8     1     4 0.535

In [ ]:
%%R
##### Solución 1
print(sqldf("select Dose, Time, avg(amenhorrea) as prop
       from amenhorrea
	   group by Dose, Time"))

##### Solución 2
print(amenhorrea %>%
      group_by(Dose,Time) %>%
      summarise(prop=mean(amenhorrea,na.rm=TRUE)) %>% as.data.frame())

##### Solución 3
print(aggregate(amenhorrea ~ Time+Dose,mean,data=amenhorrea,na.rm=TRUE))

  Dose Time      prop
1    0    0 0.1857639
2    0    1 0.2620545
3    0    2 0.3887531
4    0    3 0.5013850
5    1    0 0.2052174
6    1    1 0.3361345
7    1    2 0.4935733
8    1    3 0.5354108
`summarise()` has grouped output by 'Dose'. You can override using the
`.groups` argument.
  Dose Time      prop
1    0    0 0.1857639
2    0    1 0.2620545
3    0    2 0.3887531
4    0    3 0.5013850
5    1    0 0.2052174
6    1    1 0.3361345
7    1    2 0.4935733
8    1    3 0.5354108
  Time Dose amenhorrea
1    0    0  0.1857639
2    1    0  0.2620545
3    2    0  0.3887531
4    3    0  0.5013850
5    0    1  0.2052174
6    1    1  0.3361345
7    2    1  0.4935733
8    3    1  0.5354108

# 6. Los valores faltantes en las mediciones realizadas en cada mujer pueden darse en dos modalidades: Abandono o Intermitente. En la primera, la mujer tiene todos los datos faltantes a partir de la segunda, tercera o cuarta ocasión, inclusive, en la que se midió la presencia o ausencia de amenorrea. En la segunda modalidad, los valores faltantes se entremezclan con valores no faltantes.

In [ ]:
%%R
# Cuantas mujeres tienen datos faltantes en la modalidad de Abandono?
mlgl = amenhorrea %>% filter(Time >0) %>% group_by(ID) %>% 
summarise(lgl = paste(is.na(amenhorrea), collapse = ",")) 
mlgl %>% group_by(lgl) %>% summarise(n = n())

# A tibble: 4 × 2
  lgl                   n
  <chr>             <int>
1 FALSE,FALSE,FALSE   714
2 FALSE,FALSE,TRUE     84
3 FALSE,TRUE,TRUE     155
4 TRUE,TRUE,TRUE      198

In [ ]:
%%R
# Cuantas mujeres tienen datos faltantes en la modalidad de Abandono?
mlgl = amenhorrea %>% filter(Time >1) %>% group_by(ID) %>% 
summarise(lgl = paste(is.na(amenhorrea), collapse = ",")) 

mlgl %>% group_by(lgl) %>% summarise(n = n())

# A tibble: 1 × 2
  lgl       n
  <chr> <int>
1 2,3,4  1151

In [ ]:
%%R
# Cuantas mujeres tienen datos faltantes en la modalidad Intermitente?
#mlgl %>% filter(lgl == "FALSE,FALSE,TRUE") %>% head()
#amenhorrea %>% filter(ID == 354)
amenhorrea %>% filter(ID == 359)

# A tibble: 4 × 4
     ID  Dose  Time amenhorrea
  <dbl> <dbl> <dbl>      <dbl>
1   359     0     0          0
2   359     0     1          0
3   359     0     2          0
4   359     0     3         NA

In [ ]:
%%R
amenhorrea <- within(amenhorrea,Time <- Time + 1)

##### Solución 1
A6 <- sqldf("select ID
             from amenhorrea
			 where amenhorrea is NULL
	         group by ID
	         having sum(perdido)*(sum(perdido)+1)/2 = sum(perdido*Time)")
print(nrow(A6))
print(1151 - 361 - nrow(A6))
##### Solución 2
a6 <- amenhorrea %>%
      filter(is.na(amenhorrea)) %>%
      group_by(ID) %>%
	  summarise(a=sum(perdido),b=sum(perdido*Time)) %>%
	  filter(a*(a+1)/2 == b) %>% as.data.frame()
print(nrow(a6))
print(1151 - 361 - nrow(a6))

[1] 0
[1] 790
[1] 0
[1] 790

In [ ]:
%%R
amenhorrea %>%
      filter(is.na(amenhorrea)) %>%
      group_by(ID) %>% 
	  summarise(a=sum(perdido),b=sum(perdido*Time)) %>% nrow()

[1] 437