<a href="https://colab.research.google.com/github/jofmorenore/CE/blob/main/R2_CONVERTED_BACK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


options(repr.plot.width=12, repr.plot.height=8)
options(jupyter.plot_mimetypes = c("text/plain", "image/png" ))
options(warn=-1)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
!pip install rpy2==3.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rpy2==3.5.1 in /usr/local/lib/python3.8/dist-packages (3.5.1)
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (1.15.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (1.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (2.11.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from rpy2==3.5.1) (2022.7.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.10.0->rpy2==3.5.1) (2.21)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->rpy2==3.5.1) (2.0.1)

In [2]:
%load_ext rpy2.ipython

In [3]:
%%R
sessionInfo()

R version 4.2.2 Patched (2022-11-10 r83330)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas-pthread/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/openblas-pthread/liblapack.so.3

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] tools     stats     graphics  grDevices utils     datasets  methods
[8] base

loaded via a namespace (and not attached):
[1] compiler_4.2.2


<p></p><h1 style="color:red;"> <strong> <center>Introducción a R</center></strong> </h1>
<p></p><h3><center><strong>Luis Hernando Vanegas (lhvanegasp@unal.edu.co)</strong></center></h3>
<p></p><h3><center><strong>Luz Marina Rondón (lmrondonp@unal.edu.co)</strong></center></h3>
<h4 style="color:blue;"><center><strong>Universidad Nacional de Colombia</strong></center></h4>
<h4 style="color:blue;"><center><strong>Facultad de Ciencias</strong></center></h4>
<h4 style="color:blue;"><center><strong>Departamento de Estadística</strong></center></h4>


<h1 style="color:red;"> <strong><center> Personalizando el directorio de trabajo </center> </strong> </h1>

In [4]:

%%R
getwd()
#setwd("C:/Nano/Docencia/Curso")
setwd('/content/drive/MyDrive/Curso')
getwd()

[1] "/content/drive/.shortcut-targets-by-id/1SmBErdxXLyp_NCHsJPGVjQdlO7wg9I8T/Curso"

In [5]:
%%R
list.files()

 [1] "admin00.dbf"               "admin00.prj"
 [3] "admin00.shp"               "admin00.shx"
 [5] "Advertising.xlsx"          "airrpm.txt"
 [7] "anime00s.csv"              "anime00s.pkl"
 [9] "anime10s.csv"              "anime10s.pkl"
[11] "anime80s.csv"              "anime80s.pkl"
[13] "anime90s.csv"              "anime90s.pkl"
[15] "animeratings.csv"          "counties.xlsx"
[17] "cursos.txt"                "docentes.csv"
[19] "elections.xlsx"            "Estaciones.xlsx"
[21] "exportaciones.xlsx"        "mcycle.xlsx"
[23] "MGN_DPTO_POLITICO.CPG"     "MGN_DPTO_POLITICO.dbf"
[25] "MGN_DPTO_POLITICO.prj"     "MGN_DPTO_POLITICO.sbn"
[27] "MGN_DPTO_POLITICO.sbx"     "MGN_DPTO_POLITICO.shp"
[29] "MGN_DPTO_POLITICO.shp.xml" "MGN_DPTO_POLITICO.shx"
[31] "MGN_MPIO_POLITICO.CPG"     "MGN_MPIO_POLITICO.dbf"
[33] "MGN_MPIO_POLITICO.prj"     "MGN_MPIO_POLITICO.sbn"
[35] "MGN_MPIO_POLITICO.sbx"     "MGN_MPIO_POLITICO.shp"
[37] "MGN_MPIO_POLITICO.shp.xml" "MGN_MPIO_POLITICO.shx"
[39] "mismacros.sas"             "mismacros.txt"
[41] "mismacrospython.py"        "mismacrospython.txt"
[43] "Municipios.xlsx"           "namebasics.rar"
[45] "ofrecidos.xlsx"            "ratings.pkl"
[47] "sample.xlsx"               "season-1415.xlsx"
[49] "season-1516.xlsx"          "season-1617.xlsx"
[51] "season-1718.xlsx"          "season-1819.xlsx"
[53] "species.xlsx"              "spruce.txt"
[55] "states.xlsx"               "stocks.dlm"
[57] "titlebasics.rar"           "titleprincipals.rar"
[59] "titleratings.rar"

# Importación de datos

## Libreria readxl


<p></p><h1 style="color:red;"> <strong> <center>Importación de datos </center></strong> </h1>
<p></p><h2 style="color:blue;"> <strong> <center>Libreria    readxl </center></strong> </h2>
<h4> Archivos con extensiones xls y xlsx  </h4>

In [ ]:

%%R
install.packages("readxl")
library(readxl)
help(read_excel)


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos disponibles en la hoja número 13 del libro de Excel
<em>sample.xlsx</em>, localizado en la libreria de trabajo y cuya primera fila contiene los nombres de las variables.</p>

In [ ]:


plantulas1 <- read_excel("sample.xlsx",sheet=13,col_names=TRUE)
str(plantulas1)


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos disponibles en la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>, la cual corresponde a la hoja número 13 del libro.</p>

In [ ]:


plantulas2 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE)
str(plantulas2)


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en las columnas "A" a la "E" de la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>.</p>

In [ ]:


plantulas3 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE,range=cell_cols("A:E"))
str(plantulas3)


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en las columnas "A" a la "E" de la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>.</p>

In [ ]:


plantulas4 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE,range=cell_cols(1:5))
str(plantulas4)


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en las filas 2 a la 50 de la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>.</p>

In [ ]:


plantulas5 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE,range=cell_rows(1:50))
str(plantulas5)


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en el rango "A1:E50" de la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>.</p>

In [ ]:


plantulas6 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE,range="A1:E50")
str(plantulas6)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen solo las primeras 35 filas de datos en la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>.</p>

In [ ]:


plantulas7 <- read_excel("sample.xlsx",sheet="Plantulas",col_names=TRUE,n_max=35)
str(plantulas7)


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em> dándole nombres personalizados a las variables.</p>

In [ ]:


plantulas8 <- read_excel("sample.xlsx",sheet="Plantulas",skip=1,
                         col_names=c("IdParcela","N_I","IdPlantula","N_i","Altura"))
str(plantulas8)


<p></p><h4> <strong> Ejemplo 9 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>, dándole nombres personalizados a las variables y leyendo estas últimas con formato <em>text</em>, <em>numeric</em>, <em>text</em>, <em>numeric</em> y <em>numeric</em>, respectivamente.</p>

In [ ]:


help(read_excel)
plantulas9 <- read_excel("sample.xlsx",sheet="Plantulas",skip=1,
                         col_names=c("IdParcela","N_I","IdPlantula","N_i","Altura"),
                         col_types=c("text","numeric","text","numeric","numeric"))
str(plantulas9)


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p></p><p style="text-align: justify;"> Se leen los datos en la hoja <em>Plantulas</em> del libro de Excel <em>sample.xlsx</em>, dándole nombres personalizados a las variables y leyendo estas últimas con formato <em>text</em>, <em>skip</em>, <em>text</em>, <em>guess</em> y <em>numeric</em>, respectivamente. Por lo tanto, la segunda variable se excluye y el tipo de la cuarta variable se especifica a partir de una inspección de los datos.</p>

In [ ]:


plantulas10 <- read_excel("sample.xlsx",sheet="Plantulas",skip=1,
                          col_names=c("IdParcela","IdPlantula","N_i","Altura"),
                          col_types=c("text","skip","text","guess","numeric"))
str(plantulas10)

## Libreria readr


<p></p><h2 style="color:red;"> <strong> <center>Libreria readr </center></strong> </h2>
<h4> Archivos con extensiones txt, csv, tsv, dlm y dat </h4>

In [ ]:
%%R

install.packages("readr")
library(readr)
help(read_delim)


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em>, localizado en la libreria de trabajo y en el que los datos están separados por " " y la primera fila contiene los nombres de las variables.</p>

In [ ]:


stocks1 <- read_delim("stocks.dlm",delim=" ",col_names=TRUE)
str(stocks1)


<p></p><h4> <strong> Ejemplo 11 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em> especificando que el separador decimal es "," y el separador de agrupamiento es ".". </p>

In [ ]:


stocks2 <- read_delim("stocks.dlm",delim=" ",col_names=TRUE,
                     locale=locale(decimal_mark=",",grouping_mark="."))
str(stocks2)


<p></p><h4> <strong> Ejemplo 12 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em> especificando el formato en el que se deben leer las variables.</p>

In [ ]:


help(cols)
stocks3 <- read_delim("stocks.dlm",delim=" ",col_names=TRUE,
                     locale=locale(decimal_mark=",",grouping_mark="."),
                     col_types=cols("f","D","d","d","d","d","n","d"))
str(stocks3)


<p></p><h4> <strong> Ejemplo 13 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em> especificando el formato en el que se deben leer las variables. En particular, se especifica el formato como se debe leer la fecha de la que consta la variable número 2.</p>

In [ ]:


help(strptime)
stocks4 <- read_delim("stocks.dlm",delim=" ",col_names=TRUE,
                     locale=locale(decimal_mark=",",grouping_mark="."),
                     col_types=cols("f",col_date("%d%b%y"),"d","d","d","d","n","d"))
str(stocks4)


<p></p><h4> <strong> Ejemplo 14 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em> personalizando los nombres de las variables.</p>

In [ ]:


stocks5 <- read_delim("stocks.dlm",delim=" ",
                     locale=locale(decimal_mark=",",grouping_mark="."),
                     col_types=cols("f",col_date("%d%b%y"),"d","d","d","d","n","d"),skip=1,
                     col_names=c("Stock","Date","Open","High","Low","Close","Volume","AdjClose"))
str(stocks5)


<p></p><h4> <strong> Ejemplo 15 </strong> </h4>
<p style="text-align: justify;"> Se leen solo las primeras 500 filas de datos en el archivo <em> stocks.dlm </em>.</p>

In [ ]:


stocks6 <- read_delim("stocks.dlm",delim=" ",n_max=500,
                     locale=locale(decimal_mark=",",grouping_mark="."),
                     col_types=cols("f",col_date("%d%b%y"),"d","d","d","d","n","d"),skip=1,
                     col_names=c("Stock","Date","Open","High","Low","Close","Volume","AdjClose"))
str(stocks6)


<p></p><h4> <strong> Ejemplo 16 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> stocks.dlm </em> especificando el formato en el que se deben leer las variables. El formato de la tercera variable se especifica a partir de la
inspección de los datos, y las variables septima y octava se excluyen.</p>

In [ ]:


stocks7 <- read_delim("stocks.dlm",delim=" ",
                     locale=locale(decimal_mark=",",grouping_mark="."),
                     col_types=cols("f",col_date("%d%b%y"),"?","d","d","d","-","-"),
                     skip=1,col_names=c("Stock","Date","Open","High","Low","Close"))
str(stocks7)


<p></p><h4> <strong> Ejemplo 17 </strong> </h4>
<p style="text-align: justify;"> Solo se leen las variables que (originalmente) se llaman "A", "B", "C" y "F".</p>

In [ ]:


stocks8 <- read_delim("stocks.dlm",delim=" ",col_names=TRUE,
                     locale=locale(decimal_mark=",",grouping_mark = "."),
                     col_types=cols_only("A"="f","B"=col_date("%d%b%y"),"C"="d","F"="d"))
str(stocks8)


<p></p><h4> <strong> Ejemplo 18 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> airrpm.txt</em>, localizado en la libreria de trabajo y en el que las cuatro variables disponibles (<em>Month</em>, <em>Available</em>, <em>Revenue</em> y <em>Unused</em>) tienen anchos fijos e iguales a 6, 15, 10 y 9, respectivamente.</p>

In [ ]:


help(read_fwf)

In [ ]:


airrpm1 <- read_fwf("airrpm.txt",fwf_cols(Month=6,Available=15,Revenue=10,Unused=9))
str(airrpm1)


<p></p><h4> <strong> Ejemplo 19 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> airrpm.txt</em> especificando que el separador decimal es ",".</p>

In [ ]:


airrpm2 <- read_fwf("airrpm.txt",locale=locale(decimal_mark=","),
                   fwf_cols(Month=6,Available=15,Revenue=10,Unused=9))
str(airrpm2)


<p></p><h4> <strong> Ejemplo 20 </strong> </h4>
<p style="text-align: justify;"> Se leen los datos en el archivo <em> airrpm.txt</em> especificando el formato de las variables.</p>

In [ ]:


help(cols)
help(strptime)
airrpm3 <- read_fwf("airrpm.txt",locale=locale(decimal_mark=","),
                   fwf_cols(Month=6,Available=15,Revenue=10,Unused=9),
                   col_types=cols(col_date("%b-%y"),"d","d","d"))
str(airrpm3)


<p></p><h4> <strong> Ejemplo 21 </strong> </h4>
<p style="text-align: justify;"> Se leen solo las primeras 200 filas de las variables <em>Month</em> y <em>Revenue</em> en el archivo <em> airrpm.txt</em>.</p>

In [ ]:


airrpm4 <- read_fwf("airrpm.txt",locale=locale(decimal_mark=","),
                   n_max=200,fwf_cols(Month=6,Available=15,Revenue=10,Unused=9),
                   col_types=cols_only(Month=col_date("%b-%y"),Revenue="d"))
str(airrpm4)

## Ejercicios


<p></p><h2 style="color:red;"> Ejercicios</h2><p></p><h3 style="color:red;"> English Premier League</h3><ul>
<li><p style="text-align: justify;"> Los archivos <strong>season-1415.xlsx</strong>, <strong>season-1516.xlsx</strong>, <strong>season-1617.xlsx</strong>, <strong>season-1718.xlsx</strong> y <strong>season-1819.xlsx</strong>
contienen información sobre los resultados de las temporadas 14/15, 15/16, 16/17, 17/18 y 18/19, respectivamente, de la primera división del futbol inglés. Importe estos conjuntos de datos omitiendo las variables <em>FTR</em>, <em>HTHG</em>, <em>HTAG</em> y <em>HTR</em>.</p></li>
<li><p style="text-align: justify;"> Asigne nombres y tipos personalizados a las variables. Cuantos registros tiene cada conjunto de datos? </p></li>
</ul>
<p></p><h3 style="color:red;"> IMDb (Internet Movie Database)</h3><ul>
<li><p style="text-align: justify;"> Importe los primeros 5000 registros de los conjunto de datos <strong>title.basics</strong>, <strong>title.principals</strong> y <strong>name.basics</strong>, los cuales están descritos <a href="https://www.imdb.com/interfaces/" style="color:red;"><strong> aquí </strong></a> y disponibles <a href="https://datasets.imdbws.com" style="color:red;"><strong> aquí</strong></a>. Hágalo sin descargar ni descomprimir los archivos, y omitiendo las variables <em>knownForTitles</em> and <em>ordering</em>.</p></li>
<li><p style="text-align: justify;"> Cuantas variables tienen los conjuntos de datos? De qué tipo son estas variables?</p></li>
</ul>
<p></p><h3 style="color:red;"> Shows en Netflix</h3><ul>
<li><p style="text-align: justify;"> Importe todos los registros del conjunto de datos <strong>netflix_titles.csv</strong> disponible <a href="https://www.kaggle.com/shivamb/netflix-shows/version/5" style="color:red;"><strong> aquí</strong></a>. Tenga en cuenta que el conjunto de datos está delimitado por ",".</p></li>
<li><p style="text-align: justify;"> Asigne nombres y tipos personalizados a las variables. Cuantos registros tiene el conjunto de datos? </p></li>
</ul>

In [54]:
%%R
#install.packages("readr")
library(readxl)
library(readr)
library(stringr)
#help(read_delim)

### EPL

In [7]:
%%R
## EPL 
# Importe estos conjuntos de datos omitiendo las variables FTR, HTHG, HTAG y HTR
# Asigne nombres y tipos personalizados a las variables. Cuantos registros tiene cada conjunto de datos?
#season_1415 <- read_excel("season-1415.xlsx")
#dput(sapply(season_1415, class))
season_1415 <- read_excel("season-1415.xlsx", 
                          col_types=c(Season = "text", Date = "date", HomeTeam = "text", 
                                      AwayTeam = "text", FTHG = "numeric", FTAG = "numeric", 
                                      FTR = "skip", HTHG = "skip", HTAG = "skip", HTR = "skip", 
                                      Referee = "text", HS = "numeric", AS = "numeric", HST = "numeric", 
                                      AST = "numeric", HF = "numeric", AF = "numeric", HC = "numeric", 
                                      AC = "numeric", HY = "numeric", AY = "numeric", HR = "numeric", 
                                      AR = "numeric"))
head(season_1415)

# A tibble: 6 × 19
  Season Date                HomeTeam   AwayTeam  FTHG  FTAG Referee    HS    AS
  <chr>  <dttm>              <chr>      <chr>    <dbl> <dbl> <chr>   <dbl> <dbl>
1 14-15  2014-08-16 00:00:00 Arsenal    Crystal…     2     1 J Moss     14     4
2 14-15  2014-08-16 00:00:00 Leicester  Everton      2     2 M Jones    11    13
3 14-15  2014-08-16 00:00:00 Man United Swansea      1     2 M Dean     14     5
4 14-15  2014-08-16 00:00:00 QPR        Hull         0     1 C Paws…    19    11
5 14-15  2014-08-16 00:00:00 Stoke      Aston V…     0     1 A Tayl…    12     7
6 14-15  2014-08-16 00:00:00 West Brom  Sunderl…     2     2 N Swar…    10     7
# … with 10 more variables: HST <dbl>, AST <dbl>, HF <dbl>, AF <dbl>, HC <dbl>,
#   AC <dbl>, HY <dbl>, AY <dbl>, HR <dbl>, AR <dbl>
# ℹ Use `colnames()` to see all variable names

In [8]:
%%R
season_1516 <- read_excel("season-1516.xlsx", 
                          col_types=c(Season = "text", Date = "date", HomeTeam = "text", 
                                      AwayTeam = "text", FTHG = "numeric", FTAG = "numeric", 
                                      FTR = "skip", HTHG = "skip", HTAG = "skip", HTR = "skip", 
                                      Referee = "text", HS = "numeric", AS = "numeric", HST = "numeric", 
                                      AST = "numeric", HF = "numeric", AF = "numeric", HC = "numeric", 
                                      AC = "numeric", HY = "numeric", AY = "numeric", HR = "numeric", 
                                      AR = "numeric")) 
head(season_1516)

# A tibble: 6 × 19
  Season Date                HomeTeam    AwayT…¹  FTHG  FTAG Referee    HS    AS
  <chr>  <dttm>              <chr>       <chr>   <dbl> <dbl> <chr>   <dbl> <dbl>
1 15-16  2015-08-08 00:00:00 Bournemouth Aston …     0     1 M Clat…    11     7
2 15-16  2015-08-08 00:00:00 Chelsea     Swansea     2     2 M Oliv…    11    18
3 15-16  2015-08-08 00:00:00 Everton     Watford     2     2 M Jones    10    11
4 15-16  2015-08-08 00:00:00 Leicester   Sunder…     4     2 L Mason    19    10
5 15-16  2015-08-08 00:00:00 Man United  Totten…     1     0 J Moss      9     9
6 15-16  2015-08-08 00:00:00 Norwich     Crysta…     1     3 S Hoop…    17    11
# … with 10 more variables: HST <dbl>, AST <dbl>, HF <dbl>, AF <dbl>, HC <dbl>,
#   AC <dbl>, HY <dbl>, AY <dbl>, HR <dbl>, AR <dbl>, and abbreviated variable
#   name ¹​AwayTeam
# ℹ Use `colnames()` to see all variable names

In [9]:
%%R
season_1617 <- read_excel("season-1617.xlsx", 
                          col_types=c(Season = "text", Date = "date", HomeTeam = "text", 
                                      AwayTeam = "text", FTHG = "numeric", FTAG = "numeric", 
                                      FTR = "skip", HTHG = "skip", HTAG = "skip", HTR = "skip", 
                                      Referee = "text", HS = "numeric", AS = "numeric", HST = "numeric", 
                                      AST = "numeric", HF = "numeric", AF = "numeric", HC = "numeric", 
                                      AC = "numeric", HY = "numeric", AY = "numeric", HR = "numeric", 
                                      AR = "numeric")) 
head(season_1617)

# A tibble: 6 × 19
  Season Date                HomeTeam    AwayT…¹  FTHG  FTAG Referee    HS    AS
  <chr>  <dttm>              <chr>       <chr>   <dbl> <dbl> <chr>   <dbl> <dbl>
1 16-17  2016-08-13 00:00:00 Burnley     Swansea     0     1 J Moss     10    17
2 16-17  2016-08-13 00:00:00 Crystal Pa… West B…     0     1 C Paws…    14    13
3 16-17  2016-08-13 00:00:00 Everton     Totten…     1     1 M Atki…    12    13
4 16-17  2016-08-13 00:00:00 Hull        Leices…     2     1 M Dean     14    18
5 16-17  2016-08-13 00:00:00 Man City    Sunder…     2     1 R Madl…    16     7
6 16-17  2016-08-13 00:00:00 Middlesbro… Stoke       1     1 K Frie…    12    12
# … with 10 more variables: HST <dbl>, AST <dbl>, HF <dbl>, AF <dbl>, HC <dbl>,
#   AC <dbl>, HY <dbl>, AY <dbl>, HR <dbl>, AR <dbl>, and abbreviated variable
#   name ¹​AwayTeam
# ℹ Use `colnames()` to see all variable names

In [10]:
%%R
season_1718 <- read_excel("season-1718.xlsx", 
                          col_types=c(Season = "text", Date = "date", HomeTeam = "text", 
                                      AwayTeam = "text", FTHG = "numeric", FTAG = "numeric", 
                                      FTR = "skip", HTHG = "skip", HTAG = "skip", HTR = "skip", 
                                      Referee = "text", HS = "numeric", AS = "numeric", HST = "numeric", 
                                      AST = "numeric", HF = "numeric", AF = "numeric", HC = "numeric", 
                                      AC = "numeric", HY = "numeric", AY = "numeric", HR = "numeric", 
                                      AR = "numeric"))
head(season_1718)

# A tibble: 6 × 19
  Season Date                HomeTeam    AwayT…¹  FTHG  FTAG Referee    HS    AS
  <chr>  <dttm>              <chr>       <chr>   <dbl> <dbl> <chr>   <dbl> <dbl>
1 17-18  2017-08-11 00:00:00 Arsenal     Leices…     4     3 M Dean     27     6
2 17-18  2017-08-12 00:00:00 Brighton    Man Ci…     0     2 M Oliv…     6    14
3 17-18  2017-08-12 00:00:00 Chelsea     Burnley     2     3 C Paws…    19    10
4 17-18  2017-08-12 00:00:00 Crystal Pa… Hudder…     0     3 J Moss     14     8
5 17-18  2017-08-12 00:00:00 Everton     Stoke       1     0 N Swar…     9     9
6 17-18  2017-08-12 00:00:00 Southampton Swansea     0     0 M Jones    29     4
# … with 10 more variables: HST <dbl>, AST <dbl>, HF <dbl>, AF <dbl>, HC <dbl>,
#   AC <dbl>, HY <dbl>, AY <dbl>, HR <dbl>, AR <dbl>, and abbreviated variable
#   name ¹​AwayTeam
# ℹ Use `colnames()` to see all variable names

In [11]:
%%R
season_1819 <- read_excel("season-1819.xlsx", 
                          col_types=c(Season = "text", Date = "date", HomeTeam = "text", 
                                      AwayTeam = "text", FTHG = "numeric", FTAG = "numeric", 
                                      FTR = "skip", HTHG = "skip", HTAG = "skip", HTR = "skip", 
                                      Referee = "text", HS = "numeric", AS = "numeric", HST = "numeric", 
                                      AST = "numeric", HF = "numeric", AF = "numeric", HC = "numeric", 
                                      AC = "numeric", HY = "numeric", AY = "numeric", HR = "numeric", 
                                      AR = "numeric"))
head(season_1819)

# A tibble: 6 × 19
  Season Date                HomeTeam    AwayT…¹  FTHG  FTAG Referee    HS    AS
  <chr>  <dttm>              <chr>       <chr>   <dbl> <dbl> <chr>   <dbl> <dbl>
1 18-19  2018-08-10 00:00:00 Man United  Leices…     2     1 A Marr…     8    13
2 18-19  2018-08-11 00:00:00 Bournemouth Cardiff     2     0 K Frie…    12    10
3 18-19  2018-08-11 00:00:00 Fulham      Crysta…     0     2 M Dean     15    10
4 18-19  2018-08-11 00:00:00 Huddersfie… Chelsea     0     3 C Kava…     6    13
5 18-19  2018-08-11 00:00:00 Newcastle   Totten…     1     2 M Atki…    15    15
6 18-19  2018-08-11 00:00:00 Watford     Bright…     2     0 J Moss     19     6
# … with 10 more variables: HST <dbl>, AST <dbl>, HF <dbl>, AF <dbl>, HC <dbl>,
#   AC <dbl>, HY <dbl>, AY <dbl>, HR <dbl>, AR <dbl>, and abbreviated variable
#   name ¹​AwayTeam
# ℹ Use `colnames()` to see all variable names

In [12]:
%%R
sapply(ls()[str_detect(ls(), "season")], function(x) nrow(eval(parse(text=x))))

season_1415 season_1516 season_1617 season_1718 season_1819
        380         380         380         380         380

### IMDB

In [13]:
%%R
title_basics = read_delim("https://datasets.imdbws.com/title.basics.tsv.gz", delim = "\t", n_max = 5000, na=c("","NA","\\N"))
title_principals = read_delim("https://datasets.imdbws.com/title.principals.tsv.gz", delim = "\t", n_max = 5000, 
                              na=c("","NA","\\N"),col_types=cols("?","-","?","?","?","?"))
name_basics = read_delim("https://datasets.imdbws.com/name.basics.tsv.gz", delim = "\t", n_max = 5000, 
                         na=c("","NA","\\N"),col_types=cols("?","?","?","?","?","-")                              )

Rows: 5000 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (5): tconst, titleType, primaryTitle, originalTitle, genres
dbl (3): isAdult, startYear, runtimeMinutes
lgl (1): endYear

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [14]:
%%R
sapply(ls()[str_detect(ls(), "basics|title")], function(x) ncol(eval(parse(text=x))))

     name_basics     title_basics title_principals
               5                9                5

In [15]:
%%R
sapply(ls()[str_detect(ls(), "basics|title")], function(x) sapply(eval(parse(text=x)), class))

$name_basics
           nconst       primaryName         birthYear         deathYear
      "character"       "character"         "numeric"         "numeric"
primaryProfession
      "character"

$title_basics
        tconst      titleType   primaryTitle  originalTitle        isAdult
   "character"    "character"    "character"    "character"      "numeric"
     startYear        endYear runtimeMinutes         genres
     "numeric"      "logical"      "numeric"    "character"

$title_principals
     tconst      nconst    category         job  characters
"character" "character" "character" "character" "character"

### Netflix

In [16]:
%%R
netflix_titles = read_delim('https://raw.githubusercontent.com/jofmorenore/CE/main/netflix_titles.csv', delim = ',',
                            col_types = cols(show_id = "c", type = "c", title = "c", 
                                          director = "c", cast = "c", country = "c", 
                                          date_added = col_date("%B %d, %Y"), release_year = "n", rating = "c", 
                                          duration = "c", listed_in = "c", description = "c"))
#dput(sapply(netflix_titles, class))
str(netflix_titles)

spc_tbl_ [8,807 × 12] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ show_id     : chr [1:8807] "s1" "s2" "s3" "s4" ...
 $ type        : chr [1:8807] "Movie" "TV Show" "TV Show" "TV Show" ...
 $ title       : chr [1:8807] "Dick Johnson Is Dead" "Blood & Water" "Ganglands" "Jailbirds New Orleans" ...
 $ director    : chr [1:8807] "Kirsten Johnson" NA "Julien Leclercq" NA ...
 $ cast        : chr [1:8807] NA "Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile "| __truncated__ "Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, G"| __truncated__ NA ...
 $ country     : chr [1:8807] "United States" "South Africa" NA NA ...
 $ date_added  : Date[1:8807], format: "2021-09-25" "2021-09-24" ...
 $ release_year: num [1:8807] 2020 2021 2021 2021 2021 ...
 $ rating      : chr [1:8807] "PG-13" "TV-MA" "TV-MA" "TV-MA" ...
 $ duration    : chr [1:8807] "90 min" "2 Seasons" "1 Season" "1 Season" ...
 $ listed_in   : chr [1:8807] "Documentaries" "International TV Shows, TV Dramas, TV Mysteries" "Crime TV Shows, International TV Shows, TV Action & Adventure" "Docuseries, Reality TV" ...
 $ description : chr [1:8807] "As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical wa"| __truncated__ "After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is h"| __truncated__ "To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled "| __truncated__ "Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Or"| __truncated__ ...
 - attr(*, "spec")=
  .. cols(
  ..   show_id = col_character(),
  ..   type = col_character(),
  ..   title = col_character(),
  ..   director = col_character(),
  ..   cast = col_character(),
  ..   country = col_character(),
  ..   date_added = col_date(format = "%B %d, %Y"),
  ..   release_year = col_number(),
  ..   rating = col_character(),
  ..   duration = col_character(),
  ..   listed_in = col_character(),
  ..   description = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

# Creación y modificación de variables

## Libreria stringr


<p></p><h1 style="color:red;"> <strong> <center>Creación y modificación de variables </center></strong> </h1>
<h2 style="color:blue;"> <strong> <center>Libreria stringr </center></strong> </h2>

In [ ]:

%%R
install.packages("stringr")
library(stringr)
help(stringr)

In [ ]:

%%R
library(readxl)
Municipios <- read_excel("Municipios.xlsx")
str(Municipios)
head(Municipios,n=10)
tail(Municipios,n=10)

tibble [1,118 × 8] (S3: tbl_df/tbl/data.frame)
 $ Departamento: chr [1:1118] "Ant%ioqUia" "Ant%ioquia" "Ant%ioquia" "Ant%io>qUia" ...
 $ Dep         : chr [1:1118] "05" "05" "05" "05" ...
 $ Municipio   : chr [1:1118] "Mede&l'lín" "Abej!&orr*al" "A?br'&iaquí" "Alej#andr&'ía" ...
 $ Depmun      : chr [1:1118] "05001" "05002" "05004" "05021" ...
 $ Superficie  : num [1:1118] 374.8 507.1 297 128.9 84.1 ...
 $ Poblacion   : num [1:1118] 2483545 20258 2710 4669 30777 ...
 $ Irural      : num [1:1118] 5 45 58 48 28 54 38 37 47 58 ...
 $ Region      : chr [1:1118] "Región Eje Cafetero" "Región Eje Cafetero" "Región Eje Cafetero" "Región Eje Cafetero" ...
# A tibble: 10 × 8
   Departamento Dep   Municipio          Depmun  Superfi…¹ Pobla…² Irural Region
   <chr>        <chr> <chr>              <chr>       <dbl>   <dbl>  <dbl> <chr>
 1 Vaupés       97    M*it!ú             97001.0    16216.   31302     77 Regió…
 2 Va%Up>és     97    C!a*#ruru          97161.0     6368.    3056     85 Regió…
 3 Vaup>és      97    P*a!coa            97511.0    13993.    4229     91 Regió…
 4 Vaupés       97    Tara#?ir&*a'       97666.0     6510.    2318     97 Regió…
 5 Va%Upés      97    Papuna!ua          97777.0     5551.     749     95 Regió…
 6 Vaup>és      97    Y#*ava'ra?t!é      97889.0     4660.    1067     92 Regió…
 7 Vi%ch>ada    99    Puerto   Carr#eño' 99001.0    12205.   20474     81 Regió…
 8 Vichada      99    La Prima&*'!ve#ra  99524.0    18569.    9799     85 Regió…
 9 Vi%ch>ada    99    Santa   ?Rosalía   99624.0     3692.    4130     81 Regió…
10 Vichada      99    C#u'?mar!ibo       99773.0    65597.   76196     87 Regió…
# … with abbreviated variable names ¹​Superficie, ²​Poblacion


<p style="text-align: justify;"> <a href="https://stringr.tidyverse.org/articles/regular-expressions.html" style="color:red;"><strong> Expresiones Regulares</strong></a></p>


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Se hace "limpieza" en los nombres de los municipios, es
decir, </p><ul>
<li>Se eliminan caracteres especiales</li>
<li>Se eliminan espacios al inicio y al final</li>
<li>Se reemplazan espacios múltiples por sencillos</li>
<li>Se escriben en letras minúsculas excepto en la inicial de cada palabra</li>
</ul>

In [ ]:

%%R
Municipios <- within(Municipios,{
                    Municipio2 <- str_to_lower(Municipio)
                    Municipio2 <- str_replace_all(Municipio2,"[^a-záéíóúüñ ]","")
                    Municipio2 <- str_squish(Municipio2)
                    Municipio2 <- str_to_title(Municipio2)
                    })
head(Municipios[,c("Municipio","Municipio2")],n=10)

Municipios <- within(Municipios,{
                    Municipio <- Municipio2
                    rm(Municipio2)
                    })


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Se hace "limpieza" en los nombres de los departamentos, es
decir, </p><ul>
<li>Se eliminan caracteres especiales</li>
<li>Se eliminan espacios al inicio y al final</li>
<li>Se reemplazan espacios múltiples por sencillos</li>
<li>Se escriben en letras minúsculas excepto en la inicial de cada palabra</li>
</ul>

In [ ]:

%%R
Municipios <- within(Municipios,{
                    Departamento2 <- str_to_lower(Departamento)
                    Departamento2 <- str_replace_all(Departamento2,"[^a-záéíóúüñ ]","")
                    Departamento2 <- str_squish(Departamento2)
                    Departamento2 <- str_to_title(Departamento2)
                    })
head(Municipios[,c("Departamento","Departamento2")],n=10)

Municipios <- within(Municipios,{
                    Departamento <- Departamento2
                    rm(Departamento2)
                    })


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Se hace "limpieza" en los nombres de las regiones, es
decir, </p><ul>
<li>Se eliminan caracteres especiales</li>
<li>Se eliminan espacios al inicio y al final</li>
<li>Se reemplazan espacios múltiples por sencillos</li>
<li>Se escriben en letras minúsculas excepto en la inicial de cada palabra</li>
</ul>

In [ ]:
%%R

Municipios <- within(Municipios,{
                    Region2 <- str_to_lower(Region)
                    Region2 <- str_replace_all(Region2,"[^a-záéíóúüñ ]","")
                    Region2 <- str_squish(Region2)
                    Region2 <- str_to_title(Region2)
                    })

head(Municipios[,c("Region","Region2")],n=10)

Municipios <- within(Municipios,{
                    Region <- Region2
                    rm(Region2)
                    })

head(Municipios)

# A tibble: 6 × 8
  Departamento Dep   Municipio  Depmun Superficie Poblacion Irural Region
  <chr>        <chr> <chr>      <chr>       <dbl>     <dbl>  <dbl> <chr>
1 Antioquia    05    Medellín   05001       375.    2483545      5 Región Eje C…
2 Antioquia    05    Abejorral  05002       507.      20258     45 Región Eje C…
3 Antioquia    05    Abriaquí   05004       297.       2710     58 Región Eje C…
4 Antioquia    05    Alejandría 05021       129.       4669     48 Región Eje C…
5 Antioquia    05    Amagá      05030        84.1     30777     28 Región Eje C…
6 Antioquia    05    Amalfi     05031      1209.      26552     54 Región Eje C…

In [ ]:
%%R
Municipios <- within(Municipios,{
                    Region <- str_replace(string = Region, pattern = "Región ", replacement = "") 
                    })

head(Municipios)

# A tibble: 6 × 8
  Departamento Dep   Municipio  Depmun Superficie Poblacion Irural Region
  <chr>        <chr> <chr>      <chr>       <dbl>     <dbl>  <dbl> <chr>
1 Antioquia    05    Medellín   05001       375.    2483545      5 Eje Cafetero
2 Antioquia    05    Abejorral  05002       507.      20258     45 Eje Cafetero
3 Antioquia    05    Abriaquí   05004       297.       2710     58 Eje Cafetero
4 Antioquia    05    Alejandría 05021       129.       4669     48 Eje Cafetero
5 Antioquia    05    Amagá      05030        84.1     30777     28 Eje Cafetero
6 Antioquia    05    Amalfi     05031      1209.      26552     54 Eje Cafetero

In [ ]:
%%R
unique(Municipios$Region)

[1] "Eje Cafetero"   "Caribe"         "Centro Oriente" "Centro Sur"
[5] "Pacífico"       "Llano"


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> Se crea la variable <em>Tipo</em> igual a "Capital" para la capital de
cada departamento y "Otro" para el resto de los municipios.</p>

In [ ]:


Municipios <- within(Municipios,{
                    Tipo <- ifelse(str_sub(Depmun,3,5)=="001","Capital","Otro")
                    Tipo2 <- ifelse(str_c(Dep,"001")==Depmun,"Capital","Otro")
                    if(all(Tipo==Tipo2)) rm(Tipo2)
                    Tipo <- ifelse(Depmun=="25001","Otro",Tipo)
                    })

head(Municipios[,c("Depmun","Tipo")],n=10)
tail(Municipios[,c("Depmun","Tipo")],n=10)


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> Se crea la variable <em>denspobl</em> definida como el cociente
    entre <em> Poblacion </em> y <em> Superficie</em>. Se crea también la variable <em> Zona </em> igual
    a "Urbano" cuando <em>Irural</em> $ &lt;= 40$ y "Rural" cuando <em>Irural</em> $ &gt; 40$. </p>

In [ ]:


Municipios <- within(Municipios,{
              denspobl <- Poblacion/Superficie
              Zona <- ifelse(Irural <= 40,"Urbano","Rural")
              })

with(Municipios,summary(denspobl))
with(Municipios,table(Zona))


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Depmun</em>
y <em>Municipio</em> y con todos los municipios cuyo nombre incluye el nombre de un santo, por ejemplo, Santa Marta, 
Santo Tomás, San José, Valle de San Jacinto. </p>

In [ ]:


help(subset)
Santos <- subset(Municipios,str_detect(Municipio,"(^| )San( |ta |to )"),
                 select=c(Departamento,Depmun,Municipio))

str(Santos)
head(Santos,n=10)
tail(Santos,n=10)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todas las variables excepto <em>Region</em>, <em>Irural</em>, <em>Poblacion</em> y <em>Superficie</em>, y con todos los municipios cuyo nombre incluye el nombre de un santo o una santa. </p>

In [ ]:


Santos2 <- subset(Municipios,str_detect(Municipio,"(^| )San( |ta |to )"),
                  select=-c(Region,Irural,Poblacion,Superficie))

str(Santos2)
head(Santos2,n=10)
tail(Santos2,n=10)


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Dep</em>, <em>Departamento</em>, <em>Depmun</em> y <em>Municipio</em>, y con todos los municipios cuyos nombres inician y terminan con la misma vocal. </p>

In [ ]:


vocales <- subset(Municipios,
           str_detect(chartr("áéíóú","aeiou",str_to_lower(Municipio)),"^a.*a$|^e.*e$|^i.*i$|^o.*o$|^u.*u$"),
           select=c(Dep,Departamento,Depmun,Municipio))
str(vocales)
head(vocales,n=10)
tail(vocales,n=10)


<p></p><h4> <strong> Ejemplo 9 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Dep</em>, <em>Departamento</em>, <em>Depmun</em> y <em>Municipio</em>, y con todos los municipios cuyos
nombres inician y terminan con la misma consonante. </p>

In [ ]:


consonantes <- subset(Municipios,str_sub(str_to_lower(Municipio),1,1)==str_sub(Municipio,-1,-1) & 
                                 str_detect(Municipio,"a$|e$|i$|o$|u$",negate=TRUE),
                                 select=c(Dep,Departamento,Depmun,Municipio))
str(consonantes)
head(consonantes,n=10)
tail(consonantes,n=10)


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todas las variables excepto <em>Poblacion</em>, <em>Superficie</em> y <em>Irural</em>, y con todos los municipios cuyos nombres tienen "A" como primera letra y "e" como cuarta letra.</p>

In [ ]:


Aes <- subset(Municipios,str_detect(Municipio,"^A..e.*"),
                         select=-c(Poblacion,Superficie,Irural))

str(Aes)
head(Aes,n=10)
tail(Aes,n=10)


<p></p><h4> <strong> Ejemplo 11 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Depmun</em>
y <em>Municipio</em>, y con el 1% de municipios con los nombres más largos. </p>

In [ ]:


Largos <- subset(Municipios,str_length(Municipio) >= quantile(str_length(Municipio),0.99),
                            select=c(Departamento,Depmun,Municipio))

str(Largos)
head(Largos)
tail(Largos)


<p></p><h4> <strong> Ejemplo 12 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Depmun</em> y <em>Municipio</em>, y con el 1% de municipios con los nombres más cortos. </p>

In [ ]:


Cortos <- subset(Municipios,str_length(Municipio) <= quantile(str_length(Municipio),0.01),
                            select=c(Departamento,Depmun,Municipio))

str(Cortos)
head(Cortos)
tail(Cortos)


<p></p><h4> <strong> Ejemplo 13 </strong> </h4>
<p style="text-align: justify;"> Cuantos municipios tienen nombres que constan de 1, 2, 3,
4, 5, ... vocales? </p>

In [ ]:


vocales <- with(Municipios,str_count(str_to_lower(Municipio),"[aeiouáéíóúü]"))
table(vocales)


<p></p><h4> <strong> Ejemplo 14 </strong> </h4>
<p style="text-align: justify;"> Cuantos municipios tienen nombres que constan de 0, 1, 2,
3, 4, 5,... palabras?. </p>

In [ ]:


palabras <- with(Municipios,str_count(Municipio," ") + 1)
table(palabras)


<p></p><h4> <strong> Ejemplo 15 </strong> </h4>
<p style="text-align: justify;"> Cuales municipios tienen nombres que constan de más de 4 palabras? </p>

In [ ]:


Mas4 <- subset(Municipios,str_count(Municipio," ") > 5)
Mas4

# Estadísticas descriptivas


<h1 style="color:red;"> <strong> <center> Estadísticas descriptivas </center></strong> </h1>


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Cuales variables del conjunto de datos <em>Municipios</em> tienen
valores perdidos o missings? Y del conjunto de datos <em>airquality</em>? </p>

In [ ]:


missings <- function(x) return(sum(is.na(x)))
apply(Municipios,2,missings)
apply(airquality,2,missings)


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Cuantas filas del conjunto de datos Municipios tienen 0,
1, 2, 3, 4, 5,... valores perdidos o missings? Y en el conjunto de datos
airquality ? </p>

In [ ]:


table(apply(Municipios,1,missings))
table(apply(airquality,1,missings))


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las filas de <em>airquality</em> con valores perdidos en la variable <em>Ozone</em> </p>

In [ ]:


perdidos <- subset(airquality, is.na(Ozone))

str(perdidos)
head(perdidos,n=10)
tail(perdidos,n=10)


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> Cálculo de algunas estadísticas descriptivas para las variables
<em> Poblacion</em>, <em> Superficie</em>, <em> denspobl </em> y <em> Irural </em> del conjunto de datos <em> Municipios</em>.</p>

In [ ]:


summ <- function(x){
 x2 <- na.omit(x)
 y <- c(mean(x2),median(x2),sd(x2),sd(x2)/mean(x2),length(boxplot.stats(x2)$out),sum(is.na(x)))
 names(y) <- c("Mean","Median","Std.Dev","Coef.Var","Outliers","Missings")
 return(round(y,digits=2))
}

apply(Municipios[,c("Poblacion","Superficie","denspobl","Irural")],2,summ)


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> Cálculo de algunas estadísticas descriptivas para las variables
<em> Departamento</em>, <em> Depmun</em>, <em> Municipio </em> y <em> Region </em> del conjunto de datos <em> Municipios</em>.</p>

In [ ]:


summ2 <- function(x){
 x2 <- na.omit(x)   
 y <- c(length(unique(x2)),sum(is.na(x)))
 names(y) <- c("Levels","Missings")
 return(round(y,digits=2))
}

apply(Municipios[,c("Departamento","Depmun","Municipio","Region")],2,summ2)


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos <em> Municipios2 </em> creado como una copia
del conjunto de datos <em> Municipios </em> en la que las variables <em> Poblacion</em>,
<em> Superficie </em> y <em> Irural </em> se reemplazan por sus versiones estandarizadas,
es decir, se les resta su media y se les divide por su desviación estándar. </p>

In [ ]:


stdize <- function(x) (x-mean(x,na.rm=TRUE))/sd(x,na.rm=TRUE)
Municipios2 <- Municipios
vars <- c("Poblacion","Superficie","Irural")

Municipios2[,vars] <- apply(Municipios[,vars],2,stdize)
str(Municipios2)
apply(Municipios2[,vars],2,summary)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Eliminando municipios con missings. </p>

In [ ]:


Municipios <- as.data.frame(na.omit(Municipios))
apply(Municipios,2,missings)


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p style="text-align: justify;"> Guardando el conjunto de datos Municipios con todas las modificaciones que se le han realizado en el directorio de trabajo. </p>


<h4> <strong> R Data File </strong> </h4>

In [ ]:


saveRDS(Municipios, file="Municipios.RDS")


<h4> <strong> csv (Comma Separated Values) </strong> </h4>

In [ ]:


write_csv(Municipios, "Municipios.csv")


<h4> <strong> tsv (Tabular Separated Values) </strong> </h4>

In [ ]:


write_tsv(Municipios, "Municipios.tsv")


<h4> <strong> Text File </strong> </h4>

In [ ]:


write_delim(Municipios, "Municipios.txt", delim="@")

# Tablas de frecuencia


<h1 style="color:red;"> <strong> <center>Tablas de frecuencia </center></strong> </h1>

In [ ]:


install.packages("dplyr")
library(dplyr)
source("mismacros.txt")


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje del total representan los municipios del
departamento de Norte de Santander? Cuantos municipios tiene el departamento
del Valle del Cauca? Cuales son los cinco departamentos
con mayor número de municipios? Qué porcentaje del total representan
los municipios de estos cinco departamentos? Qué porcentaje de
los municipios son rurales? </p>

In [ ]:


mytable(~ Departamento,data=Municipios,ord="freq")

mytable(~ Zona,data=Municipios,cum=FALSE)


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje de la población habita en el departamento
del Meta? Cuantos habitantes tiene el departamento del Putumayo?
Cuales son los cuatro departamentos con mayor número de habitantes?
Qué porcentaje de la población habita en estos cuatro departamentos?
Qué porcentaje de la población habita en municipios rurales? </p>

In [ ]:


mytable(Poblacion ~ Departamento,data=Municipios,ord="freq")

mytable(Poblacion ~ Zona,data=Municipios,cum=FALSE)


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Cuales son los cinco municipios más/menos poblados del
departamento de Bolívar? Qué porcentaje representan estos municipios
del total de la población en el departamento? Qué porcentaje de
la población del departamento habita en municipios rurales? </p>

In [ ]:


mytable(Poblacion ~ Municipio,data=Municipios,subset=c(Dep=="13"),ord="freq")

mytable(Poblacion ~ Municipio,data=Municipios,subset=c(Dep=="13"),ord="-freq")

mytable(Poblacion ~ Zona,data=Municipios,subset=c(Dep=="13"),cum=FALSE)


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje de la superficie total de Colombia representa
el departamento del Chocó? Cual es la superficie del departamento
de Córdoba? Cuales son los cinco departamentos con
mayor/menor superficie? Qué porcentaje representan estos cinco departamentos
de la superficie total de Colombia? </p>

In [ ]:


mytable(Superficie ~ Departamento,data=Municipios,ord="freq")

mytable(Superficie ~ Departamento,data=Municipios,ord="-freq")


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje de los municipios del departamento de
La Guajira son rurales? Qué porcentaje de los municipios rurales están
en el departamento de Vaupés? </p>

In [ ]:


mytable(~ Departamento*Zona,data=Municipios,ord="freq")


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje de la población del departamento de Boyacá
está en municipios rurales? Qué porcentaje de la población total
en municipios rurales está en el departamento de Antioquia? </p>

In [ ]:


mytable(Poblacion ~ Departamento*Zona,data=Municipios,ord="freq",digits=1)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Qué porcentaje de la superficie del departamento de Nariño
corresponde a municipios rurales? Qué porcentaje de la superficie
total en municipios rurales está en el departamento de Atlántico? </p>

In [ ]:


mytable(Superficie ~ Departamento*Zona,data=Municipios,ord="freq",digits=1)

## Ejercicios


<p></p><h2 style="color:red;"> Ejercicios</h2><p></p><h3 style="color:red;"> Películas</h3><p style="text-align: justify;"> Estos datos, que corresponden a la duración promedio de las tomas de 11001 películas, están descritos <a href="http://users.stat.ufl.edu/~winner/data/movie_avshotlength.txt" style="color:red;"><strong> aquí</strong></a> y se pueden obtener <a href="http://users.stat.ufl.edu/~winner/data/movie_avshotlength.csv" style="color:red;"><strong> aquí</strong></a>.</p><ul>
<li><p style="text-align: justify;"> Importe las variables <em>Title</em>, <em>Year</em>, <em>Director</em> y <em>Country</em>. Cuantas filas tiene el conjunto de datos resultante? Hay valores perdidos o missings? Cuantos? En qué variables?</p></li>
<li><p style="text-align: justify;"> Cuantas películas tienen solo 1 director(a)? Cuantas películas tienen 2 directores(as)? Cuantas películas tienen 3 o más directores(as)?</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas tienen nombres que incluyen números?</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas tienen nombres que incluyen signos de puntuación?</p></li>
<li><p style="text-align: justify;"> Cree un conjunto de datos con las películas que tienen solo 1 director(a). Use la variable <em>Director</em> para crear una variable llamada <em>Director2</em> teniendo en cuenta los siguientes parámetros: <em>(a)</em> Deben aparecer los nombre(s) y luego los apellido(s) del(de la) director(a) de la película separados por espacios sencillos y sin espacios al inicio ni al final; <em>(b)</em> Las iniciales de cada nombre y de cada apellido deben estar en letras mayúsculas.</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas fueron dirigidas por Kathryn Bigelow?</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas fueron dirigidas por Martin Scorsese?</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas son Argentinas?</p></li>
<li><p style="text-align: justify;"> Cuantas y cuales películas son Mexicanas?</p></li>
</ul>
<p></p><h3 style="color:red;"> Exportaciones agrícolas tradicionales en Colombia</h3>
<p style="text-align: justify;"> El archivo <strong>exportaciones.xlsx</strong> contiene información sobre el volumen (en toneladas) y el valor (en dólares) de las exportaciones agrícolas tradicionales (Banano, Café y Flores) en Colombia de 2018 hasta 2021.</p><ul>
<li><p style="text-align: justify;"> Qué porcentaje del volumen de las exportaciones de café en 2018 se hicieron durante el mes de agosto?</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del volumen de las exportaciones de café en 2018 se hicieron durante el primer trimestre del año?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del valor de las exportaciones de café en 2018 se hicieron durante el mes de septiembre?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del valor de las exportaciones de café en 2018 se hicieron durante el cuarto trimestre del año?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del volumen de las exportaciones de flores en Antioquia en 2019 se hicieron durante el primer trimestre del año?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del volumen de las exportaciones de flores durante el primer trimestre del 2019 se hicieron desde Antioquia?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del valor de las exportaciones de flores en Antioquia en 2019 se hicieron durante el tercer trimestre del año?
</p></li>
<li><p style="text-align: justify;"> Qué porcentaje del valor de las exportaciones de flores durante el tercer trimestre del 2019 se hicieron desde Antioquia?
</p></li>
</ul>
<p></p><h3 style="color:red;"> Créditos</h3>
<p style="text-align: justify;"> Estos datos, disponibles en el objeto <em>credit</em>
del paquete <em>CASdatasets</em> de <em>R</em>, corresponden a la información de 1000 créditos bancarios,
en que los créditos considerados "buenos" y "malos" se identifican como <em>class = 0</em> y <em>class = 1</em>,
respectivamente.</p><ul>
<li><p style="text-align: justify;"> Qué porcentaje de la cartera (número de créditos) corresponde a créditos "malos"?</p></li>
<li><p style="text-align: justify;"> Qué porcentaje de la cartera (valor de los créditos) corresponde a créditos "malos"?</p></li>
<li><p style="text-align: justify;"> El porcentaje de la cartera (número de créditos) que corresponde a créditos "malos" es menor para los clientes con "buen" historial crediticio?</p></li>
<li><p style="text-align: justify;"> El porcentaje de la cartera (en valor) que corresponde a créditos "malos" es menor para los clientes con "buen" historial crediticio?</p></li>
<li><p style="text-align: justify;"> El porcentaje de la cartera (número de créditos) que corresponde a créditos "malos" es menor para los clientes con empleos más estables?</p></li>
<li><p style="text-align: justify;"> El porcentaje de la cartera (valor de los créditos) que corresponde a créditos "malos" es menor para los clientes con empleos más estables?</p></li>
</ul>

### Películas

In [17]:
%%R
peliculas = read_delim('https://raw.githubusercontent.com/jofmorenore/CE/main/movie_avshotlength.csv', delim = ',', skip = 1,
                       col_names = c("Title", "Year","Director","Country", "ASL"),
                       col_types = cols("c","n","c","c","-"))
str(peliculas) # 11001 filas
print(sum(is.na(peliculas))) # 1386 missings
apply(peliculas, 2, function(x) sum(is.na(x))) # missings: 4 en Year, 15 en Director, 1367 en Country

spc_tbl_ [11,001 × 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Title   : chr [1:11001] "11:14" "21" "300" "2012" ...
 $ Year    : num [1:11001] 2003 2008 2007 2009 1972 ...
 $ Director: chr [1:11001] "Marcks, Greg " "Luketic, Robert " "Snyder, Zack " "Emmerich, Roland " ...
 $ Country : chr [1:11001] "USA " NA "USA " "USA " ...
 - attr(*, "spec")=
  .. cols(
  ..   Title = col_character(),
  ..   Year = col_number(),
  ..   Director = col_character(),
  ..   Country = col_character(),
  ..   ASL = col_skip()
  .. )
 - attr(*, "problems")=<externalptr>
[1] 1386
   Title     Year Director  Country
       0        4       15     1367

In [18]:
%%R
peliculas2 = peliculas[!is.na(peliculas$Director),]
dim(peliculas2)
list(`solo 1 director(a)` = sum(str_count(peliculas2$Director, ",")<=1),
     `2 directores(as)` = sum(str_count(peliculas2$Director, ",")==2),
     `3 o más directores(as)` = sum(str_count(peliculas2$Director, ",")>2)) %>% cbind()

                       .
solo 1 director(a)     10777
2 directores(as)       200
3 o más directores(as) 9

In [19]:
%%R
print(paste("Número de películas que tienen nombres que incluyen números:", sum(str_detect(peliculas$Title, pattern = "[0-9]"))))
head(peliculas$Title[str_detect(peliculas$Title, pattern = "[0-9]")])

[1] "Número de películas que tienen nombres que incluyen números: 351"
[1] "11:14"              "21"                 "300"
[4] "2012"               "[Rec]3 G\xe9nesis " "1 Day "

In [20]:
%%R
print(paste("Número de películas que tienen nombres que incluyen signos de puntuación:", sum(str_detect(peliculas$Title, pattern = "[:punct:]"))))
head(peliculas$Title[str_detect(peliculas$Title, pattern = "[:punct:]")])

[1] "Número de películas que tienen nombres que incluyen signos de puntuación: 4141"
[1] "11:14"                    "*Batteries Not Included "
[3] "[Rec]3 G\xe9nesis "       "10,000 BC "
[5] "10th. & Wolf "            "13th. Warrior, The "

In [21]:
# Cree un conjunto de datos con las películas que tienen solo 1 director(a). 
# Use la variable Director para crear una variable llamada Director2 teniendo en cuenta los siguientes parámetros: 
# (a) Deben aparecer los nombre(s) y luego los apellido(s) del(de la) director(a) de la película separados por espacios sencillos y sin espacios al inicio ni al final; 
# (b) Las iniciales de cada nombre y de cada apellido deben estar en letras mayúsculas.
%%R
peliculas2 = peliculas2[str_count(peliculas2$Director, ",")<=1,]
peliculas2 = within(peliculas2, {
    Director2 <- str_to_title(str_squish(Director))})
tail(peliculas2$Director2, n = 10)

 [1] "Coraci, Frank"       "Stiller, Ben"        "Hewitt, Peter"
 [4] "Medak, Peter"        "Benegal, Shyam"      "Endfield, Cy"
 [7] "Hickcox, Douglas"    "Gerlach, Arthur Von" "Verhoeven, Paul"
[10] "Mack. Max"

In [22]:
%%R 
peliculas2[str_detect(peliculas2$Director, "(^Bigelow).+(Kathryn)"),]

# A tibble: 6 × 5
  Title                    Year Director            Country Director2
  <chr>                   <dbl> <chr>               <chr>   <chr>
1 "Hurt Locker, The "      2008 "Bigelow, Kathryn " "USA "  Bigelow, Kathryn
2 "K-19: The Widowmaker "  2002 "Bigelow, Kathryn " "USA "  Bigelow, Kathryn
3 "Near Dark "             1987 "Bigelow, Kathryn " "USA "  Bigelow, Kathryn
4 "Point Break "           1991 "Bigelow, Kathryn " "USA "  Bigelow, Kathryn
5 "Strange Days "          1995 "Bigelow, Kathryn " "USA "  Bigelow, Kathryn
6 "Weight of Water, The "  2000 "Bigelow, Kathryn "  <NA>   Bigelow, Kathryn

In [23]:
# Cuantas y cuales películas fueron dirigidas por Martin Scorsese?
%%R
peliculas2[str_detect(peliculas2$Director, "(^Scorsese).+(Martin)"),]

# A tibble: 19 × 5
   Title                               Year Director            Country Direct…¹
   <chr>                              <dbl> <chr>               <chr>   <chr>
 1 "After Hours "                      1985 "Scorsese, Martin " "USA "  Scorses…
 2 "Age of Innocence, The "            1993 "Scorsese, Martin " "USA "  Scorses…
 3 "Aviator, The "                     2004 "Scorsese, Martin "  <NA>   Scorses…
 4 "Bringing Out the Dead "            1999 "Scorsese, Martin " "USA "  Scorses…
 5 "Cape Fear "                        1991 "Scorsese, Martin " "USA "  Scorses…
 6 "Casino "                           1995 "Scorsese, Martin " "USA "  Scorses…
 7 "Color of Money, The "              1986 "Scorsese, Martin " "USA "  Scorses…
 8 "Departed, The "                    2006 "Scorsese, Martin " "USA "  Scorses…
 9 "Gangs of New York "                2002 "Scorsese, Martin " "USA "  Scorses…
10 "GoodFellas "                       1990 "Scorsese, Martin " "USA "  Scorses…
11 "King of Comedy, The "              1983 "Scorsese, Martin " "USA "  Scorses…
12 "Kundun "                           1997 "Scorsese, Martin " "USA "  Scorses…
13 "Mean Streets "                     1973 "Scorsese, Martin " "USA "  Scorses…
14 "Mean Streets "                     1973 "Scorsese, Martin " "USA "  Scorses…
15 "New York Stories: Life Lessons "   1989 "Scorsese, Martin " "USA "  Scorses…
16 "New York, New York "               1978 "Scorsese, Martin " "USA "  Scorses…
17 "Raging Bull "                      1980 "Scorsese, Martin " "USA "  Scorses…
18 "Taxi Driver "                      1976 "Scorsese, Martin " "USA "  Scorses…
19 "Who's That Knocking At My Door? "  1968 "Scorsese, Martin " "USA "  Scorses…
# … with abbreviated variable name ¹​Director2

In [24]:
%%R
#sort(unique(peliculas$Country))
peliculas[!is.na(peliculas$Country) & str_detect(peliculas$Country, "ARG"),] # 16 peliculas argentinas

# A tibble: 16 × 4
   Title                                  Year Director                  Country
   <chr>                                 <dbl> <chr>                     <chr>
 1 "Antena, la "                          2007 "Urdapilleta, Alejandro " "ARG "
 2 "Aura, El "                            2005 "Bielinsky, Fabian "      "ARG "
 3 "Bonaerense, el "                      2002 "Trapero, Pablo "         "ARG "
 4 "Ci\xe9naga, la "                      2001 "Martel, Lucrecia "       "ARG "
 5 "Dia de suerte, un "                   2002 "Gugliotta, Sandra "      "ARG "
 6 "Glue "                                2006 "Dos Santos, Alexis "     "ARG "
 7 "Historias minimas "                   2002 "Sorin, Carlos "          "ARG "
 8 "I, the Worst of All "                 1990 "Bemberg, Maria Luisa "   "ARG "
 9 "Lady From the Shanghai Cinema, The "  1987 "Prado, Guilherme De Alm… "ARG "
10 "Lucky Day, A "                        2002 "Gugliotta, Sandra "      "ARG "
11 "Nueve reinas "                        2000 "Bielinsky, Fabian "      "ARG "
12 "Perro, el "                           2004 "Sorin, Carlos "          "ARG "
13 "Prisioneros de la tierra "            1939 "Soffici, Mario "         "ARG "
14 "Sangre de virgenes "                  1967 "Vieyra, Emilio "         "ARG "
15 "Venganza del sexo, la "               1967 "Vieyra, Emilio "         "ARG "
16 "Viaje, el "                           1992 "Solanas, Fernando "      "ARG "

In [25]:
%%R
peliculas[!is.na(peliculas$Country) & str_detect(peliculas$Country, "MEX"),] # 20 peliculas mexicanas

# A tibble: 20 × 4
   Title                      Year Director                  Country
   <chr>                     <dbl> <chr>                     <chr>
 1 "Alamar "                  2009 "Gonzalez-Rubio, Pedro "  "MEX "
 2 "Alucarda "                1975 "Moctezuma, Juan Lopez "  "MEX "
 3 "Amores Perros "           2000 "Inarittu, Alejandro G. " "MEX "
 4 "Angel externinador, el "  1962 "Bu?uel, Luis "           "MEX "
 5 "Come agua por chocolat "  1993 "Arau, Alfonso "          "MEX "
 6 "Cronos "                  1992 "Del Toro, Guillermo "    "MEX "
 7 "Danzon "                  1991 "Novaro, Maria "          "MEX "
 8 "D\xe9ficit "              2007 "Bernal, Gail Garcia "    "MEX "
 9 "Duck Season "             2004 "Eimbcke, Fernando "      "MEX "
10 "El "                      1953 "Bu?uel, Luis "           "MEX "
11 "KM 31: Kilometro 31 "     2005 "Casta?eda, Rigoberto "   "MEX "
12 "Latino Bar "              1991 "Leduc, Paul "            "MEX "
13 "Littlest Outlaw, The "    1955 "Gavaldon, Roberto "      "MEX "
14 "Perfume de violetas "     2001 "Sistach, Maryse "        "MEX "
15 "Profundo carmesi "        1996 "Ripstein, Arturo "       "MEX "
16 "Simon del desertio "      1965 "Bu?uel, Luis "           "MEX "
17 "Somos lo que hay "        2009 "Grau, Jorge Michel "     "MEX "
18 "Til Death, ' "            1993 "Sarinana, Fernando "     "MEX "
19 "Topo, el "                1971 "Jodorowsky, Alexander "  "MEX "
20 "Y tu mama tambien "       2001 "Cuaron, Alfonso "        "MEX "

### Exportaciones

In [26]:
%%R
#install.packages("sqldf")
library(sqldf)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Loading required package: gsubfn

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Loading required package: proto

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Loading required package: RSQLite

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [27]:
%%R
exportaciones = read_excel("exportaciones.xlsx")
str(exportaciones)

tibble [5,704 × 8] (S3: tbl_df/tbl/data.frame)
 $ Ano         : num [1:5704] 2018 2018 2018 2018 2018 ...
 $ Mes         : num [1:5704] 1 1 1 1 1 1 1 1 1 1 ...
 $ Departamento: chr [1:5704] "Antioquia" "Antioquia" "Antioquia" "Antioquia" ...
 $ Dep         : num [1:5704] 5 5 5 5 5 5 5 5 5 5 ...
 $ Producto    : chr [1:5704] "Flores" "Flores" "Flores" "Flores" ...
 $ Partida     : num [1:5704] 6.03e+08 6.03e+08 6.03e+08 6.03e+08 6.03e+08 ...
 $ Valor       : num [1:5704] 54 3 2 2 10208 ...
 $ Volumen     : num [1:5704] 10 0 0 0 3046 ...

In [28]:
%%R
source("mismacros.txt")

In [29]:
%%R
mytable

function(formula,data,subset,cum=TRUE,ord=c("levels","-levels","freq","-freq"),na.action,
                    percent=TRUE,rowperc=TRUE,colperc=TRUE,digits=2){
			 ord <- match.arg(ord)
			 if (missingArg(data)) data <- environment(formula)
			 x <- match.call(expand.dots = FALSE)
	         m <- match(c("formula","data","subset","na.action"),names(x),0L)
	         x <- x[c(1L,m)]
	         x[[1L]] <- quote(stats::model.frame)
	         x <- eval(x,parent.frame())
			 if(length(formula) < 3) x <- cbind(1,x)
			 if(ncol(x)==2){
				 x <- as.data.frame(x)
				 salida <- colnames(x)
				 colnames(x) <- c("weight","cat")
				 options(dplyr.summarise.inform = FALSE)
				 a <- x %>% filter(!is.na(weight)) %>% group_by(cat) %>% summarise(count=sum(weight)) %>%
				      as.data.frame()
				 if(ord=="levels") ids <- order(a[,1]); if(ord=="-levels") ids <- order(a[,1],decreasing=TRUE)
				 if(ord=="freq") ids <- order(a[,2],decreasing=TRUE); if(ord=="-freq") ids <- order(a[,2])
				 b <- data.frame(a[ids,]);c <- b
				 if(any(is.na(b[,1]))){ c[-nrow(b),] <- b[!is.na(b[,1]),]; c[ nrow(b),] <- b[ is.na(b[,1]),]}
				 d <- cbind(c[,2],100*c[,2]/sum(c[,2]),cumsum(c[,2]),100*cumsum(c[,2])/sum(c[,2]))
				 colnames(d) <- c("Frequency","Percent(%)","Cumulative Frequency","Cumulative Percent(%)")
				 d <- rbind(d[1,],d,d[1,])
	 			 rownames(d) <- c(" ",as.character(c[,1])," ")
				 d[c(1,nrow(d)),] <- NA
				 rownames(d) <- ifelse(is.na(rownames(d)),"NA",rownames(d))
				 rownames(d) <- paste(rownames(d),apply(as.matrix(max(nchar(rownames(d))) - nchar(rownames(d))),1,function(x) paste(rep(" ",x),collapse="")),"|")
				 cat("\ntable  : ",salida[2])
				 cat("\nweights:",ifelse(salida[1]=="rep(1, nrow(x))"," 1",salida[1]))
				 cat("\n")
				 if(cum){
				   if(percent) printCoefmat(d,tst.ind=c(2,4),dig.tst=digits,cs.ind=c(1,3),na.print="----------------------")
				   else printCoefmat(d[,-2],tst.ind=c(3),dig.tst=digits,cs.ind=c(1,2),na.print="----------------------")
				 }
				 else{
				   if(percent) printCoefmat(d[,c(1,2)],tst.ind=c(2),dig.tst=digits,cs.ind=c(1),na.print="----------------------")
				   else{
				     dd <- as.matrix(d[,1])
					 colnames(dd) <- "Frequency"
				     printCoefmat(dd,dig.tst=digits,na.print="----------------------")
				   }
				 }
				 d <- d[!is.na(d[,1]),]
				 rownames(d) <- gsub("|","",rownames(d),fixed=TRUE)
				 return(invisible(as.data.frame(d)))
			 }else{
				 x <- as.data.frame(x[,1:3])
				 salida <- colnames(x)
				 colnames(x) <- c("weight","cat1","cat2")
				 options(dplyr.summarise.inform = FALSE)
				 pre1 <- x %>% group_by(cat1) %>% summarise(count=sum(weight)) %>% arrange(desc(count)) %>%
				           select(cat1) %>% as.data.frame()
				 pre1$id1 <- 1:nrow(pre1);pre1$vc <- 1
				 pre2 <- x %>% group_by(cat2) %>% summarise(count=sum(weight)) %>% arrange(desc(count)) %>%
				           select(cat2) %>% as.data.frame()
				 pre2$id2 <- 1:nrow(pre2);pre2$vc <- 1
				 nano <- x %>% group_by(cat1,cat2) %>% summarise(count=sum(weight)) %>% as.data.frame()
				 todos <- inner_join(pre1,pre2,by=c("vc"="vc"),multiple="all")
				 nano <-  nano %>% right_join(todos,by=c("cat1"="cat1","cat2"="cat2")) %>%
				          mutate(count=ifelse(is.na(count),0,count)) %>% select(everything(nano)) %>% as.data.frame()
				 if(ord=="-levels") nano <- nano %>% arrange(desc(cat2)) %>% as.data.frame()
				 if(ord=="freq") nano <- nano %>% inner_join(pre2,by=c("cat2"="cat2"),multiple="all") %>% arrange(id2) %>%
				                         select(everything(nano)) %>% as.data.frame()
				 if(ord=="-freq") nano <- nano %>% inner_join(pre2,by=c("cat2"="cat2"),multiple="all") %>% arrange(desc(id2)) %>%
				                         select(everything(nano)) %>% as.data.frame()
				 nano2 <- reshape(nano, v.names = "count", idvar = "cat1",
	                      timevar = "cat2", direction = "wide")
				 nano2[,1] <- as.character(nano2[,1])
				 a <- cbind(nm=1,nm2=nano2[,1],nano2[,-1])
				 b <- cbind(nm=2,nm2=nano2[,1],100*nano2[,-1]/sum(nano2[-1]))
				 c <- cbind(nm=3,nm2=nano2[,1],100*nano2[,-1]/apply(nano2[-1],1,sum))
				 d <- cbind(nm=4,nm2=nano2[,1],100*nano2[,-1]/matrix(apply(nano2[-1],2,sum),nrow(nano2[,-1]),ncol(nano2[,-1]),byrow=TRUE))
				 e <- cbind(nm=5,nm2=nano2[,1],nano2[,-1])
				 f <- rbind(a,b,c,d,e)
				 h <- f %>% mutate(nm2=rep("_Total_",nrow(f))) %>% group_by(nm2,nm) %>% summarise_all(list(sum)) %>%
				           filter(nm != 0) %>% as.data.frame()
				 f <- f %>% arrange(nm2,nm) %>% as.data.frame()
				 f <- rbind(f,h)
				 if(ord=="-levels") f <- f %>% arrange(desc(nm2),nm) %>% as.data.frame()
				 if(ord=="freq") f <- f %>% left_join(pre1,by=c("nm2"="cat1")) %>% arrange(id1) %>%
				                      select(everything(f)) %>% as.data.frame()
				 if(ord=="-freq") f <- f %>% left_join(pre1,by=c("nm2"="cat1")) %>% arrange(desc(id1)) %>%
				                       select(everything(f)) %>%	as.data.frame()
				 f <- rbind(e2 <- cbind(nm=0,nm2=nano2[1,1],nano2[1,-1]),f)
				 f <- cbind(f,apply(f[,-c(1,2)],1,sum))
				 colnames(f)[ncol(f)] <- "_Total_"
				 f[,"_Total_"] <- ifelse(f[,"nm"]==3 | f[,"nm"]==4,NA,f[,"_Total_"])
				 g <- as.matrix(f[,-c(1,2)])
				 g[f[,1]==5 | f[,1]==0,] <- NA
				 g[(f[,1]==3 | f[,1]==4) & f[,2]=="_Total_",] <- NA
				 rownames(g) <- ifelse(f[,1]==1,f[,2]," ")
				 if(!percent){ g <- g[f[,1]!=2,]; f <- f[f[,1]!=2,]}
				 if(!rowperc){ g <- g[f[,1]!=3,]; f <- f[f[,1]!=3,]}
				 if(!colperc){ g <- g[f[,1]!=4,]; f <- f[f[,1]!=4,]}
				 g <- g[-nrow(g),]
				 ajust <- apply(as.matrix(max(nchar(rownames(g))) - nchar(rownames(g))),1,function(x) paste(c(rep(" ",x),"|"),collapse=""))
				 rownames(g) <- paste(rownames(g),ajust)
				 colnames(g) <- gsub("count.","",colnames(g))
				 cat("\nrows   :",salida[2])
				 cat("\ncolumns:",salida[3])
				 cat("\nweights:",ifelse(salida[1]=="rep(1, nrow(x))","1",salida[1]))
				 cat("\n\n ----------- ")
				 cat("\n|Frequency  |")
				 if(percent) cat("\n|Percent    |")
				 if(rowperc) cat("\n|Row Percent|")
				 if(colperc) cat("\n|Col Percent|")
				 cat("\n ----------- ")
				 cat("\n\n")
				 printCoefmat(g,tst.ind=c(1:ncol(g)),dig.tst=digits,na.print=paste(rep("-",max(nchar(colnames(g)))),collapse=""))
				 f <- f[f$nm != 0 & f$nm != 5 & f$nm2 != "_Total_",-c(1,ncol(f))]
				 colnames(f) <- gsub("count.","",colnames(f))
				 colnames(f)[1] <- salida[2]
				 row.names(f) <- NULL
				 return(invisible(as.data.frame(f)))
			 }
}

In [30]:
%%R
#sqldf("select sum(Volumen) as tot_vol
#       from exportaciones
#       where Ano = 2018 and Producto = 'Café'
#       ") 

sqldf(" select sum(Volumen)/722527*100 as tot_vol
        from exportaciones
        where Ano = 2018 and Producto = 'Café'
        group by Mes
        having Mes=8
      ")

   tot_vol
1 9.251973

In [31]:
# Qué porcentaje del volumen de las exportaciones de café en 2018 se hicieron durante el mes de agosto?
## 9.25%
%%R
mytable(Volumen ~ Mes,data=exportaciones,subset=c(Producto=="Café" & Ano==2018),ord="levels", cum=FALSE)[8,]

table  :  Mes
weights: Volumen
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                  75227                  10.41
2   |                  55774                   7.72
3   |                  61216                   8.47
4   |                  62383                   8.63
5   |                  58331                   8.07
6   |                  44890                   6.21
7   |                  50838                   7.04
8   |                  66848                   9.25
9   |                  57193                   7.92
10  |                  62058                   8.59
11  |                  60223                   8.34
12  |                  67546                   9.35
    | ---------------------- ----------------------
     Frequency Percent(%) Cumulative Frequency Cumulative Percent(%)
8        66848   9.251973               475507              65.81166

In [32]:
# Qué porcentaje del volumen de las exportaciones de café en 2018 se hicieron durante el primer trimestre del año?
## 26.60%
%%R
sum(mytable(Volumen ~ Mes,data=exportaciones,subset=c(Producto=="Café" & Ano==2018),ord="levels", cum=FALSE)[1:3,2])

table  :  Mes
weights: Volumen
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                  75227                  10.41
2   |                  55774                   7.72
3   |                  61216                   8.47
4   |                  62383                   8.63
5   |                  58331                   8.07
6   |                  44890                   6.21
7   |                  50838                   7.04
8   |                  66848                   9.25
9   |                  57193                   7.92
10  |                  62058                   8.59
11  |                  60223                   8.34
12  |                  67546                   9.35
    | ---------------------- ----------------------
[1] 26.60343

In [33]:
%%R
sqldf(" select sum(Volumen)/722527*100 as tot_vol
        from exportaciones
        where Ano = 2018 and Producto = 'Café'
        group by Mes
        having Mes in (1,2,3)
      ")

    tot_vol
1 10.411652
2  7.719296
3  8.472486

In [34]:
# Qué porcentaje del valor de las exportaciones de café en 2018 se hicieron durante el mes de septiembre?
## 7.63%
%%R
mytable(Valor ~ Mes,data=exportaciones,subset=c(Producto=="Café" & Ano==2018),ord="levels", cum=FALSE)[9,]

table  :  Mes
weights: Valor
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                 253385                  10.85
2   |                 185827                   7.96
3   |                 200611                   8.59
4   |                 204571                   8.76
5   |                 189574                   8.12
6   |                 146480                   6.27
7   |                 164939                   7.06
8   |                 212719                   9.11
9   |                 178285                   7.63
10  |                 193985                   8.31
11  |                 190020                   8.14
12  |                 215021                   9.21
    | ---------------------- ----------------------
     Frequency Percent(%) Cumulative Frequency Cumulative Percent(%)
9       178285   7.633969              1736391              74.35036

In [35]:
# Qué porcentaje del valor de las exportaciones de café en 2018 se hicieron durante el cuarto trimestre del año?
## 25.64%
%%R
sum(mytable(Valor ~ Mes,data=exportaciones,subset=c(Producto=="Café" & Ano==2018),ord="levels", cum=FALSE)[10:12,2])

table  :  Mes
weights: Valor
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                 253385                  10.85
2   |                 185827                   7.96
3   |                 200611                   8.59
4   |                 204571                   8.76
5   |                 189574                   8.12
6   |                 146480                   6.27
7   |                 164939                   7.06
8   |                 212719                   9.11
9   |                 178285                   7.63
10  |                 193985                   8.31
11  |                 190020                   8.14
12  |                 215021                   9.21
    | ---------------------- ----------------------
[1] 25.64964

In [36]:
# Qué porcentaje del volumen de las exportaciones de flores en Antioquia en 2019 se hicieron durante el primer trimestre del año?
## 26.15%
%%R
sum(mytable(Volumen ~ Mes,data=exportaciones,subset=c(Producto=="Flores" & Ano==2019 & Departamento=='Antioquia'),ord="levels", cum=FALSE)[1:3,2])

table  :  Mes
weights: Volumen
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                   6304                   9.31
2   |                   6495                   9.59
3   |                   4906                   7.25
4   |                   4652                   6.87
5   |                   7707                  11.39
6   |                   5370                   7.93
7   |                   5781                   8.54
8   |                   5018                   7.41
9   |                   5369                   7.93
10  |                   5832                   8.62
11  |                   5552                   8.20
12  |                   4706                   6.95
    | ---------------------- ----------------------
[1] 26.15523

In [37]:
# Qué porcentaje del volumen de las exportaciones de flores durante el primer trimestre del 2019 se hicieron desde Antioquia?
## 27.32%
%%R
mytable(Volumen ~ Departamento,data=exportaciones,subset=c(Producto=="Flores" & Ano==2019 & Mes %in% 1:3),ord="levels", cum=FALSE)[1,]

table  :  Departamento
weights: Volumen
                                Frequency             Percent(%)
                 | ---------------------- ----------------------
Antioquia        |                  17705                  27.32
Atlántico        |                     90                   0.14
Bogotá           |                  23737                  36.62
Bolívar          |                    192                   0.30
Boyacá           |                     10                   0.02
Cundinamarca     |                  22918                  35.36
Magdalena        |                     65                   0.10
Risaralda        |                      2                   0.00
Valle del Cauca  |                     93                   0.14
                 | ---------------------- ----------------------
                  Frequency Percent(%) Cumulative Frequency
Antioquia             17705   27.31747                17705
                  Cumulative Percent(%)
Antioquia                      27.31747

In [38]:
%%R
sqldf(" select Departamento, sum(Volumen) as tot_vol
        from exportaciones
        where Mes in (1,2,3) and Ano = 2019 and Producto = 'Flores'
        group by Departamento
      ")

     Departamento tot_vol
1       Antioquia   17705
2       Atlántico      90
3          Bogotá   23737
4         Bolívar     192
5          Boyacá      10
6    Cundinamarca   22918
7       Magdalena      65
8       Risaralda       2
9 Valle del Cauca      93

In [39]:
# Qué porcentaje del valor de las exportaciones de flores en Antioquia en 2019 se hicieron durante el tercer trimestre del año?
# 23.09%
%%R
sum(mytable(Valor ~ Mes,data=exportaciones,subset=c(Producto=="Flores" & Ano==2019 & Departamento=='Antioquia'),ord="levels", cum=FALSE)[7:9,2])

table  :  Mes
weights: Valor
                   Frequency             Percent(%)
    | ---------------------- ----------------------
1   |                  24736                   9.16
2   |                  26764                   9.91
3   |                  19864                   7.36
4   |                  19040                   7.05
5   |                  32914                  12.19
6   |                  22297                   8.26
7   |                  22935                   8.49
8   |                  19502                   7.22
9   |                  19920                   7.38
10  |                  22416                   8.30
11  |                  21614                   8.00
12  |                  18049                   6.68
    | ---------------------- ----------------------
[1] 23.09082

In [48]:
# Qué porcentaje del valor de las exportaciones de flores durante el tercer trimestre del 2019 se hicieron desde Antioquia?
## 19.12%
%%R
mytable(Valor ~ Departamento,data=exportaciones,subset=c(Producto=="Flores" & Ano==2019 & Mes %in% 7:9),ord="levels", cum=FALSE)[1,]

table  :  Departamento
weights: Valor
                                Frequency             Percent(%)
                 | ---------------------- ----------------------
Antioquia        |                  62357                  19.13
Atlántico        |                    522                   0.16
Bogotá           |                 119054                  36.52
Bolívar          |                    110                   0.03
Boyacá           |                     90                   0.03
Cundinamarca     |                 143275                  43.95
Magdalena        |                    449                   0.14
Risaralda        |                      7                   0.00
Valle del Cauca  |                    161                   0.05
                 | ---------------------- ----------------------
                  Frequency Percent(%) Cumulative Frequency
Antioquia             62357   19.12645                62357
                  Cumulative Percent(%)
Antioquia                      19.12645

### Créditos

In [41]:
%%R
load("/content/drive/MyDrive/credit.rda")
str(credit)

'data.frame':	1000 obs. of  21 variables:
 $ checking_status    : Factor w/ 4 levels "A11","A12","A13",..: 1 2 4 1 1 4 4 2 4 2 ...
 $ duration           : int  6 48 12 42 24 36 24 36 12 30 ...
 $ credit_history     : Factor w/ 5 levels "A30","A31","A32",..: 5 3 5 3 4 3 3 3 3 5 ...
 $ purpose            : Factor w/ 10 levels "A40","A41","A410",..: 5 5 8 4 1 8 4 2 5 1 ...
 $ credit_amount      : int  1169 5951 2096 7882 4870 9055 2835 6948 3059 5234 ...
 $ savings            : Factor w/ 5 levels "A61","A62","A63",..: 5 1 1 1 1 5 3 1 4 1 ...
 $ employment         : Factor w/ 5 levels "A71","A72","A73",..: 5 3 4 4 3 3 5 3 4 1 ...
 $ installment_rate   : int  4 2 2 2 3 2 3 2 2 4 ...
 $ personal_status    : Factor w/ 4 levels "A91","A92","A93",..: 3 2 3 3 3 3 3 3 1 4 ...
 $ other_parties      : Factor w/ 3 levels "A101","A102",..: 1 1 1 3 1 1 1 1 1 1 ...
 $ residence_since    : int  4 2 3 4 4 4 4 2 4 2 ...
 $ property_magnitude : Factor w/ 4 levels "A121","A122",..: 1 1 1 2 4 4 2 3 1 3 ...
 $ age                : int  67 22 49 45 53 35 53 35 61 28 ...
 $ other_payment_plans: Factor w/ 3 levels "A141","A142",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ housing            : Factor w/ 3 levels "A151","A152",..: 2 2 2 3 3 3 2 1 2 2 ...
 $ existing_credits   : int  2 1 1 1 2 1 1 1 1 2 ...
 $ job                : Factor w/ 4 levels "A171","A172",..: 3 3 2 3 3 2 3 4 2 4 ...
 $ num_dependents     : int  1 1 2 2 2 2 1 1 1 1 ...
 $ telephone          : Factor w/ 2 levels "A191","A192": 2 1 1 1 1 2 1 2 1 1 ...
 $ foreign_worker     : Factor w/ 2 levels "A201","A202": 1 1 1 1 1 1 1 1 1 1 ...
 $ class              : num  0 1 0 0 1 0 0 0 0 1 ...

In [42]:
# Qué porcentaje de la cartera (número de créditos) corresponde a créditos "malos"?
## 70%
%%R
credit = within(credit, {
    class <- ifelse(class==0, 'malo', 'bueno')})
mytable( ~ class,data=credit,ord="levels", cum=FALSE)

table  :  class
weights: 1
                      Frequency             Percent(%)
       | ---------------------- ----------------------
bueno  |                    300                     30
malo   |                    700                     70
       | ---------------------- ----------------------

In [43]:
# Qué porcentaje de la cartera (valor de los créditos) corresponde a créditos "malos"?
## 63.88%
%%R
mytable(credit_amount ~ class,data=credit,ord="levels", cum=FALSE)

table  :  class
weights: credit_amount
                      Frequency             Percent(%)
       | ---------------------- ----------------------
bueno  |                1181438                  36.12
malo   |                2089820                  63.88
       | ---------------------- ----------------------

In [49]:
%%R
## No, el porcentaje de cartera en clientes con buen historial es mayor (82.94%) en los correspondientes a créditos malos
mytable( ~ credit_history*class, data=credit, colperc=FALSE, percent=FALSE)

rows   : credit_history
columns: class
weights: 1

 -----------
|Frequency  |
|Row Percent|
 -----------

            bueno    malo _Total_
        | ------- ------- -------
A30     |   25.00   15.00   40.00
        |   62.50   37.50 -------
        | ------- ------- -------
A31     |   28.00   21.00   49.00
        |   57.14   42.86 -------
        | ------- ------- -------
A32     |  169.00  361.00  530.00
        |   31.89   68.11 -------
        | ------- ------- -------
A33     |   28.00   60.00   88.00
        |   31.82   68.18 -------
        | ------- ------- -------
A34     |   50.00  243.00  293.00
        |   17.06   82.94 -------
        | ------- ------- -------
_Total_ |  300.00  700.00 1000.00
        | ------- ------- -------

In [50]:
%%R
## No, el porcentaje de cartera (Valor) en clientes con buen historial es mayor (77.37%) en los correspondientes a créditos malos
mytable(credit_amount ~ credit_history*class, data=credit, colperc=FALSE, percent=FALSE)

rows   : credit_history
columns: class
weights: credit_amount

 -----------
|Frequency  |
|Row Percent|
 -----------

               bueno       malo    _Total_
        |    -------    -------    -------
A30     |  138156.00   74071.00  212227.00
        |      65.10      34.90    -------
        |    -------    -------    -------
A31     |   94405.00   69494.00  163899.00
        |      57.60      42.40    -------
        |    -------    -------    -------
A32     |  636380.00  975328.00 1611708.00
        |      39.48      60.52    -------
        |    -------    -------    -------
A33     |  107750.00  270879.00  378629.00
        |      28.46      71.54    -------
        |    -------    -------    -------
A34     |  204747.00  700048.00  904795.00
        |      22.63      77.37    -------
        |    -------    -------    -------
_Total_ | 1181438.00 2089820.00 3271258.00
        |    -------    -------    -------

In [51]:
%%R
## No, el porcentaje de cartera en clientes con empleo más estable es mayor (74.70%) en los correspondientes a créditos malos
mytable( ~ employment*class, data=credit, colperc=FALSE, percent=FALSE)

rows   : employment
columns: class
weights: 1

 -----------
|Frequency  |
|Row Percent|
 -----------

            bueno    malo _Total_
        | ------- ------- -------
A71     |   23.00   39.00   62.00
        |   37.10   62.90 -------
        | ------- ------- -------
A72     |   70.00  102.00  172.00
        |   40.70   59.30 -------
        | ------- ------- -------
A73     |  104.00  235.00  339.00
        |   30.68   69.32 -------
        | ------- ------- -------
A74     |   39.00  135.00  174.00
        |   22.41   77.59 -------
        | ------- ------- -------
A75     |   64.00  189.00  253.00
        |   25.30   74.70 -------
        | ------- ------- -------
_Total_ |  300.00  700.00 1000.00
        | ------- ------- -------

In [52]:
%%R
## No, el porcentaje de cartera (Valor) en clientes con empleo más estable es mayor (65.21%) en los correspondientes a créditos malos
mytable(credit_amount ~ employment*class, data=credit, colperc=FALSE, percent=FALSE)

rows   : employment
columns: class
weights: credit_amount

 -----------
|Frequency  |
|Row Percent|
 -----------

               bueno       malo    _Total_
        |    -------    -------    -------
A71     |   97919.00  163520.00  261439.00
        |      37.45      62.55    -------
        |    -------    -------    -------
A72     |  234101.00  273721.00  507822.00
        |      46.10      53.90    -------
        |    -------    -------    -------
A73     |  408522.00  650950.00 1059472.00
        |      38.56      61.44    -------
        |    -------    -------    -------
A74     |  157063.00  469632.00  626695.00
        |      25.06      74.94    -------
        |    -------    -------    -------
A75     |  283833.00  531997.00  815830.00
        |      34.79      65.21    -------
        |    -------    -------    -------
_Total_ | 1181438.00 2089820.00 3271258.00
        |    -------    -------    -------

# Consulta, transformación y creación de conjuntos de datos

## Libreria sqldf

<p></p><h1 style="color:red;"> <strong> <center>Consulta, transformación y creación de conjuntos de datos</center></strong> </h1>
<p></p><h2 style="color:blue;"> <strong> <center>Libreria sqldf</center></strong> </h2>

<img height="900" src="https://r2022.netlify.app/sqldf.png" width="850"/>


<p></p><p style="text-align: justify;"> <a href="https://www.sqlite.org/lang_mathfunc.html" style="color:red;"><strong> Operadores Matemáticos</strong></a></p> <strong>También incluye:</strong> acos, asin, atan, atn2, atan2, acosh, asinh, atanh, difference, degrees, radians, cos, sin, tan, cot, cosh, sinh, tanh, coth, exp, log, log10, power, sign, sqrt, square, ceil, floor, pi.


<p></p><p style="text-align: justify;"> <a href="https://www.sqlite.org/lang_corefunc.html" style="color:red;"><strong> Operadores de Texto</strong></a></p> <strong>También incluye:</strong> replicate, charindex, leftstr, rightstr, ltrim, rtrim, trim, replace, reverse, proper, padl, padr, padc, strfilter.


<p style="text-align: justify;"> <a href="https://www.sqlite.org/lang_datefunc.html" style="color:red;"><strong> Operadores de Fechas</strong></a></p>

In [ ]:


install.packages("sqldf")
library(sqldf)
help(sqldf)

In [ ]:


Municipios <- readRDS("Municipios.RDS")


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Dep</em>, <em>Depmun</em>,
<em>Municipio</em>, <em>Superficie</em> y <em>Poblacion</em> que incluye todos los municipios de los departamentos de Antioquia y Caldas con más de 20 mil habitantes
y donde los mismos están ordenados con respecto a <em>Dep</em> y de
mayor a menor con respecto a <em>Poblacion</em>.</p>

In [ ]:


E1 <- sqldf("select   Departamento, Dep, Depmun, Municipio, Superficie, Poblacion
             from     Municipios
             where    Dep in ('05','17') and Poblacion > 20000
             order by Dep asc, Poblacion desc")

str(E1)
head(E1,n=10)
tail(E1,n=10)


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Dep</em>, <em>Depmun</em>, <em>Municipio</em>, <em>Superficie</em> y <em>Poblacion</em> que incluye todos los municipios con superficies menores a 300 $km^2$ excepto los de Boyacá y Santander, y que están ordenados por <em>Dep</em> y de mayor a menor por <em>Poblacion</em>.
Incluye una variable definida como "Baja" para los municipios con
<em>denspobl</em> menor a 30, "Alta" para los municipios con <em>denspobl</em> mayor
a 85, y "Media" para los demás.</p>

In [ ]:


E2 <- sqldf("select   Departamento, Dep, Depmun, Municipio, Superficie,
                      Poblacion, case when denspobl < 30 then 'Baja'
                                      when denspobl > 85 then 'Alta'
                                      else 'Media'
                                 end as denspoblC
             from     Municipios
             where    Dep not in ('15','68') and Superficie < 300
             order by Dep asc, Poblacion desc")

str(E2)
head(E2)
tail(E2)


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo <em>Depmun</em>?</p>

In [ ]:


sqldf("select   Depmun, count(*) as reps
       from     Municipios
       group by Depmun 
       having   reps > 1")

sqldf("select count(*) as tot_filas, count(distinct depmun) as tot_depmuns
       from   Municipios")


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> De los departamentos con dos o más municipios cual
es el menos homogeneo (de acuerdo al coeficiente de variación) con
respecto a la superficie de los municipios que lo componen?</p>

In [ ]:


sqldf("select   Dep, Departamento, stdev(Superficie)/avg(Superficie) as cv
       from     Municipios 
       group by Dep, Departamento
       having   count(*) > 1 
       order by cv desc 
       limit    1")


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> De los departamentos con dos o más municipios cual
es el más homogeneo (de acuerdo al coeficiente de variación) con
respecto a la superficie de los municipios que lo componen?</p>

In [ ]:


sqldf("select   Dep, Departamento, stdev(Superficie)/avg(Superficie) as cv
       from     Municipios 
       group by Dep, Departamento
       having   count(*) > 1 
       order by cv 
       limit    1")


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos, ordenados de mayor
a menor con respecto a su población, que incluye la siguiente información: número de municipios, superficie,
población, densidad poblacional, índice de ruralidad promedio
ponderado por población, y una variable igual a "Grande" para los
departamentos con población mayor a $1.5$ millones de habitantes, "Pequeño" para departamentos
con población menor a $300$ mil habitantes, y "Mediano" para el resto.</p>

In [ ]:


E6 <- sqldf("select   Dep, Departamento, count(*) as nmunicipios, sum(Poblacion) as totpob,
                      sum(Superficie) as totsup, sum(Poblacion)/sum(Superficie) as denspob,
                      sum(Irural*Poblacion)/sum(Poblacion) as Irural,
                      case when sum(Poblacion) > 1500000 then 'Grande'
                           when sum(Poblacion) < 300000 then 'Pequeño'
                           else 'Mediano'
                      end as totpobC
             from     Municipios
             group by Dep, Departamento
             order by totpob desc")

str(E6)
head(E6)
tail(E6)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Cual es la región con la mayor superficie?</p>

In [ ]:


sqldf("select   Region
       from     Municipios
       group by Region
       order by sum(Superficie) desc
       limit    1")


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos, ordenados de mayor
a menor con respecto a su población, que incluye la siguiente información: número de municipios, superficie,
población, densidad poblacional, todo referente a los municipios con índice de ruralidad mayor a 60.</p>

In [ ]:


E8 <- sqldf("select   Dep, Departamento, count(*) as nmunicipios, sum(Poblacion) as totpob,
                      sum(Superficie) as totsup, sum(Poblacion)/sum(Superficie) as denspob
             from     Municipios
             where    Irural > 60
             group by Dep, Departamento
             order by totpob desc")

str(E8)
head(E8)
tail(E8)


<p></p><h4> <strong> Ejemplo 9 </strong> </h4>
<p style="text-align: justify;"> Cual es la región con el mayor número de departamentos?</p>

In [ ]:


sqldf("select   Region
       from     Municipios
       group by Region
       order by count(distinct Dep) desc
       limit    1")


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos con al menos 650 mil habitantes
y al menos 10 mil $km^2$ de superficie, ordenados de mayor a menor con relación a su densidad poblacional, y que incluye la siguiente información:
número de municipios, superficie, población y densidad poblacional.</p>

In [ ]:


E10 <- sqldf("select  Dep, Departamento, count(*) as nmunicipios, sum(Poblacion) as totpob, 
                      sum(Superficie) as totsup, sum(Poblacion)/sum(Superficie) as denspob
             from     Municipios
             group by Dep, Departamento
             having   totpob >= 650000 and totsup >= 10000
             order by denspob desc")

str(E10)
head(E10)
tail(E10)


<p></p><h4> <strong> Ejemplo 11 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos con al menos 650 mil
habitantes y al menos 10 mil $km^2$ de superficie, ordenados de mayor
a menor con relación a su densidad poblacional, y que incluye la siguiente información:
número de municipios, superficie, población, y densidad
poblacional, todo referente a municipios con índice de ruralidad mayor a 40.</p>

In [ ]:


E11 <- sqldf("select   Dep, Departamento, count(*) as nmunicipios, sum(Poblacion) as totpob, 
                       sum(Superficie) as totsup, sum(Poblacion)/sum(Superficie) as denspob
              from     Municipios
              where    Irural > 40
              group by Dep, Departamento
              having   totpob >= 650000 and totsup >= 10000
              order by denspob desc")

str(E11)
head(E11)
tail(E11)


<p></p><h4> <strong> Ejemplo 12 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo nombre?
Cuantos? Cuales? En qué departamentos están ubicados?</p>

In [ ]:


Repetidos <- sqldf("select   Municipio, count(*) as veces
                    from     Municipios
                    group by Municipio
                    having   veces > 1
                    order by veces desc")

str(Repetidos)
head(Repetidos)
tail(Repetidos)
     
E12 <- sqldf("select   Municipio, Departamento, Dep, Depmun
              from     Municipios
              where    Municipio in (select Municipio 
                                     from   Repetidos)
              order by Municipio, Departamento")

str(E12)
head(E12,n=10)
tail(E12,n=10)

In [ ]:


E12a <- sqldf("select   Municipio, Departamento, Dep, Depmun
               from     Municipios
               where    Municipio in (select   Municipio
                                      from     Municipios
                                      group by Municipio
                                      having   count(*) > 1)
               order by Municipio, Departamento")

all.equal(E12,E12a)


<p></p><h4> <strong> Ejemplo 13 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo nombre que
hacen parte de la misma región? Cuantos? Cuales?</p>

In [ ]:


Repetidos <- sqldf("select   Region, Municipio, count(*) as veces
                    from     Municipios
                    group by Region, Municipio
                    having   veces > 1
                    order by veces desc")

str(Repetidos)
head(Repetidos)
tail(Repetidos)

E13 <- sqldf("select   Municipio, Region, Departamento, Dep, Depmun
              from     Municipios
              where    Region||''||Municipio in (select Region||''||Municipio
                                                 from   Repetidos)
              order by Municipio asc, Region asc")

str(E13)
head(E13,n=10)
tail(E13,n=10)

In [ ]:


E13a <- sqldf("select   Municipio, Region, Departamento, Dep, Depmun
               from     Municipios
               where    Region||''||Municipio in (select   Region||''||Municipio
                                                  from     Municipios
                                                  group by Region, Municipio
                                                  having   veces > 1)
               order by Municipio asc, Region asc")

all.equal(E13,E13a)


<p></p><h4> <strong> Ejemplo 14 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres inician
con "A" o terminan con "o", no importa si llevan tilde o no.</p>

In [ ]:


E14 <- sqldf("select   Dep, Departamento, Municipio, Depmun
              from     Municipios
              where    Municipio like 'A%' or
                       Municipio like 'Á%' or 
                       Municipio like '%o' or
                       Municipio like '%ó'
              order by Depmun")

str(E14)
head(E14)
tail(E14)


<p></p><h4> <strong> Ejemplo 15 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres inician
con "A" y terminan con "o", no importa si llevan tilde o no.</p>

In [ ]:


E15 <- sqldf("select   Dep, Departamento, Municipio, Depmun
              from     Municipios
              where    Municipio like 'A%o' or
                       Municipio like 'A%ó' or
                       Municipio like 'Á%o'
              order by Depmun")

str(E15)
head(E15)
tail(E15)


<p></p><h4> <strong> Ejemplo 16 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyo nombre tiene a la
letra "e" en las posiciones 2 y 4, no importa si llevan tilde o no.</p>

In [ ]:


E16 <- sqldf("select   Dep, Departamento, Municipio, Depmun
              from     Municipios
              where    Municipio like '_e_e%' or 
                       Municipio like '_é_e%' or
                       Municipio like '_e_é%'
              order by Depmun")

str(E16)
head(E16)
tail(E16)


<p></p><h4> <strong> Ejemplo 17 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres constan
de más de una palabra.</p>

In [ ]:


E17 <- sqldf("select   Dep, Departamento, Municipio, Depmun
              from     Municipios
              where    Municipio like '% %'
              order by Depmun")

str(E17)
head(E17)
tail(E17)

<p><img height="900" src="https://r2022.netlify.app/sqldf2.png" width="850"/>

<img height="900" src="https://r2022.netlify.app/sqldf3.png" width="850"/></p>

In [ ]:


A <- data.frame(id=c(1,2,2,3),cod=c(23,65,60,87),name=c("Leia","Luke","Yoda","Hank"))
B <- data.frame(id=c(2,3,4),cod=c(65,87,29),age=c(23,20,25))
A
B

sqldf("select * 
       from     A inner join B on (A.id=B.id and A.cod=B.cod)")

sqldf("select * 
       from     B inner join A on (B.id=A.id and B.cod=A.cod)")

sqldf("select * 
       from     A left join B on (A.id=B.id and A.cod=B.cod)")

sqldf("select * 
       from     B left join A on (B.id=A.id and B.cod=A.cod)")


<hr/>
<p></p><h4> <strong> Ejemplo 18 </strong> </h4>
<p style="text-align: justify;"> Cuantos y cuales municipios tienen al menos una estación
de monitoreo climático?</p>

In [ ]:


Estaciones <- read_excel("Estaciones.xlsx")
str(Estaciones)

E18 <- sqldf("select distinct Depmun
              from   Estaciones")
str(E18)
head(E18)
tail(E18)


<p></p><h4> <strong> Ejemplo 19 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los municipios del país, que incluye una variable que informa el número de 
estaciones de monitoreo climático con que cuenta cada municipio.</p>

In [ ]:


Emon <- sqldf("select   Depmun, count(*) as nem 
               from     Estaciones
               group by Depmun")

E19 <- sqldf("select Municipios.*, case when nem is null then 0 
                                        else nem 
                                   end as nest
              from   Municipios left join Emon on (Municipios.Depmun = Emon.Depmun)")

str(E19) 
head(E19)
tail(E19)


<p></p><h4> <strong> Ejemplo 20 </strong> </h4>
<p style="text-align: justify;"> Existen municipios que no tienen ninguna estación de
monitoreo climático? Cuantos? Cuales?</p>

In [ ]:


E20 <- sqldf("select   Municipios.*
              from     Municipios left join Emon on (Municipios.Depmun = Emon.Depmun)
              where    nem is NULL
              order by Depmun")

E20a <- sqldf("select   Municipios.*
               from     Municipios
               where    Depmun not in (select distinct Depmun
                                       from   Estaciones)
               order by Depmun")

all.equal(E20,E20a)

str(E20) 
head(E20)
tail(E20)


<p></p><h4> <strong> Ejemplo 21 </strong> </h4>
<p style="text-align: justify;"> Copia de Estaciones que solo considera estaciones de monitoreo localizadas 
como máximo a 2000 metros de altura sobre el nivel del mar, y que incluye los nombres del municipio y del
departamento donde están ubicadas las estaciones.</p>

In [ ]:


E21 <- sqldf("select   Estaciones.*, Municipio, Departamento, Dep
              from     Estaciones inner join Municipios on (Estaciones.Depmun = Municipios.Depmun)
              where    elev <= 2000
              order by Depmun, codigo")

E21a <- sqldf("select   Estaciones.*, Municipio, Departamento, Dep
               from     Estaciones left join Municipios on (Estaciones.Depmun = Municipios.Depmun)
               where    elev <= 2000
               order by Depmun, codigo")

all.equal(E21,E21a)

str(E21)

## Libreria dplyr

<p></p><h2 style="color:blue;"> <strong> <center>Libreria dplyr</center></strong> </h2>

<img height="900" src="https://r2022.netlify.app/dplyr0.png" width="850"/>

In [ ]:


install.packages("dplyr")
library(dplyr)
help(dplyr)


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Dep</em>, <em>Depmun</em>,
<em>Municipio</em>, <em>Superficie</em> y <em>Poblacion</em> que incluye todos los municipios de los departamentos de Antioquia y Caldas con más de 20 mil habitantes
y donde los mismos están ordenados con respecto a <em>Dep</em> y de
mayor a menor con respecto a <em>Poblacion</em>.</p>

In [ ]:


e1 <- Municipios %>%
      select(Departamento,Dep,Depmun,Municipio,Superficie, Poblacion) %>%
      filter(Dep %in% c("05","17") & Poblacion > 20000) %>%
      arrange(Dep,desc(Poblacion)) %>% 
      as.data.frame()

all.equal(e1,E1,check.attributes=FALSE)

str(e1) 
head(e1,n=10)
tail(e1,n=10)


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con las variables <em>Departamento</em>, <em>Dep</em>, <em>Depmun</em>, <em>Municipio</em>, <em>Superficie</em> y <em>Poblacion</em> que incluye todos los municipios con superficies menores a 300 $km^2$ excepto los de Boyacá y Santander, y que están ordenados por <em>Dep</em> y de mayor a menor por <em>Poblacion</em>.
Incluye una variable definida como "Baja" para los municipios con
<em>denspobl</em> menor a 30, "Alta" para los municipios con <em>denspobl</em> mayor
a 85, y "Media" para los demás.</p>

In [ ]:


e2 <- Municipios %>%
      filter(Dep!="15" & Dep!="68" & Superficie < 300) %>%
      mutate(denspoblC=case_when(denspobl > 85 ~ "Alta",
                                 denspobl < 30 ~ "Baja",
                                 TRUE ~ "Media")) %>%
      arrange(Dep,desc(Poblacion)) %>%
      select(Departamento,Dep,Depmun,Municipio,Superficie,Poblacion,denspoblC) %>%
      as.data.frame()

all.equal(e2,E2,check.attributes=FALSE)

str(e2) 
str(E2) 
head(e2,n=10)
tail(e2,n=10)


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo <em>Depmun</em>?</p>

In [ ]:


Municipios %>% 
group_by(Depmun) %>%
summarise(repetidos=n()) %>% 
filter(repetidos > 1)

Municipios %>%
summarise(tot_filas=n(),tot_depmuns=n_distinct(Depmun))


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> De los departamentos con dos o más municipios cual
es el menos homogeneo (de acuerdo al coeficiente de variación) con
respecto a la superficie de los municipios que lo componen?</p>

In [ ]:


Municipios %>% 
group_by(Dep,Departamento) %>%
summarise(mun=n(),cv=sd(Superficie)/mean(Superficie))%>%
filter(mun > 1) %>% 
arrange(desc(cv)) %>% 
filter(row_number()==1) %>% 
as.data.frame()


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> De los departamentos con dos o más municipios cual
es el más homogeneo (de acuerdo al coeficiente de variación) con
respecto a la superficie de los municipios que lo componen?</p>

In [ ]:


Municipios %>% 
group_by(Dep,Departamento) %>%
summarise(mun=n(),cv=sd(Superficie)/mean(Superficie)) %>%
filter(mun > 1) %>% 
arrange(cv) %>% 
filter(row_number()==1) %>% 
as.data.frame()


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos, ordenados de mayor
a menor con respecto a su población, que incluye la siguiente información: número de municipios, superficie,
población, densidad poblacional, índice de ruralidad promedio
ponderado por población, y una variable igual a "Grande" para los
departamentos con población mayor a $1.5$ millones de habitantes, "Pequeño" para departamentos
con población menor a $300$ mil habitantes, y "Mediano" para el resto.</p>

In [ ]:


e6 <- Municipios %>%
      group_by(Dep,Departamento) %>%
      summarise(nmunicipios=n(),totpob=sum(Poblacion), 
                totsup=sum(Superficie),denspob=totpob/totsup,
                Irural=sum(Irural*Poblacion)/totpob,
                totpobC=case_when(totpob > 1.5e6 ~ "Grande",
                                  totpob < 3e5 ~ "Pequeño",
                                  TRUE ~ "Mediano")) %>%
      arrange(desc(totpob)) %>% 
      as.data.frame()

all.equal(e6,E6,check.attributes=FALSE)

str(e6)


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Cual es la región con la mayor superficie?</p>

In [ ]:


Municipios %>% 
group_by(Region) %>%
summarise(sup=sum(Superficie)) %>% 
arrange(desc(sup)) %>% 
filter(row_number()==1) %>% 
as.data.frame()


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos, ordenados de mayor
a menor con respecto a su población, que incluye la siguiente información: número de municipios, superficie,
población, densidad poblacional, todo referente a los municipios con índice de ruralidad mayor a 60.</p>

In [ ]:


e8 <- Municipios %>%
      filter(Irural > 60) %>%
      group_by(Dep,Departamento) %>%
      summarise(nmunicipios=n(),totpob=sum(Poblacion),totsup=sum(Superficie),
                denspob=totpob/totsup) %>%
      arrange(desc(totpob)) %>% 
      as.data.frame()

all.equal(e8,E8,check.attributes=FALSE)
str(e8)


<p></p><h4> <strong> Ejemplo 9 </strong> </h4>
<p style="text-align: justify;"> Cual es la región con el mayor número de departamentos?</p>

In [ ]:


Municipios %>% 
group_by(Region) %>%
summarise(Deps=n_distinct(Dep)) %>%
arrange(desc(Deps)) %>%
filter(row_number()==1) %>% 
as.data.frame()


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos con al menos 650 mil habitantes
y al menos 10 mil $km^2$ de superficie, ordenados de mayor a menor con relación a su densidad poblacional, y que incluye la siguiente información:
número de municipios, superficie, población y densidad poblacional.</p>

In [ ]:


e10 <- Municipios %>%
       group_by(Dep,Departamento) %>%
       summarise(nmunicipios=n(),totpob=sum(Poblacion),totsup=sum(Superficie),
                 denspob=totpob/totsup) %>%
       filter(totpob >= 650000 & totsup >= 10000) %>%
       arrange(desc(denspob)) %>% 
       as.data.frame()

all.equal(e10,E10,check.attributes=FALSE)
str(e10)


<p></p><h4> <strong> Ejemplo 11 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los departamentos con al menos 650 mil
habitantes y al menos 10 mil $km^2$ de superficie, ordenados de mayor
a menor con relación a su densidad poblacional, y que incluye la siguiente información:
número de municipios, superficie, población, y densidad
poblacional, todo referente a municipios con índice de ruralidad mayor a 40.</p>

In [ ]:


e11 <- Municipios %>%
        filter(Irural > 40) %>%
        group_by(Dep,Departamento) %>%
        summarise(nmunicipios=n(),totpob=sum(Poblacion),totsup=sum(Superficie),
                  denspob=totpob/totsup) %>%
        filter(totpob >= 650000 & totsup >= 10000) %>%
        arrange(desc(denspob)) %>%
        as.data.frame()

all.equal(e11,E11,check.attributes=FALSE)
str(e11)


<p></p><h4> <strong> Ejemplo 12 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo nombre?
Cuantos? Cuales? En qué departamentos están ubicados?</p>

In [ ]:


original <- Sys.getlocale("LC_COLLATE")
Sys.setlocale("LC_COLLATE", "C")

Repetidos <- Municipios %>%
             group_by(Municipio) %>%
             summarise(veces = n()) %>%
             filter(veces > 1) %>%
             arrange(desc(veces)) %>%
             as.data.frame()

str(Repetidos) 
head(Repetidos)

e12 <- Municipios %>%
       select(Municipio,Departamento,Dep,Depmun) %>%
       filter(Municipio %in% with(Repetidos,Municipio)) %>%
       arrange(Municipio,Departamento) %>%
       as.data.frame()

Sys.setlocale("LC_COLLATE", original)

all.equal(e12,E12,check.attributes=FALSE)
str(e12)
head(e12)
tail(e12)


<p></p><h4> <strong> Ejemplo 13 </strong> </h4>
<p style="text-align: justify;"> Existen dos o más municipios con el mismo nombre que
hacen parte de la misma región? Cuantos? Cuales?</p>

In [ ]:


original <- Sys.getlocale("LC_COLLATE")
Sys.setlocale("LC_COLLATE", "C")

Repetidos <- Municipios %>%
             group_by(Region,Municipio) %>%
             summarise(veces = n()) %>%
             filter(veces > 1) %>%
             arrange(desc(veces)) %>%
             as.data.frame()

str(Repetidos) 

e13 <- Municipios %>%
       select(Municipio,Region,Departamento,Dep,Depmun) %>%
       filter(str_c(Region,Municipio) %in% with(Repetidos,str_c(Region,Municipio))) %>%
       arrange(Municipio,Region) %>%
       as.data.frame()

Sys.setlocale("LC_COLLATE", original)

all.equal(e13,E13,check.attributes=FALSE)
str(e13)


<p></p><h4> <strong> Ejemplo 14 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres inician
con "A" o terminan con "o", no importa si llevan tilde o no.</p>

In [ ]:


e14 <- Municipios %>% 
       select(Dep,Departamento,Municipio,Depmun) %>% 
       filter(str_detect(Municipio,"^[AÁ]") | str_detect(Municipio,"[oó]$")) %>%
       as.data.frame()

e14a <- Municipios %>% 
        select(Dep,Departamento,Municipio, Depmun) %>% 
        filter(str_detect(Municipio,"^[AÁ]|[oó]$")) %>%
        as.data.frame()

all.equal(e14,e14a,check.attributes=FALSE)
all.equal(e14,E14,check.attributes=FALSE)
str(e14) 
head(e14)


<p></p><h4> <strong> Ejemplo 15 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres inician
con "A" y terminan con "o", no importa si llevan tilde o no.</p>

In [ ]:


e15 <- Municipios %>% 
       select(Dep,Departamento,Municipio,Depmun) %>% 
       filter(str_detect(Municipio,"^[AÁ]") & str_detect(Municipio,"[oó]$")) %>%
       as.data.frame()

e15a <- Municipios %>% 
        select(Dep,Departamento,Municipio,Depmun) %>% 
        filter(str_detect(Municipio,"^[AÁ].*[oó]$")) %>%
        as.data.frame()

all.equal(e15,e15a,check.attributes=FALSE)
all.equal(e15,E15,check.attributes=FALSE)
str(e15) 
head(e15)


<p></p><h4> <strong> Ejemplo 16 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyo nombre tiene a la
letra "e" en las posiciones 2 y 4, no importa si llevan tilde o no.</p>

In [ ]:


e16 <- Municipios %>% 
       select(Dep,Departamento,Municipio,Depmun) %>% 
       filter(str_sub(Municipio,2,2) %in% c("e","é") & str_sub(Municipio,4,4) %in% c("e","é")) %>%
       as.data.frame()

e16a <- Municipios %>% 
        select(Dep,Departamento,Municipio,Depmun) %>% 
        filter(str_detect(Municipio,"^.[eé].[eé].*")) %>%
        as.data.frame()

all.equal(e16,e16a,check.attributes=FALSE)
all.equal(e16,E16,check.attributes=FALSE)
str(e16)


<p></p><h4> <strong> Ejemplo 17 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con los municipios cuyos nombres constan
de más de una palabra.</p>

In [ ]:


e17 <- Municipios %>% 
       select(Dep,Departamento,Municipio,Depmun) %>% 
       filter(str_count(Municipio," ")>=1) %>%
       as.data.frame()

e17a <- Municipios %>% 
        select(Dep,Departamento,Municipio,Depmun) %>% 
        filter(str_detect(Municipio,".* .*")) %>%
        as.data.frame()

all.equal(e17,e17a,check.attributes=FALSE)
all.equal(e17,E17,check.attributes=FALSE)
str(e17) 
head(e17)

<p><img height="900" src="https://r2022.netlify.app/dplyr1.png" width="850"/>

<img height="900" src="https://r2022.netlify.app/dplyr2.png" width="850"/></p>

In [ ]:


A <- data.frame(id=c(1,2,2,3),cod=c(23,65,60,87),name=c("Leia","Luke","Yoda","Hank"))
B <- data.frame(id=c(2,3,4),cod=c(65,87,29),age=c(23,20,25))
A
B

A %>% inner_join(B,by=c("id"="id","cod"="cod"))

B %>% inner_join(A,by=c("id"="id","cod"="cod"))

A %>% left_join(B,by=c("id"="id","cod"="cod"))

A %>% right_join(B,by=c("id"="id","cod"="cod"))

A %>% full_join(B,by=c("id"="id","cod"="cod"))


<p></p><h4> <strong> Ejemplo 18 </strong> </h4>
<p style="text-align: justify;"> Cuantos y cuales municipios tienen al menos una estación
de monitoreo climático?</p>

In [ ]:


e18 <- Estaciones %>% 
       distinct(Depmun) %>% as.data.frame()

all.equal(e18,E18,check.attributes=FALSE)


<p></p><h4> <strong> Ejemplo 19 </strong> </h4>
<p style="text-align: justify;"> Conjunto de datos con todos los municipios del país, que incluye una variable que informa el número de 
estaciones de monitoreo climático con que cuenta cada municipio.</p>

In [ ]:


Emon <- Estaciones %>% 
        group_by(Depmun) %>%
        summarise(nem=n())

e19 <- Municipios %>%
       left_join(Emon,by=c("Depmun"="Depmun")) %>%
       mutate(nest=case_when(is.na(nem) ~ 0L,TRUE ~ nem)) %>%
       select(everything(Municipios),nest) %>%
       as.data.frame()

all.equal(e19,E19,check.attributes=FALSE)
str(e19)


<p></p><h4> <strong> Ejemplo 20 </strong> </h4>
<p style="text-align: justify;"> Existen municipios que no tienen ninguna estación de
monitoreo climático? Cuantos? Cuales?</p>

In [ ]:


e20 <- Municipios %>%
       left_join(Emon,by=c("Depmun"="Depmun")) %>%
       filter(is.na(nem)) %>% select(everything(Municipios))%>%
       arrange(Depmun) %>%
       as.data.frame()

e20a <- Municipios %>% arrange(Depmun) %>%
        filter(!(Depmun %in% with(Estaciones,Depmun))) %>%
        as.data.frame()

all.equal(e20,e20a,check.attributes=FALSE)
all.equal(e20,E20,check.attributes=FALSE)

str(e20) 
head(e20)
tail(e20)


<p></p><h4> <strong> Ejemplo 21 </strong> </h4>
<p style="text-align: justify;"> Copia de Estaciones que solo considera estaciones de monitoreo localizadas 
como máximo a 2000 metros de altura sobre el nivel del mar, y que incluye los nombres del municipio y del
departamento donde están ubicadas las estaciones.</p>

In [ ]:


e21 <- Estaciones %>%
       inner_join(Municipios,by=c("Depmun"="Depmun")) %>%
       filter(ELEV <= 2000) %>%
       select(everything(Estaciones),Municipio,Departamento,Dep)%>%
       arrange(Depmun,CODIGO) %>%
       as.data.frame()

e21a <- Estaciones %>%
        left_join(Municipios,by=c("Depmun"="Depmun")) %>%
        filter(ELEV <= 2000) %>%
        select(everything(Estaciones),Municipio,Departamento,Dep) %>%
        arrange(Depmun,CODIGO) %>%
        as.data.frame()

all.equal(e21,e21a,check.attributes=FALSE)
all.equal(e21,E21,check.attributes=FALSE)

## Ejercicios


<p></p><h2 style="color:red;"> Ejercicios </h2><p></p><h3 style="color:red;"> Elecciones presidenciales en Estados Unidos</h3><p style="text-align: justify;"> El conjunto de datos <strong>elections.xlsx</strong> consta de 15563 filas y registra el total de votos obtenidos por el candidato del partido demócrata (<em>democrat</em>), por el candidato del partido republicano 
(<em>republic</em>) y por los demás partidos (<em>other</em>) en las elecciones presidenciales de 2000, 2004, 2008, 2012 y 2016 (<em>year</em>) para todos los condados (<em>codecounty</em>) de los que hay información disponible. El conjunto de datos <strong>counties.xlsx</strong> consta de la siguiente información para los 3234 condados que conforman los EU: identificador (<em>codecounty</em>); nombre (<em>county</em>); identificador del estado al que pertenece (<em>codestate</em>); número de habitantes (<em>population</em>); y superficie, en millas al cuadrado (<em>area</em>). Finalmente, el conjunto de datos <strong>states.xlsx</strong> consta identificador (<em>codestate</em>); nombre (<em>state</em>); y region a la que pertenece (<em>region</em>) cada uno de los 56 estados de EU.</p><ul>
<li><p style="text-align: justify;"> Importe los conjuntos de datos.</p></li>
<li><p style="text-align: justify;"> Cuantos registros y cuantas variables tienen estos conjuntos de datos? De qué tipo son estas variables?</p></li>
<li><p style="text-align: justify;"> Existen valores perdidos en los conjuntos de datos? Cuantos? En qué variables?</p></li>
<li><p style="text-align: justify;"> Verifique que <em>codecounty</em> y <em>codestate</em> son en realidad identificadores de los condados y los estados en los conjuntos de datos <strong>counties</strong> y <strong>states</strong>, respectivamente.</p></li>
<li><p style="text-align: justify;"> Haga lo siguiente en las variables <em>county</em>, <em>state</em> y <em>region</em>: $(i)$ elimine caracteres especiales; $(ii)$ elimine espacios al inicio y al final; $(iii)$ reemplace espacios múltiples por espacios sencillos; $(iv)$ use letras mayúsculas en la inicial de cada palabra. Tenga en cuenta que los nombres de los condados del estado de Puerto Rico están escritos en español.</p></li>
</ul>
<p style="text-align: justify;"> <strong> De ahora en adelante responda empleando dos metodologias: la primera basada en la libreria <em>sqldf</em>, y la segunda usando la libreria <em>dplyr</em>. En cada caso use <em>system.time()</em> para identificar cual de las dos formas resulta ser la más rápida.</strong> </p><ul>
<li><p style="text-align: justify;"> Cree la variable <em>populationC</em> en el conjunto de datos <em>counties</em> de tal forma que: $(i)$ <em>populationC</em> = "low" para el $25\%$ de los condados con menor número de habitantes en cada estado; $(ii)$ <em>populationC</em> = "high" para el $25\%$ de los condados con mayor número de habitantes en cada estado; y $(iii)$ <em>populationC</em> = "mid" para el resto de los condados de cada estado. Para los estados con menos de 3 condados defina <em>populationC</em> como <em>missing</em>.</p></li>
<li><p style="text-align: justify;"> Existen dos o más condados con el mismo nombre? Cuantos? Cuales? En qué estados están localizados?
Cuales son los tres estados con la mayor densidad poblacional? Cuales son las dos regiones con mayor densidad poblacional?</p></li>
<li><p style="text-align: justify;"> En cuales condados el candidato del partido republicano obtuvo mayor votación que el del partido demócrata en las elecciones presidenciales de 2000, 2004, 2008, 2012 y 2016?</p></li>
<li><p style="text-align: justify;"> En cuales estados el candidato del partido republicano obtuvo mayor votación que el del partido demócrata en las elecciones presidenciales de 2000 en más del $75\%$ del total de condados que los componen?</p></li>
<li><p style="text-align: justify;"> En cuales condados no se tiene niguna información sobre los
resultados de las votaciones presidenciales realizadas en el periodo comprendido entre los años 2000 y 2016?</p></li>
<li><p style="text-align: justify;"> En cuales condados solo se tiene información sobre algunas, no todas, las votaciones presidenciales realizadas en el periodo comprendido entre los años 2000 y 2016?</p></li>
<li><p style="text-align: justify;"> En qué años el candidato demócrata ganó las elecciones en la parte del país formada por los estados con más de 10 millones de habitantes?</p></li>
</ul>
<p></p><h3 style="color:red;"> IMDb (Internet Movie Database)</h3><p style="text-align: justify;"> Importe los conjuntos de datos separados por tabulaciones en los archivos
<strong>namebasics.rar</strong>, <strong>titlebasics.rar</strong>, <strong>titleprincipals.rar</strong> y <strong>titleratings.rar</strong>. Note que estos conjuntos de datos son subconjuntos de aquellos que se 
describen en https://www.imdb.com/interfaces/.</p><ul>
<li><p style="text-align: justify;"> Cuantas películas realizadas en la década de los 80 tienen títulos que
inician y/o terminan con la palabra "Aliens"? Cual de ellas tiene la mayor duración? Quien
dirigió esta película? Cual es la película mejor calificada de este(a) director(a)? </p></li>
<li><p style="text-align: justify;"> Cuantas películas han sido dirigidas por "Werner Herzog"? Cual de ellas tiene
la mayor calificación? En cuales de ellas participa "Klaus Kinski" como actor? Cuales actores/actrices,
además de "Klaus Kinski", participaron en la película titulada "Nosferatu the Vampyre"? </p></li>
<li><p style="text-align: justify;"> Cuantas películas han sido dirigidas por "Martin Scorsese"? Cual de ellas tiene
la mayor duración? En cuales de ellas participan "Joe Pesci" y "Robert De Niro" como actores? Cuales actores/actrices, 
además de "Joe Pesci" y "Robert De Niro", participaron en la película titulada "Raging Bull"? </p></li>
<li><p style="text-align: justify;"> Cual de las películas realizadas en la década de los 70 tiene la mayor
calificación? Quien dirigió esta película? Cual de las películas realizadas en la década de los 90 tiene la mayor
calificación? Quienes actuaron en esta película? </p></li>
<li><p style="text-align: justify;"> Qué porcentaje de las películas realizadas en la década de los 80 tuvieron
calificaciones superiores a 8? Qué porcentaje de las películas realizadas en la década de los 90 tuvieron
calificaciones superiores a 8? Qué porcentaje de las películas con calificaciones superiores a 8 fueron
realizadas en la década de los 70? Qué porcentaje de las películas con calificaciones superiores a 8 fueron
realizadas en la década de los 80? </p></li>
</ul>
<p></p><h3 style="color:red;"> English Premier League</h3><p style="text-align: justify;"> Los archivos <strong>season-1415.xlsx</strong>, <strong>season-1516.xlsx</strong>, <strong>season-1617.xlsx</strong>, <strong>season-1718.xlsx</strong> y <strong>season-1819.xlsx</strong>
contienen información sobre los resultados de las temporadas 14/15, 15/16, 16/17, 17/18 y 18/19, respectivamente, de la primera división del futbol inglés. La posición final de los equipos en la clasificación de cada temporada obedece al número de puntos obtenidos por cada uno de ellos, donde ${\rm Puntos}=3\times{\rm PG}+{\rm PE}$, en que ${\rm PG}$ y ${\rm PE}$ representan, respectivamente, el número de partidos ganados y empatados. Si hay dos o más equipos empatados en puntos el desempate se logra ordenando estos equipos de mayor a menor con respecto al <em>Gol diferencia</em>, dado por ${\rm GA} - {\rm GC}$, en que ${\rm GA}$ y ${\rm GC}$ representan, respectivamente, el número total de goles a favor y en contra. Responda las siguientes preguntas.</p><p></p><h5> En la temporada 16/17 </h5><ul>
<li><p style="text-align: justify;"> Cual fue el equipo en el primer lugar de la clasificación?</p></li>
<li><p style="text-align: justify;"> Cuantos puntos obtuvo este equipo?</p></li>
<li><p style="text-align: justify;"> Cual fue la diferencia entre el número de goles a favor y en contra de este equipo (<em>Gol diferencia</em>)?</p></li>
<li><p style="text-align: justify;"> En qué porcentaje de sus partidos ganó este equipo?</p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus disparos iban a la porteria rival? </p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus partidos terminaron sin que ninguno de sus jugadores fuera expulsado? </p></li>
</ul>
<p></p><h5> En la temporada 17/18 </h5><ul>
<li><p style="text-align: justify;"> Cual fue el equipo en el tercer lugar de la clasificación?</p></li>
<li><p style="text-align: justify;"> Cuantos puntos obtuvo este equipo?</p></li>
<li><p style="text-align: justify;"> Cual fue la diferencia entre el número de goles a favor y en contra de este equipo (<em>Gol diferencia</em>)?</p></li>
<li><p style="text-align: justify;"> En qué porcentaje de sus partidos ganó este equipo?</p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus disparos iban a la porteria rival? </p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus partidos terminaron sin que ninguno de sus jugadores fuera expulsado? </p></li>
</ul>
<p></p><h5> Parte de la temporada 18/19 que se jugó durante 2018 </h5><ul>
<li><p style="text-align: justify;"> Cual fue el equipo en el primer lugar de la clasificación?</p></li>
<li><p style="text-align: justify;"> Cuantos puntos obtuvo este equipo?</p></li>
<li><p style="text-align: justify;"> Cual fue la diferencia entre el número de goles a favor y en contra de este equipo (<em>Gol diferencia</em>)?</p></li>
<li><p style="text-align: justify;"> En qué porcentaje de sus partidos ganó este equipo?</p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus disparos iban a la porteria rival? </p></li>
<li><p style="text-align: justify;"> Qué porcentaje de sus partidos terminaron sin que ninguno de sus jugadores fuera expulsado? </p></li>
</ul>
<p></p><h5> Desde la temporada 14/15 hasta la 18/19 </h5><ul>
<li><p style="text-align: justify;"> Cuales equipos se mantuvieron en las primeras 4 posiciones de la clasificación final?</p></li>
<li><p style="text-align: justify;"> Cuales equipos se mantuvieron en las primeras 5 posiciones de la clasificación final?</p></li>
<li><p style="text-align: justify;"> Cuales equipos se mantuvieron en las primeras 6 posiciones de la clasificación final?</p></li>
<li><p style="text-align: justify;"> Cuales equipos descendieron a la segunda división? Tenga en cuenta que los últimos tres equipos en la clasificación de cada temporada descienden a la segunda división.</p></li>
</ul>

# Probabilidad

<p></p><h1 style="color:red;"> <strong> <center>Probabilidad</center></strong> </h1>

<img height="900" src="https://r2022.netlify.app/discretas1.png" width="850"/>
<img height="900" src="https://r2022.netlify.app/discretas2.png" width="850"/>


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Gráfico de la función de probabilidad de una variable aleatoria con distribución de Poisson de media $\lambda = 2.5$ en el intervalo $[0,8]$.</p>

In [ ]:


lambda <- 2.5
rango <- c(0,8)
color <- "blue"
x <- seq(from=rango[1],to=rango[2],by=1)
ps <- dpois(x,lambda=lambda)

plot(x,ps,bty="o",type="h",lwd=1,lty="solid",col=color,xlab="x",ylab=bquote(~f[X](x)))
points(x,ps,pch=20,cex=2,col=color)
title(bquote(~X~"~ Poisson("~lambda==.(lambda)~")"),cex=2)
labels <- ifelse(ps > 0.02,round(ps,digits=2),"")
text(x,ps,label=labels,pos=4,cex=1,col="black")


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>bty</em></strong>: "n", "o", "l", "7", "c", "u", "]"</li>
<li><strong><em>lty</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>lwd</em></strong>, <strong><em>cex</em></strong>: valores positivos</li>
<li><strong><em>pos</em></strong>: 1,2,3,4</li>
<li><strong><em>lambda</em></strong>: valores positivos</li>
<li><strong><em>rango</em></strong>: $(l_{inf},l_{sup})$, en que $0\leq l_{inf}&lt;l_{sup}$</li>
</ul>


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Gráfico de la función de distribución acumulada de una variable aleatoria con distribución de Poisson de media $\lambda = 2.5$ en el intervalo $[0,8]$.</p>

In [ ]:


lambda <- 2.5
rango <- c(0,8)
color <- "blue"
x <- seq(from=rango[1]-1,to=rango[2],by=1)
ps <- ppois(x,lambda=lambda)
cols <- ifelse(ps==0,"white",color)

plot(x,ps,pch=21,col=cols,bg=cols,lwd=1,bty="o",xlab="x",ylab=bquote(~F[X](x)),cex=1.2)
segments(x,ps,x+1,ps,col=color,lty=1,lwd=1)
points(x+1,ps,pch=21,col=color,bg="white",cex=1.2)
title(bquote(~X~"~ Poisson("~ lambda==.(lambda)~")"),cex=2)
labels <- ifelse(ps < 0.99 & ps > 0.01,round(ps,digits=2),"")
text(x,ps,label=labels,pos=3,cex=0.9,col="black")


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>bty</em></strong>: "n", "o", "l", "7", "c", "u", "]"</li>
<li><strong><em>lty</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>lwd</em></strong>, <strong><em>cex</em></strong>: valores positivos</li>
<li><strong><em>pos</em></strong>: 1,2,3,4</li>
<li><strong><em>lambda</em></strong>: valores positivos</li>
<li><strong><em>rango</em></strong>: $(l_{inf},l_{sup})$, en que $0\leq l_{inf}&lt;l_{sup}$</li>
</ul>

<p><img height="900" src="https://r2022.netlify.app/continuas1.png" width="850"/>

<img height="900" src="https://r2022.netlify.app/continuas2.png" width="850"/>
<img height="900" src="https://r2022.netlify.app/continuas3.png" width="850"/>
<img height="900" src="https://r2022.netlify.app/continuas4.png" width="850"/></p>


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Gráfico que compara las funciones de densidad de la distribución Beta para los siguientes valores de sus parámetros: $(α=1.0,β=9.5)$, $(α=1.5,β=9.0)$, $(α=2.5,β=7.5)$, $(α=5.0,β=5.0)$, $(α=7.5,β=2.5)$, $(α=9.0,β=1.5)$ y $(α=9.5,β=1.0)$.</p>

In [ ]:


a <- c(1.0, 1.5, 2.5, 5.0, 7.5, 9.0, 9.5)
b <- c(9.5, 9.0, 7.5, 5.0, 2.5, 1.5, 1.0)
color <- "black"
rango <- c(0,1)

for(i in 1:length(a)){
   curve(dbeta(x,shape1=a[i],shape2=b[i]),from=rango[1],to=rango[2],add=i>1,
         ylab=bquote(~f[X](x)),bty="o",lty="solid",col=color,lwd=1)
   text(locator(1),label=bquote(~"("~alpha==.(a[i])~","~beta==.(b[i])~")"),col="blue",cex=1.3)
}
title(bquote(~"Densidad Beta para algunas combinaciones de ("~alpha~","~beta~")"),cex=2)


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>bty</em></strong>: "n", "o", "l", "7", "c", "u", "]"</li>
<li><strong><em>lty</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>lwd</em></strong>, <strong><em>cex</em></strong>: valores positivos</li>
<li><strong><em>rango</em></strong>: $(l_{inf},l_{sup})$, en que $0\leq l_{inf}&lt;l_{sup}\leq 1$</li>
<li>Cambie <strong><em>lty</em></strong>="solid" por <strong><em>lty</em></strong>=i </li>
<li>Cambie <strong><em>col</em></strong>=color por <strong><em>col</em></strong>=i</li>
<li>Cambie <strong><em>lwd</em></strong>=1 por <strong><em>lwd</em></strong>=i</li>
<li>Cambie dbeta() por pbeta()</li>
</ul>


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> Gráfico que compara las funciones de densidad de la distribución Gama para los siguientes valores de sus parámetros: $(α=1.0,β=0.8)$, $(α=1.25,β=0.6)$, $(α=3.0,β=1.0)$, $(α=10,β=2.5)$, $(α=25,β=5.5)$ y $(α=100,β=20)$.</p>

In [ ]:


a <- c(1.0, 1.25, 3.0, 10, 25, 100)
b <- c(0.8, 0.6 , 1.0, 2.5, 5.5, 20)
color <- "black"
rango <- c(0,8)

for(i in 1:length(a)){
   curve(dgamma(x,shape=a[i],rate=b[i]),from=rango[1],to=rango[2],add=i>1,
         ylab=bquote(~f[X](x)),bty="o",lty="solid",col=color,lwd=1)
   text(locator(1),label=bquote(~"("~alpha==.(a[i])~","~beta==.(b[i])~")"),col="blue",cex=1)
}
title(bquote(~"Densidad Gama para algunas combinaciones de ("~alpha~","~beta~")"),cex=2)


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>bty</em></strong>: "n", "o", "l", "7", "c", "u", "]"</li>
<li><strong><em>lty</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>lwd</em></strong>, <strong><em>cex</em></strong>: valores positivos</li>
<li><strong><em>rango</em></strong>: $(l_{inf},l_{sup})$, en que $0 \leq l_{inf}&lt;l_{sup}\leq 1$</li>
<li>Cambie <strong><em>lty</em></strong>="solid" por <strong><em>lty</em></strong>=i </li>
<li>Cambie <strong><em>col</em></strong>=color por <strong><em>col</em></strong>=i</li>
<li>Cambie <strong><em>lwd</em></strong>=1 por <strong><em>lwd</em></strong>=i</li>
<li>Cambie dgamma() por pgamma()</li>
</ul>


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> Gráfico de la función de densidad conjunta de las variables aleatorias independientes $X$ y $Y$ tales que $f_{X}(x)=\phi\!\left(\dfrac{2}{\nu_1}\,{\rm sinh}(x)\right)\dfrac{2}{\nu_1}\,{\rm cosh}(x)$ y $f_{Y}(y)=\phi\!\left(\dfrac{2}{\nu_2}\,{\rm sinh}(y)\right)\dfrac{2}{\nu_2}\,{\rm cosh}(y)$, en que $\phi(\cdot)$ representa la función de densidad de la distribución normal estándar, $\nu_1&gt;0$ y $\nu_2&gt;0$.</p>

In [ ]:


sinhnx <- function(x) dnorm((2/v1)*sinh(x))*(2/v1)*cosh(x)
sinhny <- function(y) dnorm((2/v2)*sinh(y))*(2/v2)*cosh(y)
fxy <- function(x,y) sinhnx(x)*sinhny(y)
x <- seq(from=-3,to=3,length=50)
v1 <- 7
v2 <- 7
z <- outer(X=x,Y=x,FUN=fxy)

persp(x,x,z,theta=-30,phi=30,expand=0.5,box=TRUE,col="lightblue",xlab="x1",ylab="x2",
      zlab=" ",main="Densidad conjunta",ticktype="detailed")


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>theta</em></strong>, <strong><em>phi</em></strong>: números reales</li>
<li><strong><em>expand</em></strong>, <strong><em>v</em></strong>: valores positivos</li>
<li><strong><em>box</em></strong>: TRUE, FALSE</li>
<li><strong><em>ticktype</em></strong>: "simple", "detailed"</li>
</ul>


<p>La libreria <strong><em>gamlss.dist</em></strong> incluye gran variedad de distribuciones discretas, continuas y mixtas, entre las que se cuentan las siguientes:</p>
<ul>
<li>Beta-Binomial </li>
<li>Poisson generalizada</li>
<li>Binomial Negativa I</li>
<li>Binomial Negativa II</li>
<li>Poisson - Normal Inversa</li>
<li>Sichel</li>
<li>Generalized gamma</li>
<li>Power exponential</li>
<li>Box–Cox normal</li>
<li>Box–Cox $t$</li>
<li>Box–Cox power exponential</li>
<li>Beta inflacionada de ceros y/o unos</li>
</ul>

In [ ]:


install.packages("gamlss")
library(gamlss)
help(gamlss.family)

In [ ]:


pdf.plot(family=NBI, min=0, max=10, mu=5, sigma=c(0.5,0.8,1.2,1.5), 
         col="blue", col.lab="red", col.axis="black")

In [ ]:


pdf.plot(family=GA, min=0.01, max=3.0, mu=1, sigma=c(0.3,0.5,0.7,0.9), 
         col="blue", col.lab="red", col.axis="black")

# Visualización de datos

## Libreria    ggplot2


<p></p><h1 style="color:red;"> <strong> <center>Visualización de datos </center></strong> </h1>
<h2 style="color:blue;"> <strong> <center>Libreria    ggplot2 </center></strong> </h2>

In [ ]:


install.packages("ggplot2")
library(ggplot2)
help(ggplot2)

In [ ]:


advertising <- read_excel("Advertising.xlsx")
str(advertising)


<p></p><h4> <strong> Ejemplo 1 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>). Estos datos se obtuvieron de <em> Witten, Hastie, Tibshirani y James (2013). An Introduction to Statistical Learning: With Applications in R. Springer.</em></p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales)) +
geom_point() +
labs(title="Ventas versus inversión en publicidad en TV",x="Publicidad en TV",y="Ventas") +
theme_gray()


<h5 id="Modifique-el-gráfico-variando-los-siguientes-parámetros">Modifique el gráfico variando los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>theme</em></strong>: theme_gray(), theme_linedraw(), theme_light(), theme_minimal(),
theme_classic(), theme_void()</li>
</ul>


<p></p><h4> <strong> Ejemplo 2 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión <strong> personalizado </strong> de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>).</p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales)) +
geom_point(color="red",shape=16,size=3.5) +
labs(title="Ventas versus inversión en publicidad en TV",x="Publicidad en TV",y="Ventas") +
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
theme(
  plot.title=element_text(family="sans",face="bold",size=20,vjust=0.5,hjust=0.5,
                          color="black",angle=0),
  axis.title.x=element_text(family="sans",face="bold",size=18,vjust=0.5,hjust=0.5,
                            color="blue",angle=0),
  axis.title.y=element_text(family="sans",face="bold",size=18,vjust=0.5,hjust=0.5,
                            color="blue",angle=0),
  axis.text.x=element_text(family="mono",face="bold",size=14,vjust=0.5,hjust=0.5,
                           color="black",angle=0),
  axis.text.y=element_text(family="mono",face="bold",size=14,vjust=0.5,hjust=0.5,
                           color="black",angle=0),
  panel.background=element_rect(fill="gray92"),
  panel.grid.major=element_line(color="white",size=1),
  panel.grid.minor=element_line(color="white",size=0.5)
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>hjust</em></strong>, <strong><em>vjust</em></strong>: valores en el intervalo $[0,1]$</li>
<li><strong><em>face</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>family</em></strong>: "mono", "serif", "sans"</li>
<li><strong><em>angle</em></strong>: número en el intervalo $[0,360]$</li>
</ul>


<p></p><h4> <strong> Ejemplo 3 </strong> </h4>
<p style="text-align: justify;"> Creación de un tema <strong> personalizado </strong>.</p>

In [ ]:


mitema <- 
theme(
  plot.title=element_text(family="sans",face="bold",size=20,vjust=0.5,hjust=0.5,
                          color="black",angle=0),
  axis.title.x=element_text(family="sans",face="bold",size=18,vjust=0.5,hjust=0.5,
                            color="blue",angle=0),
  axis.title.y=element_text(family="sans",face="bold",size=18,vjust=0.5,hjust=0.5,
                            color="blue",angle=90),
  axis.text.x=element_text(family="mono",face="bold",size=14,vjust=0.5,hjust=0.5,
                           color="black",angle=0),
  axis.text.y=element_text(family="mono",face="bold",size=14,vjust=0.5,hjust=0.5,
                           color="black",angle=0),
  panel.background=element_rect(fill="gray92"),
  panel.grid.major=element_line(color="white",size=1),
  panel.grid.minor=element_line(color="white",size=0.5)
     )


<h5 id="Modifique-el-tema-variando-colores-y-los-siguientes-parámetros">Modifique el tema variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-tema-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>hjust</em></strong>, <strong><em>vjust</em></strong>: valores en el intervalo $[0,1]$</li>
<li><strong><em>face</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>family</em></strong>: "mono", "serif", "sans"</li>
<li><strong><em>angle</em></strong>: número en el intervalo $[0,360]$</li>
</ul>


<p></p><h4> <strong> Ejemplo 4 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>), el cual incluye una curva de tendencia obtenida usando regresión polinómica.</p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales)) +
geom_point(color="red",shape=16,size=3.5) +
geom_smooth(method="lm",formula=y ~ poly(x,degree=4),se=FALSE,size=1,
            linetype="solid",color="black") + 
labs(title="Ventas versus inversión en publicidad en TV",x="Publicidad en TV",y="Ventas") + 
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>degree</em></strong>: entero positivo</li>
<li><strong><em>se</em></strong>: TRUE, FALSE</li>
</ul>


<p></p><h4> <strong> Ejemplo 5 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>), el cual incluye una curva de tendencia obtenida usando regresión no paramétrica.</p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales)) +
geom_point(color="red",shape=16,size=3.5) +
geom_smooth(method="gam",formula=y ~ s(x,bs="cr"),se=FALSE,size=1,
            linetype="solid",color="black") + 
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
labs(title="Ventas versus inversión en publicidad en TV",x="Publicidad en TV",y="Ventas") + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>bs</em></strong>: "cr" (cubic regression splines), "ps" (P-splines), "tp" (thin plate regression splines)</li>
<li><strong><em>se</em></strong>: TRUE, FALSE</li>
</ul>


<p></p><h4> <strong> Ejemplo 6 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>). El tamaño del marcador depende de la inversión en publicidad en radio.</p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,size=radio)) +
geom_point(color="red",shape=16) +
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",size="Publicidad\n en radio") +
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
scale_size(range=c(0,5)) + mitema +
theme(legend.position="right",
      legend.title=element_text(face="bold",size=15,hjust=0.5,vjust=0.5,
                                color="black",angle=0),
      legend.text=element_text(face="plain",size=13,hjust=0.0,vjust=0.5,
                               color="black",angle=0),
      legend.direction="vertical"
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>hjust</em></strong>, <strong><em>vjust</em></strong>: valores en el intervalo $[0,1]$</li>
<li><strong><em>family</em></strong>: "mono", "serif", "sans"</li>
<li><strong><em>face</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>angle</em></strong>: número en el intervalo $[0,360]$</li>
<li><strong><em>legend.position</em></strong>: "none", "left", "right", "bottom", "top"</li>
<li><strong><em>legend.direction</em></strong>: "horizontal", "vertical"</li>
</ul>


<p></p><h4> <strong> Ejemplo 7 </strong> </h4>
<p style="text-align: justify;"> Actualización del tema <strong> personalizado </strong>.</p>

In [ ]:


mitema <- mitema + 
theme(legend.position="right",
      legend.title=element_text(family="sans",face="bold",size=15,hjust=0.5,vjust=0.5,
                                color="black",angle=0),
      legend.text=element_text(family="sans",face="plain",size=13,hjust=0.0,vjust=0.5,
                               color="black",angle=0),
      legend.direction="vertical"
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>hjust</em></strong>, <strong><em>vjust</em></strong>: valores en el intervalo $[0,1]$</li>
<li><strong><em>family</em></strong>: "mono", "serif", "sans"</li>
<li><strong><em>face</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>angle</em></strong>: número en el intervalo $[0,360]$</li>
<li><strong><em>legend.position</em></strong>: "none", "left", "right", "bottom", "top"</li>
<li><strong><em>legend.direction</em></strong>: "horizontal", "vertical"</li>
</ul>


<p></p><h4> <strong> Ejemplo 8 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>). El color del marcador depende de la inversión en publicidad en radio.</p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,color=radio)) +
geom_point(size=4,shape=16) +
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",color="Publicidad\n en radio") +
scale_color_gradient(low="blue",high="red",breaks=seq(0,50,10)) + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
</ul>


<p></p><h4> <strong> Ejemplo 9 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>). Se usan colores y marcadores diferentes dependiendo de la inversión en publicidad en radio. </p>

In [ ]:


help(cut_number)

names <- c("Baja","Media","Alta")
advertising <- within(advertising,radioC <- cut_number(radio,n=3,labels=names))
with(advertising,table(radioC))

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,color=radioC,shape=radioC)) +
geom_point(size=3.5) +
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",color="Publicidad\n en radio",shape="Publicidad\n en radio") +
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
scale_color_manual(values=c("blue","black","red")) +
scale_shape_manual(values=c(15,16,17)) + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
</ul>


<p></p><h4> <strong> Ejemplo 10 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>), el cual incluye una curva de tendencia obtenida usando regresión polinómica. Se usan colores y marcadores diferentes dependiendo de la inversión en publicidad en radio. </p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,color=radioC,shape=radioC)) +
geom_point(size=3.5) +
geom_smooth(method="lm",formula=y ~ poly(x,degree=3),se=FALSE,size=1,linetype="solid") +
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",color="Publicidad\n en radio",shape="Publicidad\n en radio") +
scale_color_manual(values=c("blue","black","red")) +
scale_shape_manual(values=c(15,16,17)) + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>degree</em></strong>: entero positivo</li>
<li><strong><em>se</em></strong>: TRUE, FALSE</li>
</ul>


<p></p><h4> <strong> Ejemplo 11 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>), el cual incluye una curva de tendencia obtenida usando regresión no paramétrica. Se usan colores y marcadores diferentes dependiendo de la inversión en publicidad en radio. </p>

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,color=radioC,shape=radioC)) +
geom_point(size=3.5) +
geom_smooth(method="gam",formula=y ~ s(x,bs="cr"),se=FALSE,size=1,linetype="solid") + 
scale_x_continuous(breaks=seq(from=0,to=300,by=50)) +
scale_y_continuous(breaks=seq(from=0,to=30,by=5)) +
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",color="Publicidad\n en radio",shape="Publicidad\n en radio") +
scale_color_manual(values=c("blue","black","red")) +
scale_shape_manual(values=c(15,16,17)) + mitema


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>bs</em></strong>: "cr" (cubic regression splines), "ps" (P-splines), "tp" (thin plate regression splines)</li>
<li><strong><em>se</em></strong>: TRUE, FALSE</li>
</ul>


<p></p><h4> <strong> Ejemplo 12 </strong> </h4>
<p style="text-align: justify;"> Gráfico de dispersión de las ventas del producto (<em>sales</em>) versus la inversión en publicidad en televisión para el mismo (<em>TV</em>), el cual incluye una curva de tendencia obtenida usando regresión polinómica. Se usan colores, marcadores y paneles diferentes dependiendo de la inversión en publicidad en radio. </p>

In [ ]:


names <- c("Baja","Media baja","Media alta","Alta")
advertising <- within(advertising,newspaperC <- cut_number(newspaper,n=4,labels=names))
with(advertising,table(newspaperC))

In [ ]:


ggplot(advertising,aes(x=TV,y=sales,color=radioC)) +
geom_point(size=3.5,shape=16) +
geom_smooth(method="lm",formula=y ~ poly(x,degree=3),se=FALSE,size=1,linetype="solid") + 
labs(title="Ventas versus inversión en publicidad para TV",x="Publicidad para TV",
     y="Ventas",subtitle="Publicidad en periodico",color="Publicidad\n en radio") +
scale_color_manual(values=c("blue","black","red")) +
facet_wrap(vars(newspaperC),ncol=2,nrow=2,strip.position="top",dir="h",scales="free") + mitema + 
theme(
  plot.subtitle=element_text(face="bold",size=16,vjust=0.5,hjust=0.5,color="salmon"),
  strip.background=element_rect(color="black",fill="gray80",size=1),
  strip.text=element_text(face="bold",size=13,vjust=0.5,hjust=0.5,color="black",angle=0)
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>shape</em></strong>: entero en el intervalo $[0,25]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>degree</em></strong>: entero positivo</li>
<li><strong><em>se</em></strong>: TRUE, FALSE</li>
<li><strong><em>ncol</em></strong>, <strong><em>nrow</em></strong> : enteros positivos               </li>
<li><strong><em>size</em></strong> : números no negativos            </li>
<li><strong><em>strip.position</em></strong> : "top", "bottom", "left", "right"</li>
<li><strong><em>dir</em></strong> : "h", "v"</li>
<li><strong><em>scales</em></strong> : "fixed", "free", "free_x", "free_y"</li>
</ul>


<p></p><h4> <strong> Ejemplo 13 </strong> </h4>
<p style="text-align: justify;"> Gráfico de caja de las ventas por cada nivel de la inversión en publicidad en televisión con un panel por cada nivel de la inversión en publicidad en radio.</p>

In [ ]:


names <- c("Baja","Media baja","Media alta","Alta")
names2 <- c("Baja","Media","Alta")
advertising <- within(advertising,{
                      radioC <- cut_number(radio,n=4,labels=names)
                      TVC <- cut_number(TV,n=3,labels=names2)
                      })
with(advertising,table(radioC))
with(advertising,table(TVC))

In [ ]:


ggplot(advertising,aes(x=TVC,y=sales,fill=TVC)) +
geom_boxplot(outlier.shape=NA,color="black",linetype="solid") +
scale_y_continuous(breaks=seq(from=0,to=25,by=5),limits=c(5,25)) + 
scale_fill_manual(values=c("red","yellow","blue")) + 
labs(subtitle="Inversión en publicidad en radio",
     x="Inversión en publicidad en TV", y="Ventas") +
facet_wrap(vars(radioC),ncol=4,nrow=1,strip.position="top",dir="h",scales="fixed") +
mitema + 
theme(
  legend.position="none",
  plot.subtitle=element_text(face="bold",size=18,vjust=0.5,hjust=0.5,color="blue"),
  strip.background=element_rect(color="black",fill="gray80",size=1),
  strip.text=element_text(face="bold",size=15,vjust=0.5,hjust=0.5,color="black",angle=0)
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>ncol</em></strong>, <strong><em>nrow</em></strong> : enteros positivos               </li>
<li><strong><em>strip.position</em></strong> : "top", "bottom", "left", "right"</li>
<li><strong><em>dir</em></strong> : "h", "v"</li>
<li><strong><em>scales</em></strong> : "fixed", "free", "free_x", "free_y"</li>
<li>Reemplace <strong>_geom<em>boxplot()</em></strong> por <strong>_geom<em>violin()</em></strong> </li>
</ul>


<p></p><h4> <strong> Ejemplo 14 </strong> </h4>
<p style="text-align: justify;"> En estos datos, sacados de <em>Diggle P.J., Heagarty P., Liang K.-Y. y Zeger S.L. (2002) Analysis of Longitudinal Data. Oxford University Press, Oxford</em>, el principal objetivo del análisis es evaluar el efecto de la contaminación por ozono en el crecimiento de los árboles. En un primer grupo (<em>treat=1</em>), se cultivaron un total de 54 árboles en una atmósfera enriquecida con ozono, mientras que en un segundo grupo (<em>treat=0</em>), 25 árboles se cultivaron en una atmósfera normal. El tamaño de cada árbol (<em>size</em>) se observó 13 veces a lo largo del tiempo (<em>days</em>), es decir, 152, 174, 201, 227, 258, 469, 496, 528, 556, 579, 613, 639 y 674 días desde el inicio del experimento.</p>

In [ ]:


install.packages("readr")
library(readr)
spruce <- read_delim("spruce.txt",delim="\t",col_names=TRUE)
spruce <- within(spruce,treat <- factor(treat,labels=c("normal","enriquecida\n con ozono")))
str(spruce)

In [ ]:


ggplot(spruce,aes(x=factor(days),y=size/1000,fill=treat)) + 
geom_boxplot(outlier.shape=NA,color="black",linetype="solid") + 
scale_y_continuous(breaks=seq(from=0,to=150,by=25),limits=c(0,150)) + 
labs(x="Días desde el comienzo del experimento", y="Tamaño", fill="Atmósfera") + 
scale_fill_manual(values=c("salmon2","green2")) + 
mitema + theme(legend.position="right",
               legend.text=element_text(size=14,hjust=0),
               legend.title=element_text(face="bold",size=15))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li>Reemplace <strong>_geom<em>boxplot()</em></strong> por <strong>_geom<em>violin()</em></strong> </li>
<li>Adicione <strong>+ _coord<em>flip()</em></strong></li>
</ul>


<p></p><h4> <strong> Ejemplo 15 </strong> </h4>
<p style="text-align: justify;"> Gráfico de <em>pie</em> que muestra el porcentaje de la población en cada categoria de la variable <em>Region</em>.</p>

In [ ]:


Pobl <- Municipios %>% 
        group_by(Region) %>% 
        summarise(freq=sum(Poblacion)) %>% 
        mutate(percent=round(100*freq/sum(freq),digits=1),
               labels=paste0(str_replace(Region,"Región ",""),"\n (",percent,"%)"))

In [ ]:


ggplot(Pobl,aes(x="",y=freq,fill=Region)) +
  geom_col(color="black",linetype="solid") +
  geom_text(aes(label=labels),position=position_stack(vjust=0.5),size=5.2,fontface="bold") +
  coord_polar(theta="y") +
  labs(title="Distribución de la Población por Región") + 
  scale_fill_brewer(palette="RdBu") + 
  theme(axis.text = element_blank(),axis.ticks = element_blank(),
        axis.title = element_blank(),panel.grid = element_blank(),
        panel.background=element_rect(fill="gray92"),legend.position="none",
        plot.title=element_text(family="sans",face="bold",size=22,
        vjust=0.5,hjust=0.5,color="black"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>fontface</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>palette</em></strong>: "BrBG", "PiYG", "PRGn", "PuOr", "RdBu", "RdGy", "RdYlBu", "RdYlGn",
"Spectral", "Accent", "Dark2", "Paired", "Pastel1", "Pastel2", "Set1", "Set2", "Set3",
"Blues", "BuGn", "BuPu", "GnBu", "Greens", "Greys", "Oranges", "OrRd", "PuBu", "PuBuGn", 
"PuRd", "Purples", "RdPu", "Reds", "YlGn", "YlGnBu", "YlOrBr", "YlOrRd"</li>
</ul>


<p></p><h4> <strong> Ejemplo 16 </strong> </h4>
<p style="text-align: justify;"> Gráfico de <em>pie</em> que muestra el porcentaje de la superficie en cada categoria de la variable <em>Region</em>.</p>

In [ ]:


Supe <- Municipios %>% 
        group_by(Region) %>% 
        summarise(freq=sum(Superficie)) %>% 
        mutate(percent=round(100*freq/sum(freq),digits=1),
               labels=paste0(str_replace(Region,"Región ",""),"\n (",percent,"%)"))

In [ ]:


ggplot(Pobl,aes(x="",y=freq,fill=Region)) +
  geom_col(color="black",linetype="solid") +
  geom_text(aes(label=labels),position=position_stack(vjust=0.5),size=5.2,fontface="bold") +
  coord_polar(theta="y") +
  labs(title="Distribución de la Superficie por Región") + 
  scale_fill_brewer(palette="RdBu") + 
  theme(axis.text = element_blank(),axis.ticks = element_blank(),
        axis.title = element_blank(),panel.grid = element_blank(),
        panel.background=element_rect(fill="gray92"),legend.position="none",
        plot.title=element_text(family="sans",face="bold",size=22,
        vjust=0.5,hjust=0.5,color="black"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>fontface</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>palette</em></strong>: "BrBG", "PiYG", "PRGn", "PuOr", "RdBu", "RdGy", "RdYlBu", "RdYlGn",
"Spectral", "Accent", "Dark2", "Paired", "Pastel1", "Pastel2", "Set1", "Set2", "Set3",
"Blues", "BuGn", "BuPu", "GnBu", "Greens", "Greys", "Oranges", "OrRd", "PuBu", "PuBuGn", 
"PuRd", "Purples", "RdPu", "Reds", "YlGn", "YlGnBu", "YlOrBr", "YlOrRd"</li>
</ul>


<p></p><h4> <strong> Ejemplo 17 </strong> </h4>
<p style="text-align: justify;"> Gráfico de <em>pie</em> que en cada región muestra el porcentaje de la población en cada categoria de la variable <em>Zona</em> .</p>

In [ ]:


Pobl2 <- Municipios %>% 
         group_by(Region,Zona) %>% 
         summarise(freq2=sum(Poblacion)) %>%
         inner_join(Pobl,by=c("Region"="Region")) %>%
         mutate(percent=round(100*freq2/freq,digits=1),
               labels=paste0(Zona,"\n (",percent,"%)"))

In [ ]:


ggplot(Pobl2,aes(x="",y=percent,fill=Zona)) +
  geom_col(color="black",linetype="solid") +
  geom_text(aes(label=labels),position=position_stack(vjust=0.5),size=5.2,fontface="bold") +
  coord_polar(theta="y") +
  labs(title="Distribución de la Población por Zona") + 
  scale_fill_brewer(palette="RdBu") + 
  facet_wrap(vars(Region),ncol=3,nrow=2,strip.position="top",dir="h") + 
  theme(axis.text = element_blank(),axis.ticks = element_blank(),
        axis.title = element_blank(),panel.grid = element_blank(),
        plot.title=element_text(family="sans",face="bold",size=22,vjust=0.5,hjust=0.5,color="black"),
        strip.background=element_rect(color="black",fill="gray80",size=1),
        strip.text=element_text(face="bold",size=15,vjust=0.5,hjust=0.5,color="blue",angle=0),
        panel.background=element_rect(fill="gray92"),legend.position="none")


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>fontface</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li><strong><em>palette</em></strong>: "BrBG", "PiYG", "PRGn", "PuOr", "RdBu", "RdGy", "RdYlBu", "RdYlGn",
"Spectral", "Accent", "Dark2", "Paired", "Pastel1", "Pastel2", "Set1", "Set2", "Set3",
"Blues", "BuGn", "BuPu", "GnBu", "Greens", "Greys", "Oranges", "OrRd", "PuBu", "PuBuGn", 
"PuRd", "Purples", "RdPu", "Reds", "YlGn", "YlGnBu", "YlOrBr", "YlOrRd"</li>
<li><strong><em>ncol</em></strong>, <strong><em>nrow</em></strong> : enteros positivos               </li>
<li><strong><em>strip.position</em></strong> : "top", "bottom", "left", "right"</li>
<li><strong><em>dir</em></strong> : "h", "v"</li>
</ul>


<p></p><h4> <strong> Ejemplo 18 </strong> </h4>
<p style="text-align: justify;"> Gráfico de barras que muestra el número total de municipios por <em>Region</em> y <em>Zona</em> en Colombia.</p>

In [ ]:


ggplot(Municipios, aes(Region)) + 
geom_bar(aes(fill=Zona),position=position_dodge(),width=0.75) + 
scale_y_continuous(breaks=seq(from=0,to=300,by=50)) + 
scale_fill_manual(values=c("yellow","blue")) + 
labs(title="Número de municipios por región", x=" ", y="Número de Municipios") + 
coord_flip() + 
mitema + theme(legend.position="right",
               axis.text.y=element_text(size=18,hjust=1),
               axis.title.x=element_text(color="red"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>width</em></strong>: números en el intervalo $[0,1]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>legend.position</em></strong> : "none", "left", "right", "bottom", "top"</li>
<li>elimine <strong>_+ coord<em>flip()</em></strong></li>
</ul>


<p></p><h4> <strong> Ejemplo 19 </strong> </h4>
<p style="text-align: justify;"> Gráfico de barras que muestra el total de la <em>Superficie</em> por <em>Region</em> y <em>Zona</em> en Colombia.</p>

In [ ]:


ggplot(Municipios, aes(Region)) + 
geom_bar(aes(fill=Zona,weight=Superficie/1000),position=position_dodge(),width=0.75) + 
scale_y_continuous(breaks=seq(from=0,to=500,by=100)) + 
scale_fill_manual(values=c("yellow","blue")) + 
labs(title="Superficie por región", x=" ", y="Superficie, en miles de kilómetros cuadrados") + 
coord_flip() + 
mitema + theme(legend.position="right",
               axis.text.y=element_text(size=18,hjust=1),
               axis.title.x=element_text(color="red"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>width</em></strong>: números en el intervalo $[0,1]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>legend.position</em></strong> : "none", "left", "right", "bottom", "top"</li>
<li>elimine <strong>_+ coord<em>flip()</em></strong></li>
</ul>


<p></p><h4> <strong> Ejemplo 20 </strong> </h4>
<p style="text-align: justify;"> Gráfico de barras que muestra el total de la <em>Poblacion</em> por <em>Region</em> y <em>Zona</em> en Colombia.</p>

In [ ]:


ggplot(Municipios, aes(Region)) + 
geom_bar(aes(fill=Zona,weight=Poblacion/1000),position=position_dodge(),width=0.75) + 
scale_y_continuous(breaks=seq(from=0,to=12500,by=2500)) + 
scale_fill_manual(values=c("yellow","blue")) + 
labs(title="Población por región", x=" ", y="Población, en miles") + 
coord_flip() + 
mitema + theme(legend.position="right",
               axis.text.y=element_text(size=18,hjust=1),
               axis.title.x=element_text(color="red"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>width</em></strong>: números en el intervalo $[0,1]$</li>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>legend.position</em></strong> : "none", "left", "right", "bottom", "top"</li>
<li>elimine <strong>_+ coord<em>flip()</em></strong></li>
</ul>


<p></p><h4> <strong> Ejemplo 21 </strong> </h4>
<p style="text-align: justify;"> Gráfico de barras que muestra el total de la <em>Poblacion</em> por <em>Region</em> y <em>Zona</em> en Colombia.</p>

In [ ]:


ggplot(Municipios, aes(Zona)) + 
geom_bar(aes(fill=Zona,weight=Poblacion/1000),position=position_dodge(),width=0.95,color="black") + 
scale_y_continuous(breaks=seq(from=0,to=12500,by=2500)) + 
scale_fill_manual(values=c("yellow","blue")) + 
labs(title="Población por región", x=" ", y="Población, en miles") + 
facet_wrap(vars(Region),ncol=3,nrow=2,strip.position="top",dir="h",scales="fixed") + mitema + 
theme(
  plot.subtitle=element_text(face="bold",size=16,vjust=0.5,hjust=0.5,color="salmon"),
  strip.background=element_rect(color="black",fill="gray80",size=1),
  strip.text=element_text(face="bold",size=15,vjust=0.5,hjust=0.5,color="black",angle=0),
  axis.title.y=element_text(color="red")  
     )


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>width</em></strong>: números en el intervalo $[0,1]$</li>
<li><strong><em>ncol</em></strong>, <strong><em>nrow</em></strong> : enteros positivos               </li>
<li><strong><em>strip.position</em></strong> : "top", "bottom", "left", "right"</li>
<li><strong><em>dir</em></strong> : "h", "v"</li>
<li><strong><em>scales</em></strong> : "fixed", "free", "free_x", "free_y"</li>
</ul>


<p></p><h4> <strong> Ejemplo 22 </strong> </h4>
<p style="text-align: justify;"> Mapa de Colombia que muestra las diferencias entre los departamentos con respecto al índice de ruralidad promedio ponderado por población. Se destacan los departamentos con valores mayores a 70. Los archivos con extensión shp se descargaron de la página del <a href="https://geoportal.dane.gov.co/servicios/descarga-y-metadatos/descarga-mgn-marco-geoestadistico-nacional/" style="color:black;"> <strong> Dane. </strong> </a></p>

In [ ]:


install.packages("sf")

deptos <- Municipios %>%
          group_by(Departamento,Dep) %>%
          summarise(Irural=sum(Poblacion*Irural)/sum(Poblacion)) %>%
          as.data.frame()
str(deptos)
 
deptoshp <- sf::st_read("MGN_DPTO_POLITICO.shp",quiet=TRUE)
str(deptoshp)

mapdeptos <- deptoshp %>% left_join(deptos,by=c("DPTO_CCDGO"="Dep"))
str(mapdeptos)

mundoshp <- sf::st_read("admin00.shp",quiet=TRUE)
mundocol <- mundoshp %>% 
            filter(CNTRY_NAME %in% c("Peru","Brazil","Venezuela","Ecuador","Panama"))
str(mundocol)

In [ ]:


ggplot() +
geom_sf(data=mundocol) +
geom_sf(data=mapdeptos,aes(fill=Irural),col="darkgray",linetype="solid") +
coord_sf(xlim=c(-79.5,-66.5),ylim=c(-4.5,13),expand=FALSE) +
geom_sf_text(data=mapdeptos,aes(label=ifelse(Irural > 70,Departamento,"")),col="black",
             fontface="bold",size=4,fun.geometry=function(x) sf::st_centroid(x)) +
labs(x="Longitud",y="Latitud",title="Colombia",fill="Índice de\nRuralidad") +
scale_fill_gradient(low="white",high="red",n.breaks=5) +
annotate("text", x=c(-74.5,-68,-78,-69,-78.5), y=c(-2.5,0,-1,9,9), colour="blue",
         label=c("Perú","Brasil","Ecuador","Venezuela","Panamá")) +
theme(panel.background=element_rect(fill="lightblue"))


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>fontface</em></strong>: "plain", "bold", "italic", "bold.italic”</li>
<li>Elimine las líneas 2 y 7 del código arriba</li>
</ul>


<p></p><h4> <strong> Ejemplo 23</strong> </h4>
<p style="text-align: justify;"> Mapa de Cundinamarca que muestra las diferencias entre los departamentos con respecto al índice de ruralidad. Se destacan los municipios con valores mayores a 50. </p>

In [ ]:


mpioshp <- sf::st_read("MGN_MPIO_POLITICO.shp",quiet=TRUE)
str(mpioshp)

cund <- mpioshp %>%
        left_join(Municipios,by=c("MPIO_CCNCT"="Depmun")) %>%
        filter(Dep=="25" | Dep=="11")
str(cund)

In [ ]:


ggplot() +
geom_sf(data=deptoshp) +
geom_sf(data=cund,aes(fill=Irural),col="darkgray",linetype="solid") +
geom_sf_text(data=cund,aes(label=ifelse(Irural > 52,Municipio,"")),col="black",
             fontface="bold",size=3.5,fun.geometry=function(x) sf::st_centroid(x)) +
labs(x="Longitud",y="Latitud",title="Cundinamarca",fill="Índice de\nRuralidad") +
coord_sf(xlim=c(-74.9,-73.0),ylim=c(3.7,5.8)) + 
scale_fill_gradient(low="white",high="red",n.breaks=5)


<h5 id="Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">Modifique el gráfico variando colores y los siguientes parámetros<a class="anchor-link" href="#Modifique-el-gráfico-variando-colores-y-los-siguientes-parámetros">¶</a></h5><ul>
<li><strong><em>size</em></strong>: números no negativos</li>
<li><strong><em>linetype</em></strong>: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"</li>
<li><strong><em>fontface</em></strong>: "plain", "bold", "italic", "bold.italic"</li>
<li>Elimine las líneas 2 y 7 del código arriba</li>
</ul>

## Ejercicios


<p></p><h2 style="color:red;"> Ejercicios</h2><ul>
<li><p style="text-align: justify;"> Use el conjunto de datos en el objeto <em>richness</em> del paquete <em>glmtoolbox</em> de <em>R</em> para construir un gráfico de dispersión del número de especies de plantas (<em>Species</em>) versus el nivel de biomasa (<em>Biomass</em>) de las parcelas, en el que el nivel de pH del suelo (<em>pH</em>), que pertenece a una de tres categorias posibles ("Bajo", "Medio" y "Alto"), se identifica mediante el tipo y el color de los símbolos que identifican cada parcela. En cada nivel del pH del suelo incluya una recta que describa la relación entre <em>Species</em> y <em>Biomass</em>.</p></li>
<li><p style="text-align: justify;"> Use el conjunto de datos en el objeto <em>Ovocytes</em> del paquete <em>ssym</em> de <em>R</em> para construir un gráfico de dispersión que ilustre la evolución en el tiempo (<em>time</em>) de la fracción del volumen celular isotónico inicial (<em>fraction</em>) entre los ovocitos de cabra maduros (<em>type</em>="Mature") e inmaduros (<em>type</em>="Immature"). Incluya una curva suave (regresión polinómica o regresión no paramétrica) que describa la relación entre <em>fraction</em> y <em>time</em> para cada tipo de ovocito de cabra.</p></li>
<li><p style="text-align: justify;"> Use el conjunto de datos en el objeto <em>depression</em> del paquete <em>glmtoolbox</em> de <em>R</em> para construir gráficos de caja que ilustren la evolución en el tiempo (<em>visit</em>) de las diferencias en los valores en la Escala de Depresión Posnatal de Edimburgo (<em>dep</em>) entre las mujeres que fueron tratadas con estrógeno (<em>group</em>="estrogen") y las que fueron tratadas con placebo (<em>group</em>="placebo").</p></li>
<li><p style="text-align: justify;"> Use el conjunto de datos en el objeto <em>cellular</em> del paquete <em>glmtoolbox</em> de <em>R</em> para construir un gráfico de barras que ilustre las diferencias entre el porcentaje de células que exhibieron marcadores de diferenciación (100*<em>cells</em>/200) en todas las combinaciones de las dosis de los dos agentes de inmuno-activación, IFN (<em>ifn</em>) y TNF (<em>tnf</em>), a las que fueron expuestas.</p></li>
<li><p style="text-align: justify;"> Use el conjunto de datos de las elecciones presidenciales en EU para construir mapas que ilustren la evolución en el tiempo del porcentaje de votos para los candidatos de los partidos demócrata y republicano.</p></li>
</ul>

# Optimización no lineal


<p></p><h1 style="color:red;"> <strong> <center>Optimización no lineal </center></strong> </h1>
<h4 style="color:red;"> <center>Algoritmo Broyden, Fletcher, Goldfarb y Shanno (BFGS) </center> </h4>

<h3 id="Ejemplo-1:-Regresión-Logística"><strong>Ejemplo 1: Regresión Logística</strong><a class="anchor-link" href="#Ejemplo-1:-Regresión-Logística">¶</a></h3><p style="text-align: justify;"> Use el conjunto de datos <strong>ossification</strong> del paquete <em>glmtoolbox</em> de R para ajustar un modelo de regresión logística, en que la variable respuesta es el número de fetos con signos de osificación (<em>fetuses</em>) del total de ratones de la camada (<em>litter</em>), mientras que <em>pht</em> (dosis de PHT a la que se expusieron las madres de la camada) y <em>tcpo</em> (dosis de TCPO a la que se expusieron las madres de la camada) son las variables explicativas.

</p><p><img height="950" src="https://r2022.netlify.app/mlgber.png" width="1000"/></p>

In [ ]:


install.packages("glmtoolbox")
library(glmtoolbox)
data(ossification,package="glmtoolbox")

help(ossification)

In [ ]:


y <- ossification$fetuses
m <- ossification$litter
x1 <- ifelse(ossification$pht=="60 mg/kg",1,0)
x2 <- ifelse(ossification$tcpo=="100 mg/kg",1,0)
X <- cbind(1,x1,x2,x1*x2)

loglik <- function(beta){
          mu <- 1/(1 + exp(-X%*%beta))
          return(sum(lchoose(m,y), y*log(mu) + (m-y)*log(1-mu)))
}         
gradient <- function(beta){
            mu <- 1/(1 + exp(-X%*%beta))
            return(t(X)%*%(y-m*mu))
}
y2 <- log(abs(y/m - 0.01)/(1 - abs(y/m - 0.01)))
start <- chol2inv(chol(t(X)%*%X))%*%t(X)%*%y2

out <- optim(par=start,fn=loglik,gr=gradient,method="BFGS",control=list(reltol=1e-15,fnscale=-1),hessian=TRUE)

resumen <- round(cbind(est <- out$par,
                       se <- sqrt(diag(chol2inv(chol(-out$hessian)))),
                       zval <- est/se,
                       p_val <- 2*pnorm(-abs(zval))),digits=6)
colnames(resumen) <- c("Estimate", "Std.Error", "z-value", "Pr(>|z|)")
rownames(resumen) <- c("(Intercept)","pht","tcpo","pht*tcpo")
resumen

cat("\nAIC =",-2*out$value + 2*length(out$par))
cat("\nBIC =",-2*out$value + log(length(y))*length(out$par))

In [ ]:


fit <- glm(cbind(fetuses,litter-fetuses) ~ pht + tcpo + pht*tcpo, family=binomial, data=ossification)
summary(fit)

<h3 id="Ejemplo-2:-Regresión-log-lineal-de-Poisson"><strong>Ejemplo 2: Regresión log-lineal de Poisson</strong><a class="anchor-link" href="#Ejemplo-2:-Regresión-log-lineal-de-Poisson">¶</a></h3><p style="text-align: justify;"> Use el conjunto de datos <strong>swimmers</strong> del paquete <em>glmtoolbox</em> de R para ajustar un modelo de regresión log-lineal de Poisson, en que <em>infections</em> (número de infecciones de oído reportadas por cada recluta) es la variable respuesta, mientras que <em>frequency</em> (frecuencia con que nada cada recluta), <em>location</em> (lugar donde acostumbra a nadar cada recluta) y <em>gender</em> (género de cada recluta) son las variables explicativas.

</p><p><img height="950" src="https://r2022.netlify.app/mlgpoi.png" width="1000"/></p>

In [ ]:


data(swimmers,package="glmtoolbox")
help(swimmers)

In [ ]:


y <- swimmers$infections
x1 <- ifelse(swimmers$frequency=="occasional",1,0)
x2 <- ifelse(swimmers$location=="non-beach",1,0)
x3 <- ifelse(swimmers$gender=="male",1,0)
X <- cbind(1,x1,x2,x3)

loglik <- function(beta){
          mu <- exp(X%*%beta)
          return(sum(-mu + y*log(mu) - lfactorial(y)))
}         
gradient <- function(beta){
            mu <- exp(X%*%beta)
            return(t(X)%*%(y-mu))
}
y2 <- log(y + 0.01)
start <- chol2inv(chol(t(X)%*%X))%*%t(X)%*%y2

out <- optim(par=start,fn=loglik,gr=gradient,method="BFGS",control=list(reltol=1e-15,fnscale=-1),hessian=TRUE)

resumen <- round(cbind(est <- out$par,
                       se <- sqrt(diag(chol2inv(chol(-out$hessian)))),
                       zval <- est/se,
                       p_val <- 2*pnorm(-abs(zval))),digits=6)
colnames(resumen) <- c("Estimate", "Std.Error", "z-value", "Pr(>|z|)")
rownames(resumen) <- c("(Intercept)","frequency","location","gender")
resumen

cat("\nAIC =",-2*out$value + 2*length(out$par))
cat("\nBIC =",-2*out$value + log(length(y))*length(out$par))

In [ ]:


fit <- glm(infections ~ frequency + location + gender, family=poisson, data=swimmers)
summary(fit)

<h3 id="Ejemplo-3:-Modelo-de-sobrevivencia-con-distribución-exponencial-para-datos-con-censura-a-la-derecha"><strong>Ejemplo 3: Modelo de sobrevivencia con distribución exponencial para datos con censura a la derecha</strong><a class="anchor-link" href="#Ejemplo-3:-Modelo-de-sobrevivencia-con-distribución-exponencial-para-datos-con-censura-a-la-derecha">¶</a></h3><p style="text-align: justify;"> Use el conjunto de datos <strong>ovarian</strong> del paquete <em>survival</em> de R para ajustar un modelo de regresión log-lineal con respuesta de distribución exponencial, en que <em>futime</em> (tiempo de sobrevivencia) es la variable respuesta, <em>fustat</em> es el indicador de censura, <em>age</em> (edad, en años) y <em>rx</em> (grupo de tratamiento) son las variables explicativas.

</p><p><img height="950" src="https://r2022.netlify.app/mlgsurv.png" width="1000"/></p>

In [ ]:


install.packages("survival")
library(survival)
data(ovarian,package="survival")
help(ovarian)

In [ ]:


z <- ovarian$futime
x1 <- ovarian$age
x2 <- ovarian$rx 
delta <- ovarian$fustat
X <- cbind(1,x1,x2)

loglik <- function(beta){
          mu <- exp(X%*%beta)
          return(-sum(z/mu + delta*log(mu)))
}         
gradient <- function(beta){
            mu <- exp(X%*%beta)
            return(t(X)%*%(z/mu - delta))
}
z2 <- log(z[delta==1])
X2 <- X[delta==1,]
start <- chol2inv(chol(t(X2)%*%X2))%*%t(X2)%*%z2

out <- optim(par=start,fn=loglik,gr=gradient,method="BFGS",control=list(reltol=1e-15,fnscale=-1),hessian=TRUE)

resumen <- round(cbind(est <- out$par,
                       se <- sqrt(diag(chol2inv(chol(-out$hessian)))),
                       zval <- est/se,
                       p_val <- 2*pnorm(-abs(zval))),digits=6)
colnames(resumen) <- c("Estimate", "Std.Error", "z-value", "Pr(>|z|)")
rownames(resumen) <- c("(Intercept)","age","rx")
resumen

cat("\nAIC =",-2*out$value + 2*length(out$par))
cat("\nBIC =",-2*out$value + log(length(y))*length(out$par))

In [ ]:


fit <- survreg(Surv(futime, fustat) ~ age + rx, ovarian, dist="exponential")
summary(fit)

<h3 id="Ejemplo-4:-Modelo-de-regresión-normal-heteroscedástico"><strong>Ejemplo 4: Modelo de regresión normal heteroscedástico</strong><a class="anchor-link" href="#Ejemplo-4:-Modelo-de-regresión-normal-heteroscedástico">¶</a></h3><p style="text-align: justify;"> Use el conjunto de datos <strong>Auto</strong> del paquete <em>ISLR</em> de R para ajustar un modelo de regresión normal heteroscedástico, en que <em>mpg</em> (rendimiento de cada vehículo, en millas por galón) es la variable respuesta, mientras que <em>horsepower</em> (caballos de fuerza) y <em>weight</em> (peso) son las variables explicativas.

</p><p><img height="950" src="https://r2022.netlify.app/mrnh.png" width="1000"/></p>

In [ ]:


install.packages("ISLR")
data(Auto,package="ISLR")
help(Auto)

In [ ]:


y  <- Auto$mpg
x1 <- log(Auto$horsepower)
x2 <- log(Auto$weight)

loglik <- function(theta){
          mu <- exp(theta[1] + theta[2]*x1 + theta[3]*x2)
          sigma2 <- exp(theta[4] + theta[5]*x1 + theta[6]*x2)
          return(-(1/2)*sum((y - mu)^2/sigma2 + log(2*pi*sigma2)))
}
start <- c(log(mean(y)),0,0,log(var(y)),0,0)
out <- optim(par=start,fn=loglik,method="BFGS",control=list(reltol=1e-15,fnscale=-1),hessian=TRUE)

resumen <- round(cbind(est <- out$par,
                       se <- sqrt(diag(chol2inv(chol(-out$hessian)))),
                       zval <- est/se,
                       p_val <- 2*pnorm(-abs(zval))),digits=6)
colnames(resumen) <- c("Estimate", "Std.Error", "z-value", "Pr(>|z|)")
rownames(resumen) <- c("log(beta0)","horsepower","weight","log(gamma0)","horsepower","weight")
resumen

cat("\nAIC =",-2*out$value + 2*length(out$par))
cat("\nBIC =",-2*out$value + log(length(y))*length(out$par))

In [ ]:


install.packages("numDeriv")
library(numDeriv)
gradient <- function(theta) grad(loglik,theta)
out <- optim(par=start,fn=loglik,gr=gradient,method="BFGS",control=list(reltol=1e-15,fnscale=-1),hessian=TRUE)

resumen <- round(cbind(est <- out$par,
                       se <- sqrt(diag(chol2inv(chol(-out$hessian)))),
                       zval <- est/se,
                       p_val <- 2*pnorm(-abs(zval))),digits=6)
colnames(resumen) <- c("Estimate", "Std.Error", "z-value", "Pr(>|z|)")
rownames(resumen) <- c("log(beta0)","horsepower","weight","log(gamma0)","horsepower","weight")
resumen

cat("\nAIC =",-2*out$value + 2*length(out$par))
cat("\nBIC =",-2*out$value + log(length(y))*length(out$par))

# Funciones personalizadas


<h1 style="color:red;"> <strong> <center>Funciones personalizadas </center></strong> </h1>


<h3 id="Ejemplo-1:-Números-primos"><strong>Ejemplo 1: Números primos</strong><a class="anchor-link" href="#Ejemplo-1:-Números-primos">¶</a></h3>

In [ ]:


primos <- function(n){
   if(missingArg(n)) stop("Introduzca un número entero mayor a 1",call.=FALSE)
   if(!is.numeric(n)) stop("Introduzca un número entero mayor a 1",call.=FALSE)
   if(n<=1 | n!=floor(n)) stop("Introduzca un número entero mayor a 1",call.=FALSE)
   nmax <- max(2,floor(sqrt(n)))
   out <- matrix(0,nrow=nmax,ncol=1)
   m <- n
   id <- 1
   for(i in 2:nmax){
      while(m%%i == 0){
           out[id] <- i
           m <- m/i
           id <- id + 1
      }
   }
   out <- c(out,m); out <- out[out > 1]
   salida <- list(primo=c(out[1]==n),factores=out)
   if(salida$primo) 
     cat("\n",n,"es un número primo")
   else{
       cat("\n",n,"no es un número primo.\n De hecho, ")
       f <- table(salida$factores)
       f2 <- ifelse(f > 1,paste0(rownames(f),"^(",f,")"),rownames(f))
       cat(n,"=",paste0(f2,collapse=" * "),"\n")
   }
   return(invisible(salida))
}

primos(67850)


<h3 id="Ejemplo-2:-Análisis-Exploratorio-Básico"><strong>Ejemplo 2: Análisis Exploratorio Básico</strong><a class="anchor-link" href="#Ejemplo-2:-Análisis-Exploratorio-Básico">¶</a></h3>

In [ ]:


summ <- function(x){
 x2 <- na.omit(x)
 y <- c(quantile(x2,c(0,0.25,0.5,0.75,1)),length(boxplot.stats(x2)$out),sum(is.na(x)))
 y <- c(y[1:6],100*y[6]/length(x),y[7],100*y[7]/length(x))
 names(y) <- c("Min","Q1","Median","Q3","Max","Outliers","(%)Outliers","Missings","(%)Missings")
 return(round(y,digits=2))
}

summ2 <- function(x){
 x2 <- na.omit(x)   
 y <- c(length(unique(x2)),sum(is.na(x)))
 y <- c(y,100*y[2]/length(x))
 names(y) <- c("Levels","Missings","(%)Missings")
 return(round(y,digits=2))
}

eda <- function(datos){
         clases <- sapply(datos,class)
         num <- clases == "numeric" | clases == "integer"
         text <- clases == "character" | clases == "factor"
         out_ <- list()
         if(any(num)){
           cat("\n***Resumen de las variables numéricas***\n\n")
           datos1 <- as.data.frame(datos[,num])
           colnames(datos1) <- colnames(datos)[num]
           out_$numeric <- apply(datos1,2,summ)
           print(out_$numeric)
         }
         if(any(text)){
           cat("\n***Resumen de las variables de texto***\n\n")
           datos2 <- as.data.frame(datos[,text])
           colnames(datos2) <- colnames(datos)[text]
           out_$text <- apply(datos2,2,summ2)  
           print(out_$text)
         }
         missings <- apply(datos,1,function(x) return(sum(is.na(x))))
         if(any(missings > 0)){
           cat("\n***Número de missings por individuo***\n\n")
           miss <- as.matrix(table(missings))
           miss <- cbind(miss,round(100*miss/sum(miss),digits=2))
           colnames(miss) <- c("Frequency","%")
           out_$missings <- miss  
           print(miss)
         }
         return(invisible(out_))                  
}

eda(airquality)
eda(USArrests)
eda(Municipios)

<h3 id="Ejemplo-3:-Análisis-de-Componentes-Principales"><strong>Ejemplo 3: Análisis de Componentes Principales</strong><a class="anchor-link" href="#Ejemplo-3:-Análisis-de-Componentes-Principales">¶</a></h3>

<p><img height="900" src="https://r2022.netlify.app/acp.png" width="850"/></p>

In [ ]:


acp <- function(model,data,matrix=c("corr","cov")){
      matrix <- match.arg(matrix)
      X <- model.frame(model,data=data)
      stdize <- function(x,matrix){
                if(matrix=="corr") return((x-mean(x))/sd(x))
                if(matrix=="cov")  return((x-mean(x)))
      }
      X <- apply(X,2,stdize,matrix=matrix)
      Z <- t(X)%*%X
      vvp <- eigen(Z,symmetric=TRUE)
      vals <- vvp$values
      vals <- cbind(vals,vals/sum(vals),cumsum(vals)/sum(vals))
      colnames(vals) <- c("Eigenvalue","Proportion","Cumulative proportion")
      rownames(vals) <- paste0("PC",1:ncol(X),sep="")
      print(vals,digits=3)
      colnames(vvp$vectors) <- rownames(vals)
      rownames(vvp$vectors) <- colnames(X)
      print(vvp$vectors,digits=5)
      out_ <- list(values=vars, pcs=vvp$vectors)
      return(invisible(out_))
}

acp(~ Murder + Assault + Rape, data = USArrests)

<h3 id="Ejemplo-4:-Modelo-de-regresión-Normal-Lineal"><strong>Ejemplo 4: Modelo de regresión Normal Lineal</strong><a class="anchor-link" href="#Ejemplo-4:-Modelo-de-regresión-Normal-Lineal">¶</a></h3>

<p><img height="900" src="https://r2022.netlify.app/reglin.png" width="850"/></p>

In [ ]:


reglin <- function(model,data){
      mf <- model.frame(model,data=data)
      X <- model.matrix(mf,data=data)
      n <- nrow(X)
      p <- ncol(X)
      y <- model.response(mf)
      cov <- chol2inv(chol(t(X)%*%X))
      b <- cov%*%t(X)%*%y
      rownames(b) <- colnames(X)
      mu <- X%*%b
      sigma2 <- sum((y-mu)^2)/(n-p)
      cov <- sigma2*cov
      r2 <- 1-sum((y-mu)^2)/sum((y-mean(y))^2)
      adj.r2 <- 1 - (1-r2)*((n-1)/(n-p))
      out <- list(coef=b,sigma2=sigma2,cov=cov,r2=r2,adj.r2=adj.r2,fitted=mu)
      class(out) <- "mireglin"
      return(out)
}
coef.mireglin <- function(fit.model){
                   return(fit.model$coef)
}
vcov.mireglin <- function(fit.model){
                   return(fit.model$cov)
}
summary.mireglin <- function(fit){
      p <- length(fit$coef)
      n <- length(fit$fitted)
      t <- fit$coef/sqrt(diag(fit$cov))
      f <- (1/(1-fit$r2)-1)*(n-p)/(p-1)
      a <- cbind(fit$coef,sqrt(diag(fit$cov)),t,1-pf(t^2,1,n-p))
      colnames(a) <- c("Estimate","Std. Error","t value","Pr(>|t|)")
      rownames(a) <- rownames(fit$coef)
      cat("\nCoefficients:\n")
      printCoefmat(a,P.values=TRUE,signif.stars=TRUE,has.Pvalue=TRUE,digits=5,
                   dig.tst=5,signif.legend=TRUE,tst.ind=c(1,2,3))
      cat("\nResidual standard error:",round(sqrt(fit$sigma2),3),"on",n-p,
          "degrees of freedom\n")
      cat("Multiple R-squared:",round(fit$r2,4),",Adjusted R-squared:",
          round(fit$adj.r2,4),"\n")
      cat("F-statistic:",round(f,2)," on",p-1,"and",n-p,"DF,p-value:",
          1-pf(f,p-1,n-p),"\n\n")
}

In [ ]:


data(Auto,package="ISLR")
fit1 <- lm(mpg ~ log(horsepower) + log(weight),data=Auto)
summary(fit1)
coef(fit1)
vcov(fit1)

fit2 <- reglin(mpg ~ log(horsepower) + log(weight),data=Auto)
summary(fit2)
coef(fit2)
vcov(fit2)

<h3 id="Ejemplo-5:-Modelo-de-regresión-logístico"><strong>Ejemplo 5: Modelo de regresión logístico</strong><a class="anchor-link" href="#Ejemplo-5:-Modelo-de-regresión-logístico">¶</a></h3>

<p><img height="900" src="https://r2022.netlify.app/reglogis.png" width="850"/></p>

In [ ]:


reglogis <- function(model,data){
        mf <- model.frame(model,data=data)
        X <- model.matrix(mf,data=data)
        n <- nrow(X)
        p <- ncol(X)
        y <- model.response(mf)
        bNew <- chol2inv(chol(t(X)%*%X))%*%t(X)%*%log(abs(y-0.01)/(1-abs(y-0.01)))
        epsilon <- 0.0000001
        tol <- 1
        iter <- 0
        while(tol > epsilon){
             bOld <- bNew
             mu <- exp(X%*%bOld)/(1+exp(X%*%bOld))
             Xw <- X*matrix(sqrt(mu*(1-mu)),n,p)
             bNew <- bOld + chol2inv(chol(t(Xw)%*%Xw))%*%t(X)%*%(y-mu)
             tol <- max(abs((bNew-bOld)/bOld))
             iter <- iter + 1
        }
        mu <- exp(X%*%bNew)/(1+exp(X%*%bNew))
        Xw <- X*matrix(sqrt(mu*(1-mu)),n,p); cov <- chol2inv(chol(t(Xw)%*%Xw))
        dev <- -2*sum(y*log(mu) + (1-y)*log(1-mu))
        dev0 <- -2*sum(y*log(mean(y)) + (1-y)*log(1-mean(y)))
        out <- list(coef=bNew,cov=cov,deviance=dev,deviance0=dev0,
                    df=n-p,iter=iter,res=y-mu,fitted=mu)
        class(out) <- "mireglogis"
        return(out)
}
coef.mireglogis <- function(fit.model){
                     return(fit.model$coef)
}
vcov.mireglogis <- function(fit.model){
                     return(fit.model$cov)
}
summary.mireglogis <- function(fit){
      p <- length(fit$coef)
      n <- length(fit$fitted)
      z <- fit$coef/sqrt(diag(fit$cov))
      a <- cbind(fit$coef,sqrt(diag(fit$cov)),z,1-pchisq(z^2,1))
      colnames(a) <- c("Estimate","Std. Error","z value","Pr(>|z|)")
      rownames(a) <- rownames(fit$coef)
      cat("\nCoefficients:\n")
      printCoefmat(a,P.values=TRUE,signif.stars=TRUE,has.Pvalue=TRUE,
                   digits=5,dig.tst=5,signif.legend=TRUE,tst.ind=c(1,2,3))
      cat("\n Null deviance:",round(fit$deviance0,3)," on ",n-1,
          " degrees of freedom\n")
      cat("Residual deviance:",round(fit$deviance,3)," on ",n-p,
          " degrees of freedom\n")
      cat("AIC: ",round(fit$deviance + 2*p,3),"\n\n")
      cat("Number of Fisher Scoring iterations:",fit$iter,"\n\n")
}

In [ ]:


data(burn1000,package="aplore3")
burn1000 <- within(burn1000,resp <- ifelse(death=="Alive",1,0))

fit1 <- glm(resp ~ age*tbsa*inh_inj,data=burn1000,family=binomial(link="logit"))
coef(fit1)
vcov(fit1)
summary(fit1)

fit2 <- reglogis(resp ~ age*tbsa*inh_inj,data=burn1000)
coef(fit2)
vcov(fit2)
summary(fit2)

<h3 id="Ejemplo-6:-Muestra-aleatoria-de-la-normal-multivariada"><strong>Ejemplo 6: Muestra aleatoria de la normal multivariada</strong><a class="anchor-link" href="#Ejemplo-6:-Muestra-aleatoria-de-la-normal-multivariada">¶</a></h3>

<p><img height="900" src="https://r2022.netlify.app/rmultnorm.png" width="850"/></p>

In [ ]:


rmnormal <- function(n,mu,Sigma){
      m <- nrow(Sigma)
      R <- chol(Sigma)
      salida <- matrix(rnorm(m*n),m,n)
      salida <- matrix(mu,m,n) + t(R)%*%salida
      salida <- t(salida)
      colnames(salida) <- as.character(c(1:m))
      rownames(salida) <- as.character(c(1:n))
      return(salida)
}

mu <- rep(0, 2)
Sigma <- matrix(c(10,3,3,2),2,2)
mu
Sigma

muestra <- rmnormal(n=10000,mu=mu,Sigma=Sigma)

# Bibliografia

<p></p><h1 style="color:red;"> <strong> <center>Bibliografia</center></strong> </h1>

<img height="600" src="https://r2022.netlify.app/rfds.png" width="600"/>
<img height="600" src="https://r2022.netlify.app/dscpyr.jpg" width="600"/>
<img height="600" src="https://r2022.netlify.app/ar.jpg" width="600"/>